  .header-cell-wrapper {
    .flex-display();
    .flex-direction(column);
    .justify-content(flex-end);
    height: 100%;



    .average-cell,
    .label-cell {
      .flex-display();
    }
    .average-cell {
      .flex-basis(30px);
    }

    .label-cell {
      .flex-basis(26px);
      .scores-cell {
        flex: 1;
      }

    }

    &.student-names {

      .average-cell {
        border-top:  @table-outer-border-width solid @table-outer-border-color;
        border-left: @table-outer-border-width solid @table-outer-border-color;
        padding-left: @left-column-padding - @table-outer-border-width;
        .tutor-icon {
          margin-left: 0.5rem;
          align-self: center;
          font-size: 75%;
          color: @link-color;
        }


      }
      .scores-cell {
        .header-cell { justify-content: flex-start; }
        .student-name{ padding-left: @left-column-padding; }
      }
    }

  }

  .header-cell {
    .no-select();
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    border-right: 1px solid @nav-tabs-border-color;

    &.sortable {
      font-size: 1.2rem;
      background-color: @student-header-bg-color;
      &:not(.is-descending):not(.is-ascending):hover::after { content: @fa-var-sort-desc; }
      &.is-descending:hover::after { content: @fa-var-sort-asc;  }
      &.is-ascending:hover::after  { content: @fa-var-sort-desc; }
    }

    &.is-ascending,
    &.is-descending,
    &.sortable:hover {
      &:after {
        position: absolute;
        right: 6px;
        top: 6px;
        .fa-icon();
      }
    }
    &.is-ascending::after  { content: @fa-var-sort-asc;  }
    &.is-descending::after { content: @fa-var-sort-desc; }

    &[data-assignment-type] {
//      height: 100%;
    }

    &.group.title {
      .tutor-plan-set(heading);
      .flex(1);
      padding: 8px;
      cursor: default;
      text-align: center;
    }
    &.sortable:hover {
      background: lighten(@student-header-bg-color, 4%);
      .transition(background 0.2s);
    }
  }

  .group-header {
    .flex(1);
    .flex-display();
    .flex-direction(column);

    .due {
      text-align: center;
      font-weight: normal;
      font-size: 1.2rem;
      font-style: italic;
      color: lighten(@tutor-neutral, 10%);

      border-right: 1px solid @nav-tabs-border-color;
    }
  }



  .assignment-header-cell {
    padding: 0;
    > div {
      display: block;
      width: 100%;
//      height: @average-header-row-height;
      padding-left: @left-column-padding;
    }

    &[data-assignment-type] {
      font-weight: 400;
    }


    // &.student-names {
    //   border-top: @table-outer-border-width solid @table-outer-border-color;
    // }

    // .average-label {
    //   border-left:   @table-outer-border-width solid @table-outer-border-color;
    //   text-align: center;
    //   .student-header {
    //     border-bottom: @table-outer-border-width solid @table-outer-border-color;
    //   }

    //   .help {
    //     font-style: italic;
    //     font-size: 1.2rem;
    //     color: @tutor-neutral;
    //   }

    //   .tutor-icon {
    //     color: @link-color;
    //   }
    // }
    .average-cell {
      padding: 0;
      font-weight: normal;
      background-color: white;
      border-top: @thick-grey-border;
      > span {
//        line-height: @average-header-row-height;
        display: inline-block;
        width: 50%;
        text-align: center;
        border-right: 1px solid @nav-tabs-border-color;
        &.click-rate {
          width: 100%;
        }
      }

      .average {
        font-weight: 600;
//        border-right: 1px solid @nav-tabs-border-color;
        &.wide {
          width: 100%;
        }
      }

      .review-link {
        &.wide {
          width: 100%;
        }
      }
    }

    .label-cell {
      padding: 0px;
      font-weight: normal;
    }

  }



  .overall-average-cell {
    flex: 1;
    text-align: center;
    background: @tutor-info-bg;
//    padding-top: 11px;
//    padding: 0;
    font-weight: normal;
    .overall-border-style();
    border-bottom: 0;
    .average-cell {
//      height: @average-header-row-height+1;

      border-width: 2px;
      border-top: @thick-grey-border;
      border-bottom: 0;

      span {
        .align-center();
      }

      &:first-child {
        border-top: @table-outer-border-width solid @table-outer-border-color;
        margin-bottom: 2px;
      }

    }
    .label-cell {
//      .overall-border-style();
      background: @student-header-bg-color;
      borderom-bottom: 0;
      border-top: 0;
    }
  }
