.header-cell-wrapper {
  @row-height: 30px;
  @short-row-height: 26px;

  height: 100%;
  line-height: normal;

  .flex-display();
  .flex-direction(column);
  .justify-content(flex-end);

  .expanded-header-row {
    .flex(1);
    .flex-display();
    .flex-direction(column);
  }

  .header-row {
    .flex-display();
    .flex-basis(@row-height);
    > * {
      height: @row-height;
      display: flex;
      align-items: center;
      .justify-content(center);
    }
    &.short {
      .flex-basis(@short-row-height);
      > * {
        height: @short-row-height;
      }
    }
  }

  &.student-names {
    .header-row {
      border-top:  @table-outer-border-width solid @table-outer-border-color;
      border-left: @table-outer-border-width solid @table-outer-border-color;
      padding-left: @left-column-padding - @table-outer-border-width;
      &.short {
        background: @student-header-bg-color;
        .sortable { justify-content: space-between; }
      }
      .align-items(center);
      .tutor-icon {
        margin-left: 0.5rem;
        .align-self(center);
        font-size: 75%;
        color: @link-color;
      }
    }
  }

  &.overall-average {
    .flex(1);
    .overall-border-style();
    background: @tutor-info-bg;
    font-weight: normal;
    border-bottom: 0;
    > * {
      justify-content: center;
      text-align: center;
    }
    .overall-header-cell {
      line-height: @row-height;
    }
    .header-row {
      border-width: 2px;
      border-top: @thick-grey-border;
      border-bottom: 0;
      &.short {
        background: @student-header-bg-color;
        borderom-bottom: 0;
        border-top: 0;
      }
    }
  }

  &.assignment {

    &[data-assignment-type] {
      font-weight: 400;
    }

    .due, .click-rate {
      width: 100%;
      text-align: center;
      font-weight: normal;
      font-size: 1.2rem;
      line-height: @row-height;
      font-style: italic;
      color: @tutor-neutral-lite;
      border-right: 1px solid @nav-tabs-border-color;
    }

    .header-row {
      font-weight: normal;
      border-top: @thick-grey-border;
      .average {
        width: 50%;
        font-weight: 600;
        border-right: 1px solid @nav-tabs-border-color;
        &.wide {
          width: 100%;
        }
      }
      .review-link {
        border-right: 1px solid @nav-tabs-border-color;
        width: 50%;
        &.wide {
          width: 100%;
        }
      }
      .scores-cell {
        width: 100%;
        text-align: center;
        border-right: 1px solid @nav-tabs-border-color;
        &.click-rate {
          width: 100%;
        }
      }
    }
  }


  .header-cell {
    .no-select();
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    border-right: 1px solid @nav-tabs-border-color;
    &.sortable {
      font-size: 1.2rem;
      background-color: @student-header-bg-color;
      &:not(.is-descending):not(.is-ascending):hover::after { content: @fa-var-sort-desc; }
      &.is-descending:hover::after { content: @fa-var-sort-asc;  }
      &.is-ascending:hover::after  { content: @fa-var-sort-desc; }
    }
    &.is-ascending,
    &.is-descending,
    &.sortable:hover {
      &:after {
        position: absolute;
        right: 6px;
        top: 6px;
        .fa-icon();
      }
    }
    &.is-ascending::after  { content: @fa-var-sort-asc;  }
    &.is-descending::after { content: @fa-var-sort-desc; }
    &.group.title {
      .tutor-plan-set(heading);
      .flex(1);
      padding: 8px;
      cursor: default;
      text-align: center;
    }
    &.sortable:hover {
      background: lighten(@student-header-bg-color, 4%);
      .transition(background 0.2s);
    }
  }

}
