$openstax-book-white: rgb(255, 255, 255);
$openstax-book-gray: rgb(94, 96, 98);
$openstax-book-brighter-green: rgb(119, 175, 66);
$openstax-book-green: $tutor-secondary;
$openstax-book-blue: $tutor-tertiary;
$openstax-book-yellow: $tutor-quaternary;
$openstax-book-orange: $tutor-primary;
$openstax-book-warmer-blue: rgb(0, 36, 106);

$openstax-gold: rgb(254, 189, 62);        // #FDBD3E

$openstax-book-blue-accent: rgb(40, 55, 124);
$openstax-book-green-accent: lighten($openstax-book-green, 5%);
$openstax-book-yellow-accent: lighten($openstax-book-yellow, 12%);
$openstax-book-orange-accent: lighten($openstax-book-orange, 5%);
$openstax-book-gray-accent: lighten($openstax-book-gray, 5%);
$openstax-book-brighter-green-accent: lighten($openstax-book-brighter-green, 5%);

$openstax-book-default-fg: $openstax-book-brighter-green;
$openstax-book-default-bg: $openstax-book-gray;
$openstax-book-default-accent: $openstax-book-gray-accent;
$openstax-book-default-fg-inverse: $openstax-gold;

$openstax-book-text-on-dark-labels: #fff;
// NOTE:
//  * The 'biology' and 'physics' codes are deprecated, but are retained for older courses that may have them
//  * These must be kept in sync with the books in src/flux/course-information.coffee
$openstax-books: (
  default: (
    primary    : $openstax-book-default-fg,
    secondary  : $openstax-book-default-bg,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : lighten($tutor-primary, 5%),
  ),
  physics: (
    primary    : $openstax-book-green,
    secondary  : $openstax-book-blue,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(119, 175, 65), // green
    quaternary : rgb(244, 208, 25), // yellow
    highlight  : rgb(255, 255, 187), // pale yellow
    accent     : $openstax-book-blue-accent,
  ),
  hs_physics: (
    primary    : $openstax-book-green,
    secondary  : $openstax-book-blue,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(119, 175, 65), // green
    quaternary : rgb(244, 208, 25), // yellow
    highlight  : rgb(255, 255, 187), // pale yellow
    accent     : $openstax-book-blue-accent,
  ),
  college_physics: (
    primary    : $openstax-book-green,
    secondary  : $openstax-book-blue,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(119, 175, 65), // green
    quaternary : rgb(244, 208, 25), // yellow
    highlight  : rgb(255, 255, 187), // pale yellow
    accent     : $openstax-book-blue-accent,
  ),
  biology: (
    primary    : $openstax-book-gray,
    secondary  : $openstax-book-brighter-green,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(35, 48, 102), // dark blue
    quaternary : rgb(244, 208, 25), // yellow
    accent     : $openstax-book-brighter-green-accent,
    highlight  : rgb(255, 255, 187), // pale yellow
  ),
  ap_biology: (
    primary    : $openstax-book-gray,
    secondary  : $openstax-book-brighter-green,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(35, 48, 102), // dark blue
    quaternary : rgb(244, 208, 25), // yellow
    accent     : $openstax-book-brighter-green-accent,
    highlight  : rgb(255, 255, 187), // pale yellow
  ),
  concepts_biology: (
    primary    : $openstax-book-gray,
    secondary  : $openstax-book-brighter-green,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(35, 48, 102), // dark blue
    quaternary : rgb(244, 208, 25), // yellow
    accent     : $openstax-book-brighter-green-accent,
    highlight  : rgb(255, 255, 187), // pale yellow
  ),
  college_biology: (
    primary    : $openstax-book-gray,
    secondary  : $openstax-book-brighter-green,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : rgb(35, 48, 102), // dark blue
    quaternary : rgb(244, 208, 25), // yellow
    accent     : $openstax-book-brighter-green-accent,
    highlight  : rgb(255, 255, 187), // pale yellow
  ),
  principles_economics: (
    primary    : $openstax-book-gray,
    secondary  : $openstax-book-white,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : lighten($tutor-primary, 5%),
  ),
  macro_economics: (
    primary    : $openstax-book-brighter-green,
    secondary  : $openstax-book-gray,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : lighten($tutor-primary, 5%),
  ),
  micro_economics: (
    primary    : $openstax-book-yellow,
    secondary  : $openstax-book-gray,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : lighten($tutor-primary, 5%),
  ),
  intro_sociology: (
    primary    : $openstax-book-warmer-blue,
    secondary  : $openstax-book-yellow,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : lighten($tutor-primary, 5%),
  ),
  anatomy_physiology: (
    primary    : $openstax-book-orange,
    secondary  : $openstax-book-gray,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : lighten($tutor-primary, 5%),
  ),
  ap_us_history: (
    primary    : $openstax-book-orange,
    secondary  : $openstax-book-blue,
    text       : $openstax-book-text-on-dark-labels,
    tertiary   : $tutor-tertiary,  // dark blue
    quaternary : $tutor-quaternary,
    highlight  : $tutor-highlight,
    accent     : $openstax-book-blue-accent,
  ),
);

@function openstax-book-color($book, $type) {
  @if map-has-key($openstax-books, $book) {
    $book-map: map-get($openstax-books, $book);
    @if map-has-key($book-map, $type) {
      @return map-get($book-map, $type);
    }
    @warn 'book `#{$book}` was found but does not have a color for #{$type}';
    @return null;
  }
  @warn 'Unknown book thumbnail: `#{$book}`';
  @return null;
}


// books that we have thumbnails for.  Some appearance codes share thumbnails
$openstax-book-thumbnails: (
  intro_sociology : 'sociology-book-thumbnail.png',
  physics         : 'hs_physics-book-thumbnail.png',
  hs_physics      : 'hs_physics-book-thumbnail.png',
  college_physics : 'college_physics-book-thumbnail.png',
  biology         : 'biology-book-thumbnail.png',
  ap_biology      : 'biology-book-thumbnail.png',
  college_biology : 'biology-book-thumbnail.png',
  ap_us_history   : 'ap_us_history-book-thumbnail.png',
);

@mixin book-content-thumbnail($book) {
  @if map-has-key($openstax-book-thumbnails, $book) {
    @include tutor-background-image('courses/#{map-get($openstax-book-thumbnails, $book)}');
  } @else {
    @warn 'Unknown book thumbnail: `#{$book}`';
  }
}



// $openstax-book-fg-colors: (
// //  default:              ,
//   physics:              $openstax-book-green,
//   hs_physics:           $openstax-book-green,
//   college_physics:      $openstax-book-green,
//   biology:              $openstax-book-gray,
//   ap_biology:           $openstax-book-gray,
//   concepts_biology:     $openstax-book-gray,
//   college_biology:      $openstax-book-gray,
//   principles_economics: $openstax-book-gray,
//   macro_economics:      $openstax-book-brighter-green,
//   micro_economics:      $openstax-book-yellow,
//   intro_sociology:      $openstax-book-warmer-blue,
//   anatomy_physiology:   $openstax-book-orange,
//   ap_us_history:        $openstax-book-orange,
// );

// $openstax-book-bg-colors: (
//   default:
//   physics:              $openstax-book-blue,
//   hs_physics:           $openstax-book-blue,
//   college_physics:      $openstax-book-blue,
//   biology:              $openstax-book-brighter-green,
//   ap_biology:           $openstax-book-brighter-green,
//   concepts_biology:     $openstax-book-brighter-green,
//   college_biology:      $openstax-book-brighter-green,
//   principles_economics: $openstax-book-white,
//   macro_economics:      $openstax-book-gray,
//   micro_economics:      $openstax-book-gray,
//   intro_sociology:      $openstax-book-yellow,
//   anatomy_physiology:   $openstax-book-gray,
//   ap_us_history:        $openstax-book-blue,
// );


// // books that should use a different color for portions of the fg text
// $openstax-book-fg-inverse-codes: (
//   intro_sociology,
//   anatomy_physiology,
// );


// @function book-bg-color($book) {
//   @if map-has-key($openstax-book-bg-colors, $book) {
//     @return map-get($openstax-book-bg-colors, $book);
//   }
//   @warn 'Unknown book: `#{$book}`';
//   @return null;
// }


// @function book-fg-color($book) {
//   @if map-has-key($openstax-book-fg-colors, $book) {
//     @return map-get($openstax-book-fg-colors, $book);
//   }
//   @warn 'Unknown book: `#{$book}`';
//   @return null;
// }


// intro_sociology) { @mixin tutor-background-image("courses/sociology-book-thumbnail.png");       }
// .book-content-thumbnail(physics)         { .tutor-background-image("courses/hs_physics-book-thumbnail.png");      }
// .book-content-thumbnail(hs_physics)      { .tutor-background-image("courses/hs_physics-book-thumbnail.png");      }
// .book-content-thumbnail(college_physics) { .tutor-background-image("courses/college_physics-book-thumbnail.png"); }
// .book-content-thumbnail(biology)         { .tutor-background-image("courses/biology-book-thumbnail.png");         }
// .book-content-thumbnail(ap_biology)      { .tutor-background-image("courses/biology-book-thumbnail.png");         }
// .book-content-thumbnail(college_biology) { .tutor-background-image("courses/biology-book-thumbnail.png");         }
// .book-content-thumbnail(ap_us_history)   { .tutor-background-image("courses/ap_us_history-book-thumbnail.png");   }



// $openstax-book-default-fg: $openstax-book-brighter-green;
// $openstax-book-default-bg: $openstax-book-gray;

// Physics

//$openstax-book-physics-bg: $openstax-book-blue;
$openstax-book-physics-accent: $openstax-book-blue-accent;

// $openstax-book-hs_physics-bg: $openstax-book-blue;
$openstax-book-hs_physics-accent: $openstax-book-blue-accent;

// $openstax-book-college_physics-bg: $openstax-book-blue;
$openstax-book-college_physics-accent: $openstax-book-blue-accent;

// Biology

// $openstax-book-biology-bg: $openstax-book-brighter-green;
$openstax-book-biology-accent: $openstax-book-brighter-green-accent;

// $openstax-book-ap_biology-bg: $openstax-book-brighter-green;
$openstax-book-ap_biology-accent: $openstax-book-brighter-green-accent;
// $openstax-book-college_biology-fg: $openstax-book-gray;
$openstax-book-college_biology-bg: $openstax-book-brighter-green;
$openstax-book-college_biology-accent: $openstax-book-brighter-green-accent;

//$openstax-book-concepts_biology-fg: $openstax-book-yellow;
$openstax-book-concepts_biology-bg: $openstax-book-orange;
$openstax-book-concepts_biology-accent: $openstax-book-orange-accent;

// History
// $openstax-book-ap_us_history-fg: $openstax-book-orange;
// $openstax-book-ap_us_history-bg: $openstax-book-blue;
$openstax-book-ap_us_history-acccent: $openstax-book-blue-accent;

// Social Sciences
// $openstax-book-principles_economics-fg: $openstax-book-gray;
// $openstax-book-principles_economics-bg: $openstax-book-white;
$openstax-book-principles_economics-accent: $openstax-book-white;

// $openstax-book-macro_economics-fg: $openstax-book-brighter-green;
// $openstax-book-macro_economics-bg: $openstax-book-gray;
$openstax-book-macro_economics-accent: $openstax-book-gray-accent;

// $openstax-book-micro_economics-fg: $openstax-book-yellow;
// $openstax-book-micro_economics-bg: $openstax-book-gray;
$openstax-book-micro_economics-accent: $openstax-book-gray-accent;

// $openstax-book-intro_sociology-fg: $openstax-book-warmer-blue;
// $openstax-book-intro_sociology-bg: $openstax-book-yellow;
$openstax-book-intro_sociology-fg-inverse: $openstax-book-blue-accent;
$openstax-book-intro_sociology-accent: $openstax-book-yellow-accent;

// $openstax-book-anatomy_physiology-fg: $openstax-book-orange;
$openstax-book-anatomy_physiology-fg-inverse: $openstax-book-blue-accent;
//$openstax-book-anatomy_physiology-bg: $openstax-book-gray;
$openstax-book-anatomy_physiology-accent: $openstax-book-gray-accent;
