.student-dashboard {
  .card.empty {
    padding: 20px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    .spinner {
      margin-right: 1rem;
    }

    &.pending {
      margin-top: 5rem;
      &.upcoming {
        display: none;
      }
    }
  }
}
