.student-dashboard {

  .task {
    background: $tutor-white;
    position: relative;
    display: flex;
    width: 100%;
    color: $tutor-neutral-darker;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    height: $student-dashboard-row-height;
    min-height: $student-dashboard-row-height;
    max-height: $student-dashboard-row-height;
    border-top: thin dotted $tutor-neutral-light;


    &.deleted:not(.viewable) {
      cursor: default;
      background-color: $tutor-neutral-lightest;
    }
    .icon {
      background-position: center;
      margin: 0 1rem;
      height: 100%;
      background-size: auto;
    }
    .feedback {
      .ox-icon {
        margin-left: 0.5rem;
      }
    }

    .btn.hide-task {
      padding: 5px 7px;
    }

    // A task that is viewable can be clicked
    &.viewable {
      cursor: pointer;
      &:hover {
        background-color: $tutor-neutral-lightest;
        .icon { @include tutor-icon-active(1.2); }
      }
    }
    &.deleted {
      color: $tutor-neutral;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
    transition: all 0.1s ease-in;

  }
  .not-open-notice {
    border-top: thin dotted $tutor-neutral-light;
  }
  .not-open-notice + .task {
    border-top: 0;
  }
}

.student-dashboard-instructions-popover {
  @include tutor-popover();
}
