$answer-label-color: $tutor-neutral-dark;
$correct-answer-color: $tutor-correct-color;
$wrong-answer-color: $tutor-incorrect-color;
$answer-vertical-spacing: 5px;
$free-response-color: $tutor-neutral-dark;
$free-response-background:  $tutor-neutral-lighter;

@mixin answer() {
  display: flex;
  align-items: center;
  margin: $answer-vertical-spacing 0,
}

@mixin answer-label() {
  display: inline-block;
  margin-left: -120px;
  width: $tutor-card-body-padding-horizontal;
  text-align: right;
  padding-right: 8px;
}


@mixin answer-text-label() {
  @include tutor-script-font(1.4rem);
  color: $answer-label-color;
}

@mixin answer-icon-label() {
//  @include fa-icon();
  font-size: 3.5em;
  font-weight: normal;
  color: inherit;
}

.openstax-exercise {
  &:focus { outline: none; }
  .card-body:focus { outline: none; }
  .openstax-question:focus { outline: none; }
  #errata-link {
    margin-right: 2rem;
  }
}

.openstax-question {

  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.68em;
  padding: $tutor-card-body-padding;
  @media (max-width: $tutor-card-padding-collapse-breakpoint) {
    padding: $tutor-card-body-narrow-padding;
  }
  padding-right: 20px;
  @include tutor-sans-font(1.8rem, 2.4rem);

  .answers-answer {
    min-width: 2rem;
    &::before {
      @include answer-label();
      @include answer-icon-label();
      text-align: center;
      width: 40px;
      font-size: 2rem;
      content: ' ';
      @media (max-width: $tutor-card-padding-collapse-breakpoint) {
        width: 50px;
        margin-left: -90px;
      }
      line-height: 2.4rem;
    }
    .correct-incorrect {
      margin-right: 2rem;
    }
    .selected-count {
      display: inline-block;
      width: 2.4rem;

      @media (max-width: $tutor-card-padding-collapse-breakpoint) {
        width: 40px;
      }

      &::before {
        content: attr(data-count);
      }
      &::after {
        content: attr(data-percent) '%';
        display: none;
      }

      &:hover {
        &::before {
          display: none;
        }
        &::after {
          display: inline;
        }
      }
    }
  }

  .answers-table {
    .answers-answer {
      @include answer();
    }
  }

  .teacher-review-answers {
    .panel,
    .panel-heading + .panel-collapse > .panel-body {
      border: none;
    }

    &.card {
      @include box-shadow(none);
      border-width: 0;
      &.is-expandable:not(.active) {
        @include height-limited-card(250px);
      }
      > .card-body {
        color: $free-response-color;
        background: transparent;
        border-bottom: 0;
        a, span {
          color: $free-response-color;
          font-weight: normal;
          @include tutor-sans-font(1.4rem);
        }
      }

      &.active {
        .free-response[data-student-names] {
          &::before {
            content: attr(data-student-names);
          }
        }
      }
    }

    .free-response {
      font-style: italic;
      font-weight: 300;
      color: $free-response-color;
      background: $free-response-background;
      border-left: 0px;
      margin: 0 0 0.25rem 0;

      &[data-student-names] {
        &::before {
          @include answer-text-label();
          line-height: 1.25em;
          display: inline-block;
          margin-left: -255px;
          margin-right: 1rem;
          width: 230px;
          text-align: right;
          padding-right: 30px;
        }
      }
    }


    .panel-title {
      display: block;
      > a {
        @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
        @include btn-round();
        @include btn-tutor-default();
        float: none;
        text-decoration: none;
        margin: 0;

        &:hover {
          background: $tutor-neutral-lightest;
        }
      }
    }

    &.has-no-answers {
      .panel-body {
        display: none;
      }
      .panel-title {
        font-weight: 100;
        color: $answer-label-color;
      }
    }
  }

}
