&-exercise {
  .exercise-typography();

  @{placeholder-selector} {
    font-style: italic;
  }

  .exercise-stimulus {
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    min-height: 8em;
    line-height: 1.5em;
    margin: 1em 0 0 0;
    padding: 0.75em;

    &[disabled] {
      border: none;
    }
  }

}

&-exercise-card, &-multipart-exercise-card {
  position: relative;
  .exercise-identifier-link {
    position: absolute;
    right: @answer-horizontal-spacing;
    bottom: @answer-vertical-spacing;
    color: @answer-label-color;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

&-multipart-exercise-card {
  .card-body {
    margin-bottom: 4rem;
  }

  .openstax-multipart-exercise-card-label {

    position: relative;
    display: inline-block;
    width: 100%;
    left: -30px;
    top: -20px;

    &::before {
      .x-icon-bg('multipart');
      .x-icon-size(20px);
      background-position: left;
      content: ' ';
      line-height: 20px;
      padding-right: 25px;
    }

    &::after {
      content: 'Multi-part question';
      line-height: 20px;
      font-weight: normal;
      display: inline-block;
      position: absolute;
      .opacity(0.75);
    }
  }
}
