.course-scores-report {
  .controls-wrapper > .controls {

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include tutor-sans-neutral-light-font(14px);

    justify-content: space-between;

    .export-controls {
      display: flex;
      flex-wrap: wrap;
      > * { margin-left: 1rem; }
    }
    .btn {
      width: 50px;
      height: 30px;
      text-align: center;
      border-radius: 0;
      display: inline-flex;
      padding: 0;
      align-items: center;
      justify-content: center;
      @include tutor-sans-font(14px);
      background-color: $tutor-white;
      color: $tutor-neutral-dark;
      border: 0;
      &.selected,
      &.active {
        background-color: $tutor-neutral-light;
      }

    }

    .job {
      font-weight: 200;
      font-size: 14px;
      .busy {
        font-style: italic;
      }
    }

    .scores-push,
    .scores-export {
      .btn {
        margin: 0 0.5rem;
      }
    }

    .filter-group {
      height: 30px;
      margin: 0 1rem;
    }

  }
}
