.header-cell-wrapper {

  height: 100%;
  min-width: 100%;
  padding: 0;
  line-height: normal;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  .expanded-header-row {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .header-row {
    display: flex;
    flex-basis: $scores-row-height;
    > * {
      height: $scores-row-height;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.overview-row {
      flex-basis: $scores-overview-row-height;
      background-color: $tutor-neutral-cool;
      border-top: $scores-thick-grey-border;

      > * {
        height: $scores-overview-row-height;
      }
    }
  }

  &.student-names {
    justify-content: flex-end;

    .header-row {
      font-weight: 500;
      white-space: nowrap;
      align-items: center;

      border-top-width: 0 !important;

      .header-cell {
        border-top: $scores-thick-grey-border;
        justify-content: start;
        padding-left: 8px;
        background-color: $tutor-neutral-cool;
      }

      .icon {
        margin-left: 0.5rem;
        align-self: center;
        font-size: 75%;
      }
    }
  }

  &.assignment {

    &[data-assignment-type] {
      font-weight: 400;
    }

    .due, .click-rate {
      width: 100%;
      text-align: center;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: $scores-row-height;
    }

    .header-row {
      font-weight: normal;

      > * {
        width: 50%;
        &:only-child { // override "split" styling if it's the only child
          width: 100%;
        }
        &:last-child {
          border-right: 0;
        }
      }

      .scores-cell {
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }


  .header-cell {
    @include no-select();
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    &.sortable {
      background-color: $scores-student-header-bg-color;
      .ox-icon { margin-right: 0.5rem; }
    }
    &.group.title {
      // border-top rules are defaults for the cell and are overridden by .tutor-plan-set() mixin
      // for various assignment types
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: $nav-tabs-border-color;
      @include tutor-plan-set(heading);
      flex: 1;
      padding: 8px;
      cursor: default;
      text-align: center;
      flex-basis: $scores-group-row-height;
    }

    &.sortable:hover {
      background: lighten($scores-student-header-bg-color, 4%);
      @include transition(background 0.2s);
    }
  }

}
