$modal-header-font-size: 16px;

$set-weights-modal-header-height: 75px;
$set-weights-modal-header-padding: ($set-weights-modal-header-height - $modal-header-font-size) / 2;
$set-weights-modal-padding: 30px;

.set-weights.modal {
  font-size: 1.6rem;

  .modal-header {
    font-weight: bolder;
    padding: $set-weights-modal-header-padding $set-weights-modal-padding;
  }

  .modal-body {
    padding: $set-weights-modal-padding;
  }

  .modal-footer {
    padding: 0 $set-weights-modal-padding $set-weights-modal-padding $set-weights-modal-padding;

  }

  @include media-breakpoint-down('sm') {
    .modal-dialog {
      width: 540px;
    }
  }

  .set-weights--external-link {
    .fa {
      margin-left: 0.3rem;
    }
  }

  .header {
    text-align: right;
    @include tutor-sans-neutral-light-font(14px);
  }

  .weights-controls--wrapper {
    margin: 30px 70px 20px 70px;
  }

  .weight {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    font-weight: normal;
    :first-child {
      flex: 1;
    }
    input {
      height: 50px;
      width: 75px;
      padding: 1rem;
      margin-right: 0.5rem;
      text-align: right;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
    }
  }

  .weights-set {
    display: flex;
    justify-content: flex-end;
    min-height: 21px;

    .btn-link {
      padding: 0;
    }
  }

  .weights-msg {
    color: $dull-blue;
    line-height: 2rem;
    margin: 20px 0 0 0;

    &.invalid {
      color: $form-error-color;
    }
    &.valid {
      color: $openstax-correct-color;
    }
    .fa {
      font-size: 2rem;
      margin-right: 0.3rem;
    }
  }

}
