.reference-book.tutor-navbar {

  $navbar-spacing: 15px;

  .menu-toggle {
    cursor: pointer;
    @include tutor-top-navbar-item();
    padding-right: 1rem;
    margin-right: 1rem;
    &.open {
      border-right: 1px solid $tutor-neutral-light;
      background: $tutor-neutral-lightest;
    }
  }

  .section-title {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 0 0 0 2rem;
    display: flex;
    max-width: calc(100vw - 550px);
    .chapter-section {
      margin-right: 0.5rem;
      text-align: center;
    }
    .title {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .teacher-content-toggle {
    &.has-content {
      cursor: pointer;
    }
    background: transparent;
    border: 0;
  }
}
