.task-teacher-review {
  .col-sm-4 {
    margin: 0;
  }
  .reading-stats.panel {
    margin: 0;
  }

  @import './question';
}

.pinned-on {
  .reading-stats {
    position: fixed;
    width: inherit;
  }
}
