.question {

  #fonts > .sans(1.8rem, 2.4rem);

  .answers-answer {

    &::before {
      .answer-label();
      .answer-icon-label();
      text-align: center;
      width: 80px;
      font-size: 2rem;
      margin-top: 14px;
    }

    .selected-count {
      display: inline-block;
      #fonts > .sans(1.8rem, 2.4rem);

      &::before {
        content: attr(data-count);
      }
      &::after {
        content: attr(data-percent) '%';
        display: none;
      }

      &:hover {
        &::before {
          display: none;
        }
        &::after {
          display: inline;
        }
      }
    }

    &.answer-correct::before {
      content: @fa-var-check;
      color: @correct-answer-color;
    }

    &:not(.answer-correct)::before {
      content: @fa-var-close;
      color: @wrong-answer-color;
    }
  }

  .answers-table {
    label.answer-label {
      padding: 4px 0;
      background-color: transparent;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }

    .answers-answer {
      align-items: flex-start;
      -webkit-box-align: start;
    }
  }

  .panel-group .teacher-review-answers .panel-heading + .panel-collapse > .panel-body {
    border: none;
  }

  .teacher-review-answers {
    &.panel {
      .box-shadow(none);

      > .panel-heading {
        color: @free-response-color;
        background: transparent;
        padding: 0;
      }
    }

    .panel-title {
      display: block;
      > a {
        .btn();
        .btn-round();
        .btn-tutor-default();
        float: none;
        text-decoration: none;
        margin: 0;
  
        &:hover {
          background: @tutor-neutral-lightest;
        }
      }
    }

    &.has-no-answers {
      .panel-body {
        display: none;
      }
      .panel-title {
        font-weight: 100;
      }
    }
  }
}
