.question {

  font-size: 1.8rem;
  line-height: 2.4rem;

  .answers-answer {
    &::before {
      .answer-label();
      .answer-icon-label();
      text-align: center;
      width: 80px;
      font-size: 1.5em;
    }

    .selected-count {
      display: inline;
      #fonts > .sans(1.8rem, 1.8rem);

      &::before {
        content: attr(data-count);
      }
      &::after {
        content: attr(data-percent) '%';
        display: none;
      }

      &:hover {
        &::before {
          display: none;
        }
        &::after {
          display: inline;
        }
      }
    }

    &.answer-correct::before {
      content: @fa-var-check;
      color: @correct-answer-color;
    }

    &:not(.answer-correct)::before {
      content: @fa-var-close;
      color: @wrong-answer-color;
    }
  }

  .answers-table {
    label.answer-label {
      padding: 4px 20px;
      background-color: transparent;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .teacher-review-answers {
    &.panel {
      .box-shadow(none);

      > .panel-heading {
        color: @free-response-color;
        background: @free-response-background;
        padding: 0;
      }
    }

    .panel-title > a {
      text-decoration: none;
      padding: 10px 20px;
      display: block;

      &:hover {
        background: @tutor-neutral-lightest;
      }
    }

    &.has-no-answers {
      .panel-body {
        display: none;
      }
      .panel-title {
        padding: 10px 20px;
      }
    }
  }
}
