.exercise {
  counter-reset: part, question 1;
  font-family: sans-serif;
}
.exercise .part {
  counter-increment: part;
}
.exercise .part::before {
  content: 'Part ' counter(part);
  font-size: x-large;
  font-weight: bold;
  display: block;
}
.exercise .part .variants {
  counter-increment: question;
}
.exercise .part .variants .question {
  counter-increment: none;
}
.exercise .part .variants > input[type='checkbox'] {
  display: none;
}
.exercise .part .variants > .options {
  background-color: beige;
  margin: .5em;
}
.exercise .part .variants > .options label {
  display: inline-block;
  padding: 0 .5em;
  margin: .25em .25em;
  cursor: pointer;
  border: 1px solid #ccc;
  font-weight: bold;
}
.exercise .part .variants input[type='checkbox'][data-format='matching']:not(:checked) ~ [data-format='matching'] {
  display: none;
}
.exercise .part .variants input[type='checkbox'][data-format='matching']:checked ~ .options label[data-format='matching'] {
  background-color: #ccc;
}
.exercise .part .variants input[type='checkbox'][data-format='multiple-choice']:not(:checked) ~ [data-format='multiple-choice'] {
  display: none;
}
.exercise .part .variants input[type='checkbox'][data-format='multiple-choice']:checked ~ .options label[data-format='multiple-choice'] {
  background-color: #ccc;
}
.exercise .part .variants input[type='checkbox'][data-format='multiple-select']:not(:checked) ~ [data-format='multiple-select'] {
  display: none;
}
.exercise .part .variants input[type='checkbox'][data-format='multiple-select']:checked ~ .options label[data-format='multiple-select'] {
  background-color: #ccc;
}
.exercise .part .variants input[type='checkbox'][data-format='short-answer']:not(:checked) ~ [data-format='short-answer'] {
  display: none;
}
.exercise .part .variants input[type='checkbox'][data-format='short-answer']:checked ~ .options label[data-format='short-answer'] {
  background-color: #ccc;
}
.exercise .part .variants input[type='checkbox'][data-format='true-false']:not(:checked) ~ [data-format='true-false'] {
  display: none;
}
.exercise .part .variants input[type='checkbox'][data-format='true-false']:checked ~ .options label[data-format='true-false'] {
  background-color: #ccc;
}
.exercise .part .variants input[type='checkbox'][data-format='fill-in-the-blank']:not(:checked) ~ [data-format='fill-in-the-blank'] {
  display: none;
}
.exercise .part .variants input[type='checkbox'][data-format='fill-in-the-blank']:checked ~ .options label[data-format='fill-in-the-blank'] {
  background-color: #ccc;
}
.exercise .part .question {
  counter-increment: question;
  counter-reset: answer;
}
.exercise .part .question.answered li.option::before {
  display: inline-block;
  width: 1.28571429em;
  text-align: center;
  content: '';
}
.exercise .part .question.answered li.option.correct {
  border: 3px solid #34b27d;
}
.exercise .part .question.answered li.option.correct::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  color: #34b27d;
}
.exercise .part .question.answered li.option.correct label.answer {
  background-color: #9de2c5;
}
.exercise .part .question.answered li.option.incorrect {
  border: 3px solid #cb4d4d;
}
.exercise .part .question.answered li.option.incorrect::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00d";
  color: #cb4d4d;
}
.exercise .part .question.answered li.option.incorrect label.answer {
  background-color: #eec3c3;
}
.exercise .part .question.answered li.option.missed {
  border: 3px solid #34b27d;
}
.exercise .part .question.answered li.option.missed::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: " ";
  color: #34b27d;
}
.exercise .part .question.answered li.option.missed label.answer {
  background-color: #9de2c5;
}
.exercise .part .question .stem::before {
  content: counter(question) '. ';
  font-size: large;
  font-weight: bold;
  display: inline;
}
.exercise .part .question ul.options {
  padding: 0;
}
.exercise .part .question ul.options li.option {
  list-style-type: none;
}
.exercise .part .question ul.options li.option input:checked ~ label {
  background-color: #ccc;
}
.exercise .part .question ul.options li.option label {
  cursor: pointer;
}
.exercise .part .question ul.options li.option .answer {
  display: inline-table;
  vertical-align: top;
}
.exercise .part .matching > table {
  min-width: 500px;
  border-spacing: 10px;
}
.exercise .part .matching > table td.item:not(:empty) {
  text-align: right;
}
.exercise .part .matching > table td.item:not(:empty)::after {
  content: '\25cb';
  font-size: x-large;
  margin-left: 1em;
}
.exercise .part .matching > table td.spacer {
  width: 100px;
}
.exercise .part .matching > table td.answer {
  text-align: left;
}
.exercise .part .matching > table td.answer::before {
  content: '\25cb';
  font-size: x-large;
  margin-right: 1em;
}
.question {
  padding-top: 1em;
}
input[type='text'] {
  width: 200px;
}
*::before {
  font-weight: bold;
}
.stem::before {
  content: 'Stem: ';
}
/*.choice::before { content: 'Choice: '; }*/
