@import (inline) '../bower_components/materialize/dist/css/materialize.min.css';
@import (inline) '../style/katex.css';
@import '../bower_components/font-awesome/less/font-awesome';
@import './vendor-variables';

@import './card-background';
@import './card-question';
@import (reference) './mixins/generic';


// @answer-correct: #34b27d;
// @answer-incorrect: #cb4d4d;

html { font-size: 12px; }
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  margin-left: 100px;
}



.btn-toolbar,
.btn-dialog {
  margin-bottom: 0;

  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  .x-user-select(none);
}

.btn-dialog {
  text-transform: uppercase;
  color: #ffab40;

  &:hover { color: #ffd8a6; }

  &.btn-dialog-danger {
    i { color: #ccc; }
    &:hover i { color: #f33; }
  }

  // Subsequent dialog buttons should be spaced
  + .btn-dialog { margin-left: 1.5rem; }

}

.btn-toolbar,
.btn-dialog i {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}



.btn-primary {
  position: fixed;
  bottom: 10px;
  left: 600px;
}
