@green: rgb(122, 176, 73);

.exercise-summary {
  text-align: center;

  &.navbar-fixed-top-lower {
    top: 60px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    line-height: 3rem;
  }

  .row > div {
    height: 60px;
    border-right: 1px solid lightgray;

    &:last-child {
      border-right: none;
    }
  }

  .selections-title {
    line-height: 60px;
    text-transform: uppercase;
  }

  .total {
    h2 {
      font-size: 6rem;
      font-weight: normal;
      margin: 0;
      line-height: 6rem;
      color: rgb(245, 208, 25);
    }
  }

  .num-selected,
  .num-tutor {
    span {
      font-size: 1.3rem;
    }
  }

  .tutor-added-later {
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: left;
  }
}

.edit-homework {
  label {
    display: block;
  }
  .rw-datetimepicker {
    max-width: 300px;
  }
  textarea {
    width: 100%;
    height: 150px;
  }

}

table.exercise-table {
  width: 100%;

  thead {
    background: darkblue;
    color: #fff;
  }


  td.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }

  td {
    padding: 5px;
  }
}

.homework-plan-exercise-select-topics {
  > .panel {
    > .panel-heading {
      padding: 0 15px;
      background-color: @green;
      color: white;
      border-radius: 0;

      > .panel-title {
        span {
          font-size: 2.4rem;
        }

        button {
          padding: 0;
          margin: 0;
          color: white;
          font-size: 3rem;
          line-height: 4.6rem;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    > .panel-body {
      padding: 20px;
    }

    > .panel-footer {
      > span {
        .btn-link {
          padding: 12px 36px;
          margin-left: 25px;
          text-transform: none;
          font-size: 1.8rem;
          border: 1px solid lightgray;
          border-radius: 0;

          &:hover {
            text-decoration: none;
            background-color: rgb(240, 240, 240);
          }
        }
      }
    }
  }
}

.select-reading-modal {
  > .panel-group > .panel {
    border-radius: 0;
    box-shadow: none;

    > .panel-heading {
      position: relative;
      padding: 0;
      border-radius: 0;
      border: 1px solid whitesmoke;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: none;
        border: 1px solid white;
        display: block;
        pointer-events: none;
        content: "";
      }

      > .panel-title {
        padding: 8px;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.7rem;
        color: rgb(34, 46, 101);

        > a > .chapter-checkbox {
          margin-right: 25px;
        }
      }
    }

    > .panel-collapse > .panel-body {
      padding: 0;
      border: none;

      > .section {
        padding: 1px 8px;
        border-bottom: 1px solid #efefef;
        font-weight: 400;

        > .section-checkbox {
          margin-right: 25px;
          font-size: 1.7rem;
        }

        > .section-number {
          margin-right: 5px;
          font-weight: bold;
          color: @green;
        }
      }
    }
  }
}

// TODO: This should have a common container wit hthe above styling
// TODO: This should just use the question rendering and styling in question.less
.card.exercise {
  > .panel-heading {
    .card-actions {
      // shift the buttons up because pull:right moves them down
      position: relative;
      top: -10px;
    }
  }
  > .panel-body {
    margin-left: 15px;
    margin-right: 15px;

    .answers-table {
      counter-reset: answer;

      .answers-answer {
        counter-increment: answer;

        .answer-letter {
          display: inline;
          margin-right: 1rem;

          &::after { content: counter(answer, lower-latin) ')'; }
        }
      }
    }

    .exercise-tags {
      color: #ccc;
      .exercise-tag + .exercise-tag::before {
        content: ',';
        margin-right: 1rem;
      }
    }


  }

}
