.course-guide-line-chart {
    outline: 1px solid #333;
    svg {

        width: 100%;

        .tutor-chart-lines{
            text {
                // svg scale is only 100px wide
                font-size: 2px;
                fill: white;
            }
        }
        .nv-line {
            stroke-dasharray: 10,5;
        }
    }
  
}

