.course-guide-line-chart {
    outline: 1px solid #333;
    svg {
        height: 500px;
        width: 100%;
        path.line {
            fill: none;
            stroke: #000;
        }

        .nv-axis.nv-x text {
            border: 1px solid red;
        }
    }
  
}

