@correct-answer-color: #78b042;
@correct-answer-background: #e4f4b9;
@wrong-answer-color: #c22032;
@wrong-answer-background: #ffe0e0; 
@answer-hover-color: #f9f9f9;
@answer-select-color: #f0f0f0; // darker than hover

.question {
    counter-reset: answer 0;




/*
    // The Row
    .answers-answer,
    .answers-add {
      //display: table-row;
      // transition: background-color .3s ease;
    }
    // .answers-answer:hover { background-color: #efefef; }
    .answer-letter,
    .answer-actions {
      //display: table-cell;
      width: 2rem;
    }
    .answer-letter { cursor: default; }
*/
  // &.mode-view,
  // &.mode-preview {
    // &:before {
    //   font-size: 3rem;
    //   position: absolute;
    //   content: counter(question);
    //
    //   margin-left: 3rem-1rem; // From materialize .card-content (-1rem for double-digit numbers)
    //   margin-top: 1.7rem; // From materialize .card-content
    // }

    .card-content {
      margin-left: 4rem; // Enough room for double-digit question numbers

      .question-stem {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        min-height: 2rem; // center with the 3rem question number
      }

      .answers-table .answer-letter {
      }
    }
  // }



  // &.mode-preview {

    .answers-table {
      .answers-answer {
        counter-increment: answer 1;
        display: block;
        width: 100%;
        clear: both;

        .answer-letter {
          display: inline-block;
          width: 2rem;
          font-weight: bold;
          &:after { content: counter(answer, lower-latin) ')'; }
        }

        .answer-content {
          display: inline-block;
          padding: 1rem;
          padding-right: 0;
        }
      }
    }

    .answer-input-box {
      display: inline-block;
      float: left;
      font-size: 1.5em;
      margin: 0.95em 0;
      margin-left: -30px;
    }

    .answers-table label.answer-label {

      margin: 0.5em 0;
      padding-left: 0;
      line-height: 1.5em;
      display: inline-block;
      width: 100%;
      float:left;
      transition: background-color .2s ease-in;
      transition: padding-left .2s ease-in;

      //Materialize hack
      color: inherit;
      font-weight: inherit;
      font-size: inherit;
      padding-left: 0;
      height: inherit;
      line-height: inherit;

      //Materialize hack
      //[type="radio"]:not(:checked) + label:before
      &:before,
      &:after { display: none; }
      &:hover { 
        background-color: @answer-hover-color; 
        padding-left: 10px;
      }
    }
  // }
    &:not(.has-correct-answer) {

      .answer-input-box:checked + label.answer-label,
      .answer-input-box:checked + label.answer-label:hover {
        background-color: @answer-select-color; // darker than hover
        font-weight: bold;
        line-height: 1.5em;
        padding-left: 10px;
      }

    }
    &.has-correct-answer {
      .answer-input-box { display: none; }

      .answers-table .answers-answer .answer-label {
        padding-left: 10px;
      }

      .answers-table .answer-correct:before,
      .answers-table .answer-checked:not(.answer-correct):before { 
        content:"\f00c";
        color:@correct-answer-color;
        display: inline-block;
        float: left;
        font-size: 1.5em;
        margin: 0.5em 0;
        margin-left: -40px;
      }

      .answers-table .answer-correct .answer-label { 
        background-color: @correct-answer-background; 
        color:@correct-answer-color;
       .answer-content:hover {
          background-color: @correct-answer-background; 
        }
      }
      .answers-table .answer-checked:not(.answer-correct):before { 
        content:"\f00d";
        color:@wrong-answer-color;
      }
      .answers-table .answer-checked:not(.answer-correct) .answer-label { 
        background-color: @wrong-answer-background; 
        color:@wrong-answer-color;
        .answer-content:hover { 
          background-color: @wrong-answer-background; 
        }
      }

    }



}
