@correct-answer-color: #78b042;
@correct-answer-background: #e4f4b9;
@wrong-answer-color: #c22032;
@wrong-answer-background: #ffe0e0;
@answer-hover-color: #e6f9fc;
@answer-select-color: #e6f9fc; // darker than hover

.task-step .exercise,
.question {
  font-size: 2.1rem;
  font-weight: 400;
  padding: 0.5em 100px;

  textarea {
    margin: 1em 0;
    padding: 5px;
    height: 200px;
    width: 100%;
    font-size: 0.8em;
    line-height: 150%;
  }

  .free-response,
  .free-response:before,
  .question-feedback,
  .question-feedback:before {
    font-size: 4rem/2rem;
    font-weight: 300;
  }
  .free-response {
    font-style: italic;
    color: #888;
    padding: 20px 40px;
    display: block;
    width: 100%;
    margin: 20px 0 5px 0;
    background: #f5f5f5;

    &:before {
      content: "My Answer:";
      display: inline-block;
      float: left;
      margin-left: -145px;
      #fonts > .script;
      color: #888;
    }
  }
  .multiple-choice-prompt {
    display: block;
    margin: 30px 0 10px 0;
  }
  .answers-table {
    font-size: 0.8em;
    width: 100%;
    float: left;
  }
  .question-feedback {
    margin: 20px 0 10px 0;
    display: block;
    float: left;

    &:before {
      content: "Why?";
      float: left;
      margin: 3px 0 0 -56px;
      #fonts > .script;
      color: #888;
    }
  }
}

.question {
  counter-reset: answer 0;
  #fonts > .sans (2.1rem, 3rem);
  font-weight: 400;
/*
    // The Row
    .answers-answer,
    .answers-add {
      //display: table-row;
      // transition: background-color .3s ease;
    }
    // .answers-answer:hover { background-color: #efefef; }
    .answer-letter,
    .answer-actions {
      //display: table-cell;
      width: 2rem;
    }
    .answer-letter { cursor: default; }
*/
  // &.mode-view,
  // &.mode-preview {
    // &:before {
    //   font-size: 3rem;
    //   position: absolute;
    //   content: counter(question);
    //
    //   margin-left: 3rem-1rem; // From materialize .card-content (-1rem for double-digit numbers)
    //   margin-top: 1.7rem; // From materialize .card-content
    // }

    .card-content {
      margin-left: 4rem; // Enough room for double-digit question numbers

      .question-stem {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        min-height: 2rem; // center with the 3rem question number
      }

      .answers-table .answer-letter {
      }
    }
  // }

  // &.mode-preview {

    .answers-table {
      .answers-answer {
        counter-increment: answer 1;
        display: block;
        width: 100%;
        clear: both;

        .answer-letter {
          display: table-cell;
          width: 2rem;
          &:after { content: counter(answer, lower-latin) ')'; }
        }

        .answer-content {
          display: table-cell;
          padding: 20px 40px 20px 0;
        }
      }
    }

    .answer-input-box {
      display: none;
      float: left;
      margin: 0.95em 0;
      margin-left: -30px;
    }

    .answers-table label.answer-label {
      display: table;
      margin: 5px 0;
      padding-left: 40px;
      #fonts > .sans (2rem);
      font-weight: 400;
      width: 100%;
      float:left;
      background: #f3fcfd;
      transition: background-color .1s ease-in;
      transition: padding-left .05s ease-in;

      &:hover {
        background-color: @answer-hover-color;
      }
    }
  // }
    &:not(.has-correct-answer) {

      .answer-input-box:checked + label.answer-label,
      .answer-input-box:checked + label.answer-label:hover {
        font-weight: 700;
        background-color: @answer-select-color; // darker than hover
        padding-left: 60px;
      }

    }
    &.has-correct-answer {
      .answer-input-box { display: none; }

      .answers-table .answers-answer .answer-label {
        padding-left: 40px;
      }

      .answers-table .answer-correct:before,
      .answers-table .answer-checked:not(.answer-correct):before {
        content:@fa-var-check;
        color:@correct-answer-color;
        display: inline-block;
        float: left;
        text-align: right;
        font-size: 3.5em;
        width: 65px;
        margin-top: .125em;
        margin-left: -80px;
      }

      .answers-table .answer-correct .answer-label {
        background-color: @correct-answer-background;
        color:@correct-answer-color;
        font-weight: 900;
       .answer-content:hover {
          background-color: @correct-answer-background;
        }
      }
      .answers-table .answer-checked:not(.answer-correct):before {
        content:@fa-var-close;
        color:@wrong-answer-color;
      }
      .answers-table .answer-checked:not(.answer-correct) .answer-label {
        background-color: @wrong-answer-background;
        color:@wrong-answer-color;
				font-weight: 900;
        .answer-content:hover {
          background-color: @wrong-answer-background;
        }
      }

    }


}
