.reading-stats-container{
  min-width:550px;
}

.reading-progress-container{
  width: 450px;
  //border: 1px solid blue;
  position: relative;
}

.reading-progress-group{
  width:300px;
  height:20px;
  .reading-progress-bar{

  }
}

.reading-progress-delta{
  right:0px;
  top:0px;
  height:20px;
  line-height: 1rem;
  position:absolute;
  color:red;
}




// debug:

.progress{
  overflow:visible;
}

.progress-bar {
    // overflow-x:visible;
    // white-space:nowrap;
    // display: inline-block;
    min-width:20px;
}