.reading-stats-container{
  min-width:550px;
}

.reading-progress-container{
  width: 450px;
  position: relative;
}

.reading-progress-group{
  width:300px;
  height:20px;
  overflow:visible;

  .reading-progress-bar{
    min-width:15px;

  }
}

.reading-progress-delta{
  right:0px;
  top:0px;
  height:20px;
  line-height: 1rem;
  position:absolute;
  color:red;
}

