.student-dashboard {
  .bg {
    // use a :before block to apply the opacity only to the
    // background image, not the content itself
    &:before{
      content: "";
      position: fixed;
      z-index: -1;
      top: 10px;
      bottom: 0;
      left: 50px;
      right: 50px;
      opacity: 0.2;
    }
    &.physics {
      &:before{
        background-image: url("/style/resources/student-dashboard/physics.jpg");
      }
    }
  }
  .big-header {
    position: fixed;
    left:0px;
    top:50px;
    left: 0px;
    right: 0px;
    height:220px;
    overflow: hidden;
    background-color:rgba(35, 46, 102, 1);
    background-image:none;
    color:#79B142;
    text-align: center;
    padding-top: 85px;
    font-size:320px;
    font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
    font-weight:700;
  }
  .period-title {
    width: 300px;
    padding: 5px;
    width: 300px;
    margin: 20px 0;
    height: 36px;
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-size: 18px;
    color: #232E66;
    background-color: #F7B217;
    text-align: left;
  }

  .panel-body {
    .due-at { font-size: 1.3rem; }
    .empty{ text-align: center; }
    .icon {
      height: 40px;
      background-repeat: no-repeat;
      background-position-x: 10px;
    }
    .reading{
      .icon {
        background-image: url("/style/resources/student-dashboard/reading.png");
      }
    }
    .task {
      clear:both;// mixin bs row?
      min-height: 50px;
      border-top: thin dotted #E7E7E7;
    }
  }
  .panel-heading {
    background-color: white;
    border-bottom: thin dotted #E7E7E7;
  }
  .rbox {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 85px;    
    button {
      width: 100%;
    }
  }
  .container {
    margin-top: 50px;
  }

  .nav-tabs {
    background: inherit;
    li {
      font-family: 'Lato-Black', 'Lato Black', 'Lato';
      background: #F2F2F6;
      a {
        font-family: 'Lato-Regular', 'Lato';
        font-weight: 400;
        font-size: 2.4rem;
        color: #646464 !important;
      }
      &.active {
        background: white;
        a {
          font-family: 'Lato-Black', 'Lato Black', 'Lato';
          font-weight: 900;
          color: #424242 !important;
        }
      }
    }
  }

  .tab-pane {
    .panel:first-child {
      margin-top: 0px;
    }
  }

}
