@import '../node_modules/bootstrap/less/bootstrap.less';
@import '../bower_components/katex/static/katex.less';

body {
  padding-top: 60px; // For the top navbar
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.ui-brand-logo {
  display: inline-block;
  height: 20px;
  width: 143px;
  background-image: url('./style/resources/logo-brand.svg');
}

.ui-task-list {
  max-width: 550px;
}

.panel {

  &.ui-interactive {
    .panel-body {
      height: 100%;

      iframe {
        height: 100%;
        width: 100%;
        border: 1px solid black;
      }
    }
  }

  // Similar to a dismissable alert, line up the action button in the panel heading
  .ui-action {
    position: relative;
    top: -5px;
  }
}

.exercise {
  .part {
    .question {
      .options {
        list-style-type: none;

        .option label {
          cursor: pointer;

          input[type='radio'] { margin-right: .5em; }
        }
      }
    }
  }
}




// Math Rendering
// NOTE: This happens pretty quickly so it may be unnecessary
[data-math]:not(.loaded) {
  background-color: #eee;
  color: #999;

  &:before { content: attr(data-math); }
}
