@import './react-widgets';
@import '../node_modules/bootstrap/less/bootstrap.less';
@import '../bower_components/bootstrap-material-design/less/material-wfont.less';
@import '../node_modules/font-awesome/less/font-awesome.less';
@import '../bower_components/katex/static/katex.less';
@import './scaffold.less';
@import './nav.less';
@import './buttons.less';
@import './typography.less';
@import './reading.less';
@import './question.less';
@import './homework.less';
@import './learning-guide.less';

// Override the default path to the font-awesome fonts
@fa-font-path: 'fonts';


// Override bootstrap primary color
@primary: @blue;
// @text-color: @white;

@border-color: #e5e5e5;

// Font-awesome icons mapped to our types
i.fa {
  &.reading::before     { content: @fa-var-newspaper-o; } // or fa-var-file-text-o
  &.interactive::before { content: @fa-var-desktop; }
  &.exercise::before    { content: @fa-var-question; } // or fa-var-mortar-board
}

.ui-task-list {
  max-width: 550px;

  .panel { cursor: pointer; }
}

.exercise {
  .question {
    padding-top: .5em;

    .options {
      list-style-type: none;
      padding-left: 0;

      .option label {
        cursor: pointer;
        font-weight: normal; // bootstrap makes these bold

        input[type='radio'] { margin-right: 1em; }
      }
    }
  }


}

textarea {
  border: 1px solid #d5d5d5;
}

textarea:focus {
  border: 1px solid rgba(10, 192, 221, 1);
  box-shadow: 0 0 10px rgba(10, 192, 221, .25);
}

// Math Rendering
// NOTE: This happens pretty quickly so it may be unnecessary
[data-math]:not(.loaded) {
  background-color: #eee;
  color: #999;

  &:before { content: attr(data-math); }
}

.create-reading {
  label {
    width: 150px;
    display:inline-block;
  }
  #title {
    line-height: 32px;
    height: 32px;
    margin-bottom: 1em;
  }
  .rw-datetimepicker {
    display:inline-block;
    max-width: 300px;
  }
}
.select-reading-modal {
  .section {
    padding: 0.5em 5px;
    border-bottom: 1px solid #efefef;
  }
  .section:last-child {
    border-bottom: 0;
  }
  .section.selected {
    background: @state-info-bg;
    color: @state-info-text;
  }
}
ul.selected-reading-list {
  list-style: none;
  margin-left: 150px;
  padding-left: 0;
}
.modal-backdrop.in {
  height: 100%;
}

@import './reading.less';
@import './reading-stats.less';
@import './sandbox.less';
@import './popover.less';
@import './task-details-popover.less';
