@course-listing-margin: 30px;
@course-listing-item-width: 400px;
@course-listing-item-height: 300px;
@course-listing-item-offset: 10px;
@course-listing-book-image-width: 140px;
@course-listing-book-image-height: 180px;
@course-listing-course-info-width: 180px;

.course-listing {
  margin-top: @course-listing-margin;
  border: 0px;
  background: none;
  box-shadow: none;

  > .panel-body {
    padding: 0;
  }

  .tutor-booksplash-course-item {
    position: relative;
    width: @course-listing-item-width;
    padding: 0;

    .tutor-course-item-link {
      width: 100%;
      display: inline;
      overflow: hidden;
      text-decoration: none;
    }

    .flex-display();

    .tutor-course-item {
      height: @course-listing-item-height;
      margin: @course-listing-item-offset;
      .book-image {
        float: left;
        width: @course-listing-book-image-width;
        height: @course-listing-book-image-height;
        background-color: @tutor-neutral-light;
      }
      &[data-category=physics] .book-image {
        .tutor-background-image("courses/physics-book-thumbnail.png");
      }
      &[data-category=biology] .book-image {
        .tutor-background-image("courses/biology-book-thumbnail.png");
      }
      .course-info {
        float: right;
        > div {
          color: @tutor-neutral-darker;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: right;
          width: @course-listing-course-info-width;
          .heading {
            #fonts > .sans(1.4rem, 1.5rem);
            color: @tutor-black;
            font-weight: bold;
            margin-top: 20px;   
          }
          li {
            list-style: none;
            height: 2rem;
          }
        }
        .name {
          #fonts > .sans(2.5rem, 2.9rem);
          font-weight: 900;
        }
        .institution {
          #fonts > .sans(1.5rem, 2.9rem);

        }
        .code {

        }
        .instructors {

        }
      }
      &[data-category=physics] .course-info .name {
        color: @tutor-book-hs-physics-primary;
      }
      &[data-category=biology] .course-info .name {
        color: @tutor-book-ap-bio-primary;
      }
      font-family: 'Helvetica', 'Lato', sans-serif;
      // font-size: 18rem;
      // line-height: 18rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      // font-weight: 800;
    }

  }

}




