.course-settings {

  margin-top: 20px;
  select { width: inherit; } // override material design's 100% width

  input[type=radio]{
    margin-right: 0.5rem;
  }

  .course-settings-title {
    font-size: 3rem;
    padding-bottom: 40px;
    display: inline-block;
  }
  .course-settings-subtitle {
    font-size: 2.5rem;
    padding-top: 40px;
    padding-bottom: 15px;
    display: inline-block;
  }

  .nav-tabs {
    .tutor-nav-tabs();

    li.active {
      border: 1px solid @nav-tabs-border-color;
      border-bottom: none;
    }
  }

  .period-edit-ui {
    float: right;
    a{
      cursor: pointer;
      margin-right: 1rem;
      &:hover {
        background-color: @tutor-neutral-light;
        text-decoration: none;
      }
    }
  }

  .roster {
    table-layout: fixed;
    .actions {
      a{
        cursor: pointer;
        margin-right: 1rem;
        &:hover {
          background-color: @tutor-neutral-light;
          text-decoration: none;
        }
      }
    }
  }

}

// The form renders inside a pop-over, which is directly under <body>, outside of .course-administration
.teacher-add-student-form {
  .tutor-input {
    margin-bottom: 10px;
  }
}

.teacher-add-period-form {
  .tutor-input {
    margin-bottom: 10px;
  }
  .modal-body {
    padding-top: 30px;
  }
  .warning {
    color: @form-error-color;
  }
}
