.course-administration {

  margin-top: 20px;
  select { width: inherit; } // override material design's 100% width

  input[type=radio]{
    margin-right: 0.5rem;
  }

  .nav-tabs { .tutor-nav-tabs(); }
}
