@exercise-details-body-height: calc(~"100vh - 150px");

.exercise-details {

  min-height: @exercise-details-body-height;
  position: relative;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .center {
    display: flex;
    height: 100%;
    justify-content: flex-start;
  }
  .controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    z-index: 1; // above details forward/back nav when scrolling up
    .show-cards {
      color: @tutor-neutral;
      cursor: pointer;
    }
  }
  .exercise-card {
    width: 800px;
    .panel-body {
      min-height: 600px;
    }

    .controls-overlay {
      transition: none;
      height: 100vh;
    }
  }

  .page-navigation {
    .page-navigation-arrows(800px);

    height: @exercise-details-body-height;
    position: absolute;
    top: 0;
  }

}

// switch controls to fixed when not scrolling up
.pinned-view.pinned-on {

  .exercise-details {
    .exercise-card {
      .controls-overlay {
        height: 100vh;
        position: fixed;
        top: 0px;
        left: calc(~"50% - " 400px );

      }
    }
    .page-navigation {
      display: flex;
      cursor: pointer;

      height: 100%;
      position: fixed;
      top: 0px;

      &.prev {
        left: 0;
      }
    }

  }

}

.no-exercises-found {
  text-align: center;
}

.exercise-controls-bar {
  @padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 @padding;
  .sectionizer {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    flex: 1;
    text-align: center;
    div {
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      width: 40px;
      line-height: 40px;

      &.section {
        border: 1px solid @tutor-neutral-light;
        &+.section {
          border-left: 0;
        }
      }
      &.active {
        background-color: @tutor-neutral-light;
      }
      &.disabled {
        cursor: default;
        color: @tutor-neutral-light;
      }
    }
  }
  .btn-group {
    box-shadow: none;
    button:not(.btn-link):not(.btn-flat):not(.btn-fab).btn-default {
      font-size: 12px;
      background-size: @icon-size-lg @icon-size-lg;
      background-repeat: no-repeat;
      border-radius: 0;
      box-shadow: none !important;
      border: 1px solid @tutor-neutral;
      height: 40px;
      margin-right: 0;
      &.active {
        background-color: @tutor-neutral-light;
      }
      .tutor-icon {
        margin: 0;
      }
    }
    &.filters {
      button {
        width: 90px;
      }
    }
    &.display-types {
      margin-left: 10px;
      button {
        width: 40px;
      }
    }
  }
  .save-cancel {
    width: 200px;
    display: flex;
    justify-content: space-around;
  }
}
