.media-preview {
  max-width: 50%;

  &.scrollable {
    .popover-content {
      overflow: auto;
      width: 100%;
      height: inherit;
    }
  }

  .tutor-figure();
  .tutor-tables(@tutor-neutral-light, @tutor-neutral-light);

  table {
    text-align: left;

    td {
      padding: 4px;
    }
  }
}

.media-preview-link {
  display: inline-block;
}