.notifications-bar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: @tutor-primary;
  padding-left: 4rem;
  .notification {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: @tutor-neutral-lighter;
    padding: 15px;
    #fonts > .sans(2rem, 2rem);
    & + .notification {
      border-top: 1px solid darken(@tutor-primary, 5%);
    }
    .tutor-icon {
      margin-right: 1rem;
      font-size: 3rem;
    }
    .dismiss {
      color: @tutor-neutral-lighter;
      cursor: pointer;
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }
}
