.notifications-bar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .notification {
    width: 100%;
    padding: 0 20px;
    color: @tutor-neutral-lighter;
    b {
      font-size: 1.8rem;
      margin-right: 1rem;
    }
    .tutor-icon {
      cursor: pointer;
      font-size: 1.8rem;
      margin-left: 1rem;
    }
    &.warning { background-color: @tutor-warning; color: black; }
    &.error   { background-color: @tutor-danger;  }

  }
}
