.performance-report {
  .course-performance-container {
    overflow-x: auto;
  }
  table {
    th {
      .no-select();
      position: relative;
      white-space: nowrap;
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
      &.sortable {
        cursor: pointer;
      }
      &.is-ascending:after {
        position: absolute;
        right: 0;
        content: @fa-var-sort-asc;
        .fa-icon();
      }
      &.is-descending:after {
        position: absolute;
        right: 0;
        content: @fa-var-sort-desc;
        .fa-icon();
      }
    }
    td {
      &.student-name {
        white-space: nowrap;
      }
    }
  }
}
