.performance-report {
  table {
    th {
      .no-select();
      &.sortable {
        cursor: pointer;
      }
      &.is-ascending:after {
        padding-left:3px;
        content: @fa-var-sort-asc;
        .fa-icon();
      }
      &.is-descending:after {
        padding-left:3px;
        content: @fa-var-sort-desc;
        .fa-icon();
      }
    }
  }
}
