.questions-dashboard {
  @padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: @tutor-panel-padding-vertical auto 0 auto;
    max-width: 1200px;
    padding: @padding;
    background-color: @tutor-white;

  }

  .instructions {
    background-color: @tutor-secondary;
    color: @tutor-white;
    #fonts >.sans(1.6rem, 1.6rem);
    font-weight: 700;
    font-style: italic;
    margin: 0 0 28px 0;
    padding: @padding;
    .tutor-icon { margin-left: 0.5rem; }
  }

  .sections {
    padding: @padding;
    background-color: @tutor-white;
  }

}
