// override line-height styles for paper form controls
.tutor-input {
  .is-invalid {
    text-decoration: line-through;
    color: @tutor-neutral;
  }

  .form-control-wrapper {
    line-height: 1em;

    textarea {
      overflow: hidden;
    }

    .rw-datetimepicker.rw-widget {
      position: absolute;
      top: 0;

      &:hover {
        background-color: transparent;
      }

      input.rw-input {
        background: transparent;
        padding: 0;
        border: 0;
        box-shadow: none;
      }

      .rw-select {
        border: 0;
      }
    }

    .form-control {
      font-size: 1.8rem;
      color: #424242;

      &:focus,
      &.focus {
        background-image: linear-gradient(@info, @info), linear-gradient(@input-underline-color, @input-underline-color);
        animation: input-highlight 0.125s forwards;

        ~ .floating-label {
          color: @info;
        }

        ~.required-hint {
          display: none;
        }
      }
    }

    .rw-datetimepicker.rw-widget {
      input.rw-input {
        height: 30px;
        color: #424242;
      }
    }
  }

  .is-invalid-form {
    .form-control-wrapper.is-required {
      margin-bottom: 1em;
      .form-control.empty {
        background-image: linear-gradient(@form-error-color, @form-error-color), 
        linear-gradient(@form-error-color, @form-error-color);
      }
      .form-control.empty ~ .floating-label {
        color: @form-error-color;
      }
      .form-control.empty ~ .required-hint {
        display: block;
        margin-bottom: 1em;
        color: @form-error-color;
      }
    }
  }

  .required-hint.hint {
    display: none;
  }
  
  .form-note {
    color: @tutor-neutral;
    font-size: 1.4rem;
    font-style: italic;
  }

  textarea {
    border: 1px solid @tutor-neutral;

    &:focus {
      border: 1px solid @tutor-tertiary-light;
      box-shadow: 0 0 10px fade(@tutor-tertiary-light, 25%);
    }
  }

  button i.fa { margin-right: 0.5rem; }
}
