.tutor-input {
  .rw-calendar-grid {
    td {
      // these override the default styles for the date picker so we can apply our own
      // based on the <span> element that we render inside the rw-btn
      .rw-btn {
        border-radius: 0;
        padding: 0;
        &:hover { cursor: default; background-color: inherit; }
        &.rw-off-range { color: inherit; }
      }
      &:hover{ cursor: default; }
      .rw-state-selected { border-radius: @input-border-radius; }
    }
    // dates on the date picker that are in the past and cannot be choosen
    .date {
      border-radius: @input-border-radius;
      padding: 0 .4em 0 .1em;
      &:hover {
        background-color: @tutor-neutral-light;
      }
      &.is-invalid {
        text-decoration: line-through;
        color: @tutor-neutral;
        &:hover {
          background-color: inherit;
          cursor: default;
        }
      }
    }
  }
  &.form-control-wrapper {
    // override line-height styles for paper form controls
    line-height: 1em;

    textarea {
      overflow: hidden;
    }

    .rw-datetimepicker.rw-widget {
      position: absolute;
      top: 0;

      &:hover {
        background-color: transparent;
      }

      input.rw-input {
        background: transparent;
        padding: 0;
        border: 0;
        box-shadow: none;
      }

      .rw-select {
        border: 0;
      }
    }

    .form-control {
      font-size: 1.8rem;
      color: #424242;

      &:focus,
      &.focus {
        background-image: linear-gradient(@info, @info), linear-gradient(@input-underline-color, @input-underline-color);
        animation: input-highlight 0.125s forwards;

        ~ .floating-label {
          color: @info;
        }

        ~.required-hint {
          display: none;
        }
      }
    }

    .rw-datetimepicker.rw-widget {
      input.rw-input {
        height: 30px;
        color: #424242;
      }
    }
  }
}

.is-invalid-form {
  .form-control-wrapper.is-required {
    margin-bottom: 1em;
    .form-control.empty {
      background-image: linear-gradient(@form-error-color, @form-error-color),
      linear-gradient(@form-error-color, @form-error-color);
    }
    .form-control.empty ~ .floating-label {
      color: @form-error-color;
    }
    .form-control.empty ~ .required-hint {
      display: block;
      margin-bottom: 1em;
      color: @form-error-color;
    }
  }
}
