.warning {
  @include ost-hero-modal();
}

.warning.modal .modal-header,
.modal-header.warning {
  background-color: #f5e9ea;
  color: #b33238;
  display: flex;
  align-items: center;
  padding: 25px 50px;

  .ox-icon {
    font-size: 24px;
    fill: $tutor-danger;
    margin-right: 0.5rem;
  }
}


.warning.modal {
  margin-top: 2rem;

  &.warning.in {
    .modal-dialog {
      transform: translateY(110px);
    }
  }

}
