.task-view {
  .task-with-progress {
    .pinned-header {
      padding: 0;
      z-index: 4;
    }
  }
}

.milestone-preview {
  padding: 1.25rem;
  display: block;
  max-height: 130px;
  overflow: hidden;
  line-height: 1.5em;

  img, video, iframe {
    display: none;
  }

  a {
    color: $tutor-neutral;

    &:hover {
      text-decoration: none;
    }
  }
}

body.pinned-shy {
  &.task-view {
    .task-with-progress {
      .milestones-wrapper {
        margin-top: 0;
      }
    }
  }
}
