.task-teacher-review-controls {
  text-align: right;
  padding-right: 2rem;
  margin-bottom: -3rem;
  margin-top: -2rem;
  z-index: 1;
  position: absolute;
  width: 100%;
  > * {
    display: inline-block;
    margin-left: 1.5rem;
  }
}

.data-container {
  text-align: center;
  margin: 1.75rem 0;
  .stats {
    display: flex;
    align-items: flex-end;
    .stat { padding: 0; }
  }

  &.container {
    width: 100%;
  }

  label {
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.8rem;
    display: block;
  }

  &-value {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
  }
}

.text-complete {
  color: $tutor-info;
}

.text-in-progress {
  color: $tutor-warning;
}

.text-not-started {
  color: $tutor-neutral;
}

.text-average {
  color: $tutor-success;
}
