.task-teacher-review-controls {
  text-align: right;
  padding-right: 2rem;
  margin-bottom: -3rem;
  margin-top: -2rem;
  z-index: 1;
  position: absolute;
  width: 100%;
  > * {
    display: inline-block;
    margin-left: 1.5rem;
  }
}
