@import '../screen-styles';
@import './styles/navbar';
@import '../../../resources/styles/book-content/index';
@import '../../../resources/styles/book-content/page';
@import './styles/exercise';

.reference-book {
  @include book-page();
  .book-page-wrapper.not-found {
    text-align: center;
    height: calc(100vh - #{$tutor-navbar-height});
  }
  .loading-screen-animation {
    min-height: calc(100vh - #{$tutor-navbar-height});
  }
}
