@import '../screen-styles';
@import './styles/navbar';
@import '../../../resources/styles/book-content/index';
@import '../../../resources/styles/book-content/page';
@import './styles/exercise';

.reference-book {
  @include book-page();
  .section-number {
    color: $tutor-secondary;
    margin-right: 0.4rem;
  }
  .book-page-wrapper.not-found {
    text-align: center;
    height: 100vh;
  }
}
