.assignment {

  margin-bottom: 20px;

  label.period {
    display: inline;
    margin-left: 5px;
    font-weight: normal;
  }
  input:not([disabled]) + label.period {
    cursor: pointer;
  }
  .assign-to-label {
    font-size: 1.8rem;
    font-style: italic;
  }
  .assignment-description {
    margin-top: 1rem;
  }
  .tasking-plan, .common {
    min-height: 56px;
  }
  #hide-periods-radio,
  #show-periods-radio { margin-bottom: 28px; }
  .periods-invalid {
    color: $form-error-color;
    font-size: 1.2rem;
    i {
      margin-left: 5px;
    }
  }
  .tasking-plan {
    margin-top: 10px;
    input[type=checkbox] { margin-bottom: 20px; }
    label.period { left: 45px; }
    &.disabled {
      label { color: $tutor-neutral-light; }
    }
  }

}

.tasking-time-default {
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 400;
  display: block;
  white-space: nowrap;
  &.tasking-time-default-set {
    color: $tutor-success;
  }

  &.btn {
    color: $tutor-info;
    text-transform: none;
    padding: 0;
    margin-top: -25px;
    border-radius: 0;

    &.is-waiting {
      color: $tutor-neutral;
    }
  }
}

.-select-sections-btn {
    border-radius: 4px;

    &.invalid {
        border: thin solid $form-error-color;
    }
}
.is-invalid-form {
  .form-control-wrapper.tutor-input.external-url.has-error {
    .hint.required-hint {
      display: none;
    }
  }
  .required-hint.hint.valid-external-url-required {
    display: block;
    margin-top: -25px;
  }
}
.due-before-open {
  line-height: 1.2rem;
  margin: -25px -15px;
}

.due-before-open,
.readings-required,
.problems-required,
.required-hint {
  color: $form-error-color;
  display: block;
  font-size: 1.2rem;

  i {
    margin-left: 5px;
  }

}

.instructions {
  color: $tutor-neutral;
  @include tutor-sans-font(1.1rem, 1.6rem);
  font-weight: 300;
  font-style: italic;
  margin: 10px 0 28px 0;
}
