// the popover needs its dimensions set so that it stays in
// the correct position when items are re-rendered inside it
.mini-task-editor-popover {
  min-width: 450px;
  max-width: 450px;

  @include tutor-shadow(pop);
  .popover-body {
    padding: 0px;
  }
  // offset error content
  &.is-errored {
    margin-top: -80px;

    .controls {
      margin-top: 10px;
    }
  }
}


.task-plan-mini-editor {
  padding: 0;

  .container {
    padding-top: 1.5rem;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .builder-footer-controls {
    margin-top: 2rem;
  }

  .tutor-input.form-control-wrapper .form-control:not(.empty) ~ .floating-label {
    top: -1rem;
  }

  .tutor-input.form-control-wrapper #reading-title,
  .tutor-input.form-control-wrapper #external-url {
    font-size: 1.6rem;
  }

  .date-wrapper {
    .fa.fa-calendar {
      display: none;
    }
  }

  .form-control {
    padding-top: 0;
    padding-bottom: 0;
    height: 28px;
  }

  .alert {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .alert-danger {
    h3 {
      margin: 0;
      text-align: left;
      font-size: 1.6rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 0;

    }
    p, p.lead {
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    a {
      color: theme-color("danger");
      text-decoration: underline;
    }
  }
}
