ul.selected-reading-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1em;

  li {
    border-bottom: 1px solid $tutor-neutral-lighter;

    @include tutor-fade-in(2s);
    display: flex;
    align-items: center;
    .section-title { flex: 1; }
    &:first-child {
      font-size: 2rem;
    }

    > span:first-child {
      margin-right: 5px;
    }
  }

  li:last-child .section-buttons .arrow-down {
    display: none;
  }
}
