.task-reading {
  .interactive-step {
    
    .size-task-step-card();
    
    iframe {
      width: 960px;
      height: 560px;
      margin-left: -(@tutor-card-body-padding-horizontal - 20px);
    }
  }
}
