.panel-body .reading-step .tips-for-success {
  margin: 20px 0;
  padding: 20px 0;
  #fonts > .sans(1.8rem, 2.8rem);
  border-bottom: 1px solid @border-color;

  &:before {
    display: inline-block;
    content: "Tips for Success";
    #fonts > .sans(3.2rem, 3.2rem);
    font-weight: 900;
    color: @physics-color-primary;
    white-space: nowrap;
    background: #232e66;
    padding: 10px 20px;
    margin: 0 500px 15px 0;
  }

}
