> .note[data-label='Watch Physics'] {

  &:before {
    display: none;
  }
  
  padding: 0 @tutor-card-body-padding-horizontal;
  .title{
    .tutor-reading-main-title();
    border-top: 0;
  }

  @iframe-width:  720px;
  @iframe-height: 405px;
  @iframe-shadow-size: 3px;

  [data-type=media] {
    .tutor-framed-video();
  }
  
}
