.tutor-highlight {
  background-color: $tutor-highlight;
  cursor: pointer;
  transition: 0.3s background-color;
  &.focus {
    background-color: $tutor-highlight-active;
  }
}

.MathJax_Display .tutor-highlight {
  display: inline-block;
}

.annotater {

  .inline-controls {
    background: $tutor-white;
    border: thin solid $tutor-neutral-neutral-light;
    font-size: 2rem;
    padding: 0;
    position: absolute;
    z-index: 2;
    @include no-select();
    @include tutor-shadow(subtle);
    display: flex;
    align-items: center;
    > * {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    }
    .highlight {
      svg {
        width: 30px;
        height: 30px;
        path {
          fill: $tutor-neutral-neutral-neutral-darker;
        }
      }
      .outline { display: none; }
      border: 0;
      &:hover {
        svg path { fill: $tutor-black; }
      }
    }
    .annotate {
      border-right: thin solid $tutor-neutral-neutral-light;
      color: $tutor-neutral-neutral-neutral-darker;
      &:hover {
        color: $tutor-black;
      }
    }

    &::before {
      @include triangle(
        bottom,
        $color: $tutor-neutral-neutral-light,
        $height: 16px,
        $width: 22px
      );
      content: " ";
      left: calc(50% - 11px);
      bottom: -16px;
      position: absolute;
    }


    &::after {
      @include triangle(
        bottom,
        $color: white,
        $height: 14px,
        $width: 18px
      );
      content: " ";
      left: calc(50% - 9px);
      bottom: -14px;
      position: absolute;
    }
  }

  .status-message-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    opacity: 0.8;
    border-top-left-radius: $border-radius-sm;
    background-color: #e1f3df;
    color: #75a048;
    &.error {
      color: $tutor-neutral-neutral-neutral-darker;
      background-color: $tutor-warning;
    }

  }

  .slide-out-edit-box {
    background-color: $tutor-neutral-bright;
    border: thin solid $tutor-neutral-neutral-light;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 50%;
    transition: 0.3s;
    width: 40rem;
    z-index: 20;
    min-height: 175px;
    @include tutor-shadow(subtle);

    &.closed {
      right: -40rem;
    }

    textarea {
      border: thin solid $tutor-neutral-neutral-light;
      height: 10rem;
      width: 100%;
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        background-color: $tutor-white;
        border: thin solid $tutor-neutral-neutral-light;
        border-radius: 3px;
        color: $tutor-neutral;
        margin: 5px;
        min-width: 46px;
        padding: 5px 10px;
        &[disabled] {
          color: $tutor-neutral-neutral-light;
          cursor: not-allowed;
        }
        &.primary {
          background-color: $tutor-primary;
          color: $tutor-neutral-bright;
        }
        &.secondary {
          background-color: $tutor-neutral;
          color: $tutor-neutral-bright;
        }

        > * {
          margin: 0;
        }
      }
    }
  }

  .sidebar-button {
    position: absolute;
    font-size: 2.5rem;
    opacity: 0.25;
    right: 2.5rem;
    transform: translateY(-25%);
    color: $tutor-neutral;
    transition: 0.3s color;
    &:hover { color: $tutor-neutral-neutral-neutral-darker; }
    transition: 0.3s color;
    &.active {
      color: $tutor-neutral-dark;
      &:hover {
        color: $tutor-neutral-dark;
        cursor: default;
      }
    }
    @media print {
      display: none;
    }
  }

  .centered-content {
    flex-basis: 100%;
    max-width: $tutor-max-panel-width;

    @media print {
      flex-basis: calc(100% - 8rem);
      transform: translateX(1rem);
    }

    > .dismiss {
      float: right;
      font-size: 18px;
    }
  }

  @media print {
    .filter-area,
    .dismiss,
    .controls {
      display: none;
    }
  }
}

// override reference book style
.reference-book .page-wrapper .annotater h1 {
  border-top-width: 0;
  padding-top: 0;
}

@import "./summary-page";
