.overlay.annotations-summary {
  background-color: $tutor-neutral-neutral-light;
  justify-content: center;

  @media print {
    flex-basis: calc(100% - 8rem);
    transform: translateX(1rem);
  }


  @media print {
    padding: 0;
    position: static;
  }


  .summary-page {
    padding: 50px;
    flex-basis: 100%;
    max-width: $tutor-max-panel-width;
    margin-top: $openstax-navbar-height;

    .filter-area {
      display: flex;
      justify-content: space-between;
    }
    .filter-widget {
      display: flex;
      flex-direction: column;
      width: 40rem;
      .rw-widget { width: 100%; }
      .section {
        display: inline-block;
        margin-left: 0.5rem;
        min-width: 2.8rem;
        font-weight: bold;
      }
    }

    h1 {
      @include tutor-main-title-font();
      border-top-width: 0;
    }
    h2 {
      @include tutor-main-subtitle-font();
    }

    .annotation-card {
      padding-bottom: 3rem;
    }

    .annotation-body {
      background-color: $tutor-white;
      display: flex;
      flex-direction: column;

      padding: 3rem;
      width: 100%;
      break-inside: avoid;
      @media print {
        padding: 0;
      }

      button {
        background-color: $tutor-white;
        border: thin solid $tutor-neutral-neutral-light;
        border-radius: 2px;
        height: 3rem;
        margin-right: 0.5rem;
        width: 4.6rem;

        &:last-child {
          margin: 0;
        }

        .tutor-icon {
          color: $tutor-neutral-dark;
          margin: 0;
        }
      }

      .controls {
        display: flex;
        justify-content: flex-end;
      }

      .annotation-content {
        flex: 1;

        .selected-text {
          border-left: 3px solid $tutor-neutral-neutral-light;
          font-family: Georgia, serif;
          background: $tutor-white;
          font-size: 1.5rem;
          line-height: 1.8rem;
          font-style: italic;
          padding: 1rem;
        }
        .plain-text {
          white-space: pre-line;
        }
        .edit-box,
        .plain-text:not(:empty) {
          margin-top: 2rem;

          textarea {
            border: thin solid $tutor-neutral-neutral-light;
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
  }
}
