@import './variables/paths';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
//@import 'katex.css';

@import './vendor-variables';

@import 'variables';

@import './mixins/generic';

@import "./bootstrap";

$rw-img-path: '~react-widgets/dist/img';
@import "~react-widgets/lib/scss/variables";
@import "~react-widgets/lib/scss/bootstrap-theme";
@import "~react-widgets/lib/scss/mixins";
@import "~react-widgets/lib/scss/core";
@import "~react-widgets/lib/scss/popup";
@import "~react-widgets/lib/scss/selectlist";
@import "~react-widgets/lib/scss/multiselect";

@import '../../../shared/resources/styles/main.scss';


@import "global/defaults";
@import "global/widgets";
@import "./navbar";

@import "./exercises";
@import "./exercise/preview";
@import "./vocabulary";
@import './tags';
@import './preview';

.exercises-body {
  margin-top: 60px;

}
