.attachments {

  display: flex;
  flex-wrap: wrap;

  .attachment {
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    flex: 1;
    border: 1px solid $openstax-neutral;
    margin: 5px;
    position: relative;

    img {
      width:100%;
      height: auto;
    }

    input.file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label.selector {
      margin: 0;
    }

    .controls {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 2;
      > * {
        margin-left: 0.25rem;
        box-shadow: 0 8px 6px -6px black;
      }
    }

    textarea.copypaste {
      position: absolute;
      height: 130px;
      max-height: 80%;
      width: "calc(100% - 20px)";
      background: white;
      left: 10px;
      bottom: 10px;
      margin-bottom: 0;
    }

    .progress {
      position: absolute;
      bottom: 0px;
      left: 5%;
      width: 90%;
    }

    .error {
      background-color: lightyellow;
      border: 1px solid red;
      height: 25%;
      top: 25%;
      position: absolute;
      width: 80%;
      left: 10%;
      text-align: center;
      padding-top: 20px;
      font-size: 1.2rem;
    }
  }
}
