$tutor-book-intro-sociology-primary:  $openstax-book-intro_sociology-bg; // blue
$tutor-book-intro-sociology-secondary:   $openstax-book-intro_sociology-fg; // green
$tutor-book-intro-sociology-accent:   $openstax-book-intro_sociology-accent; // light-green
$tutor-book-intro-sociology-tertiary:   rgb(119, 175, 65); // green
$tutor-book-intro-sociology-quaternary: rgb(244, 208, 25); // yellow
$tutor-book-intro-sociology-highlight: rgb(255, 255, 187); // pale yellow