.ap-connection{
  background:  orange;

  padding: 0 40px;
  margin: 20px;
  background: @tutor-neutral-lightest;
  border: solid 1px @tutor-neutral-light;
  p { #fonts> .sans();}
  color: @tutor-neutral-dark;
   [data-type=title]  {
    .book-content-subtitle();
  }
}