// This file is part of the book-content mixin and should not be included directly
// Hide titles, abstracts and CNX Processing instructions
.section-opener,
.summary,
[data-type=abstract] {
}
[data-type=term]{
  font-weight: bold;
  font-style: italic;
}
.tutor-tables();
div[data-type="document-title"],
div[data-type=abstract],
cnx-pi{
  display: none;
}

// Default font for text content
p,
ul,
ol {
  #fonts > .serif(1.75rem, 190%);
  margin: 0 0 2.4rem 0;
}

ul {
  list-style-type: none;
  > li {
    &::before {
      list-style-type: none;
      content: "";
      width: .4em;
      height: .4em;
      float: left;
      margin: 0.75em -0.8em 0;
      border-radius: 50%;
    }
  }
}

section h1 + p:first-of-type,
div[data-type="document-title"] ~ p:first-of-type {
  .tutor-reading-first-letter();
}

figure {
  display: table;
  text-align: left;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 0;
  float: left;
  img {
    max-width: 100%;
    border: 1px solid @border-color;
    margin: 10px 0 0 0;
    padding: 0;
  }
  &.full-width:not(.splash) {
    width: 100%;
  }
  &.tutor-ui-vertical-img {
    @media (min-width: @screen-sm-min) {
      width: 50%;
      float: left;
    }
  }
  &.tutor-ui-horizontal-img {
    &.full-width {
      img { width: 100%; }
    }
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    color: @caption-font-color;
    padding: 10px 0;
    font-weight: 300;
    font-style: italic;
    line-height: 150%;
    border-bottom: 1px solid;
    border-color: @border-color;
  }
}
// images inside a figure that occurs right after a title are full-width
.title + figure {
  width: 100%;
  img { width: 100%; }
}

[data-type="footnote-refs"] {
  ol {
    padding-left: 0;
    list-style: none;
    li {
      list-style: none;
      a {
        padding-right: 10px;
      }
      p {
        display:inline;
      }
    }
  }
}
