.tutor-book-note(reading) {
  > .note,
  > section > .note:not(.learning-objectives, .tips-for-success),
  section > section > .note {
    background: none;
    padding: 20px 0;
    &:before {
      margin: -68px 0 0 0;
    }
  }
  section > h1 {
    clear: both;
  }
}
