// A mixin to style book content from CNX

@tutor-book-name: "book";



.tutor-book-content() {
  @reading-ui-banner-height: 40px;
  padding: 0 @tutor-card-body-padding-horizontal @tutor-card-body-padding-vertical @tutor-card-body-padding-horizontal;
  display: block;
  @import './mixins';
  @import './base';
  @import './splash-image';
  @import './typography';
  // type specific styling comes last so it can override the above styles
  @import: '/typography';
  @import './link-to-learning';
  @import './note';
  @import './target';
}


.tutor-book-category-biology() {
  @tutor-primary: orange;
  @reading-ui-banner-height: 40px;
  padding: 0 @tutor-card-body-padding-horizontal @tutor-card-body-padding-vertical @tutor-card-body-padding-horizontal;
  display: block;
  @import './mixins';
  @import './base';
  @import './splash-image';
  @import './typography';
  // type specific styling comes last so it can override the above styles
  @import: '/typography';
  @import './link-to-learning';
  @import './note';
  @import './target';
  @import './ap-bio/ap-connection';
  // @import './ap-bio/ap-everyday';    // @import './ap-bio/ap-sciences-practices';
  // @import './ap-bio/art-connection';
  // @import './ap-bio/carreer';
  // @import './ap-bio/everyday';
  // @import './ap-bio/evolution';
  // @import './ap-bio/scientific';
}

.tutor-book-category-physics() {
  @tutor-primary: red;
  @reading-ui-banner-height: 40px;
  padding: 0 @tutor-card-body-padding-horizontal @tutor-card-body-padding-vertical @tutor-card-body-padding-horizontal;
  display: block;
  @import './mixins';
  @import './base';
  @import './splash-image';
  @import './typography';
  // type specific styling comes last so it can override the above styles
  @import: '/typography';
  @import './link-to-learning';
  @import './note';
  @import './target';
  // @import './hs-physics/links-to-physics';
  // @import './hs-physics/worked-examples';
  // @import './hs-physics/work-in-physics';
  // @import './hs-physics/watch-physics';
  // @import './hs-physics/virtual-physics.less';
  // @import './hs-physics/fun-in-physics';
  // @import './hs-physics/grasp-check';
  // @import './hs-physics/visual-connection';
}