.tutor-book-note-style() {
  // add a title pseudo element if a data-label attribute is present
  &[data-label]:not([data-label=""]) {
    &::before {
      content: attr(data-label);
      .tutor-book-label-style();
    }
  }

  :last-child:not(.embed-responsive) {
    padding-bottom: 0;
  }

  .title {
    #fonts > .sans(2.4rem, 3.2rem);
    font-weight: 900;
    clear: both;
  }

  p,
  ul,
  li {
    #fonts > .sans(1.8rem, 1.75em);
    margin: 0 0  1.5rem 0;
    color: @tutor-neutral-dark;
  }
  li {
    padding: 5px 0;
  }
  .problem {
    clear: both;
  }
  .solution,
  .commentary {
    clear: both;
    [data-type=title]{
      #fonts > .sans(1.8rem, 1.75em);
      font-weight: bold;
    }
  }
}

.tutor-book-label-style() {
  position: absolute;
  #fonts > .sans(@tutor-book-ui-top-height - 18px, @tutor-book-ui-top-height);
  font-weight: 900;
  padding: 0 40px;
  height: @tutor-book-ui-top-height;
  display: inline-block;
  margin: @book-content-note-with-background-margin;
}

> .note,
> .example,
> [data-element-type="check-understanding"],
section > [data-element-type="check-understanding"],
> section > .note:not(.learning-objectives),
section > .example,
section > section > .note {
  background: @tutor-neutral-lightest;
  margin: 38px 0 32px 0;
  clear: both;
  border-top: solid 8px @tutor-neutral-lighter;
  border-bottom: solid 8px @tutor-neutral-lighter;
  padding: 20px 40px;
  width: 100%;
  .tutor-book-note-style();

  &:not(.os-teacher) {
    display: inline-block;
  }
}

.tutor-book-reading-note() {
  > .note,
  > .example,
  > [data-element-type="check-understanding"],
  > section > .note:not(.learning-objectives):not(.tips-for-success),
  section > section > .note {
    background: none;
    &:before {
      margin: @book-content-note-without-background-margin;
    }
  }
  > .example,
  > [data-element-type="check-understanding"],
   {
    padding: 20px 0;
    .embed-responsive {
      iframe {
        width: 100%;
      }
    }
  }
}

.tutor-book-reading-titles(){
  section > h1 {
    clear: both;
  }
}


// .example, check-understanding content currently lacks a data-label attribute
> .example,
section > .example {
  &::before {
    content: "Worked Example";
    .tutor-book-label-style();
  }
}


> [data-element-type="check-understanding"],
section > [data-element-type="check-understanding"] {
    &::before {
    content: "Check Your Understanding";
    .tutor-book-label-style();
  }
  [data-type="title"] {display: none;}
}
