.ost-chapter-review {
  counter-reset: question;
}
.question {
  &:before {
    counter-increment: question;
    content: counter(question) ". ";
    display: block;
    float: left;
    width: 4%;
  }
  .question-stem {
    float: left;
    width: 96%;
  }
}
.answers-answer {
  clear: both;
}