.highlight-animation() {
  -webkit-animation: book-content-target-highlight 1.5s ease-out;
  animation: book-content-target-highlight 1.5s ease-out;
}

a[target=_blank] { .tutor-external-link-indicator(); }

figure {
  &:target, &.target {
    .highlight-animation();

    > * {
      .highlight-animation();
    }

    img {
      mix-blend-mode: multiply;
    }
  }
}

section, div, span, table {
  &:target, &.target {
    position: relative;

    img {
      mix-blend-mode: multiply;
    }

    &::after {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      mix-blend-mode: multiply;

      .highlight-animation();
    }
  }
}

@-webkit-keyframes book-content-target-highlight {
  0% {
    background-color: @tutor-highlight;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes book-content-target-highlight {
  0% {
    background-color: @tutor-highlight;
  }
  100% {
    background-color: transparent;
  }
}
