.highlight-animation() {
  -webkit-animation: book-content-target-highlight 1.5s ease-out;
  animation: book-content-target-highlight 1.5s ease-out;
}

.highlight-target() {
  background-color: @tutor-highlight;
}

.highlight-target(transition) {
  .highlight-target();
  .transition(background-color .1s ease-out);
}

a[target=_blank] {
  &::after {
    .fa-icon();
    content: @fa-var-external-link;
    margin: 0 4px 0 6px;
  }
}

figure {
  &:target, .target {
    img {
      mix-blend-mode: multiply;
    }
  }
  &:target, .target {
    .highlight-animation();

    > * {
      .highlight-animation();
    }
  }
  .target {
    .highlight-target(transition);

    > * {
      .highlight-target(transition);
    }
  }
}

section, div, span, table {
  &:target, .target {
    img {
      mix-blend-mode: multiply;
    }
  }
  &:target {
    .highlight-animation();
  }
  .target {
    .highlight-target(transition);
  }
}

@-webkit-keyframes book-content-target-highlight {
  0% {
    .highlight-target();
  }
  100% {
    background-color: transparent;
  }
}

@keyframes book-content-target-highlight {
  0% {
    .highlight-target();
  }
  100% {
    background-color: transparent;
  }
}
