
  h1{
  #fonts > .sans(3.8rem, 4.6rem);
    font-weight: 900;
    margin-bottom: 20px;
    border-top: solid 8px @tutor-secondary;
    padding-top: 20px;
  }

.section-opener + section {
  h1 {
    border-top: 0;
  }
}



