// alias to book specific variables here

// colors
// aliases
@tutor-book-primary: @tutor-primary;  // orange
@tutor-book-secondary: @tutor-secondary;  // green
@tutor-book-tertiary: @tutor-tertiary;  // dark blue
@tutor-book-quaternary: @tutor-quaternary;  // yellow
@tutor-book-highlight: @tutor-highlight;  // pale yellow

// @tutor-book-white: @tutor-white;
// @tutor-book-neutral-lightest: @tutor-neutral-lightest;
// @tutor-book-neutral-bright: @tutor-neutral-bright;
// @tutor-book-neutral-lighter: @tutor-neutral-lighter;
// @tutor-book-neutral-light: @tutor-neutral-light;
// @tutor-book-neutral: @tutor-neutral;
// @tutor-book-neutral-dark: @tutor-neutral-dark;
// @tutor-book-neutral-darker: @tutor-neutral-darker;
// @tutor-book-black: @tutor-black;

// book specific
@tutor-book-text-on-dark-labels: @tutor-white;
@tutor-book-splash-overlay: fade(@tutor-tertiary, 80%);
@tutor-book-splash-text: @tutor-book-text-on-dark-labels;




// dimensions and such
@tutor-book-padding-horizontal: @tutor-card-body-padding-horizontal;
@tutor-book-padding-vertical: @tutor-card-body-padding-vertical;
@tutor-book-ui-top-height: 40px;
