.required-hint.hint {
  display: none;
}

.form-note {
  color: @tutor-neutral;
  font-size: 1.4rem;
  font-style: italic;
}

textarea {
  border: 1px solid @tutor-neutral;
  &:focus {
    border: 1px solid @tutor-tertiary-light;
    box-shadow: 0 0 10px fade(@tutor-tertiary-light, 25%);
  }
}

button i.fa { margin-right: 0.5rem; }
