textarea {
  border: 1px solid @tutor-neutral;
  
  &:focus {
    border: 1px solid @tutor-tertiary-light;
    box-shadow: 0 0 10px fade(@tutor-tertiary-light, 25%);
  }
}

.form-control:focus, .form-control.focus {
  background-image: linear-gradient(@info, @info), linear-gradient(@input-underline-color, @input-underline-color);
  animation: input-highlight 0.5s forwards;
}
