@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; visibility: visible;} }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; visibility: visible; } }

.loading .refresh-button {
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;

  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  animation-delay: 30s;
}


.error .refresh-button {
  opacity: 1;
  visibility: visible;
}


