// Math Rendering
// Hides all data-math elements, but still reserves their space in the DOM.
// when .MathJax renders them, it'll be inside a .MathJax element which is displayed
[data-math]{
    visibility: hidden;

    .MathJax {
      visibility: visible;
    }
}

// KaTeX 1.0.2 generates both HTML and MathML
//
// Hide the HTML and use MathJax for rendering
// TODO: Decide whether to remove KaTeX (involves additional code for MathJax)
.has-html .katex > .katex-html { display: none; }

// HACK: Override some odd properties being directly added on to 2 MathJax-related elements
.MathJax .math {
  > span {
    display: inline !important;
    position: static !important;
    width: auto !important;
    height: auto !important;

    > span {
      position: static !important;
    }
  }
}
