.dropdown-menu {

  border: 1px solid @tutor-neutral-light;

  // The QuestionLibrary is hidden until it's ready for release
  // it's re-enabled below when spy mode is engaged
  [data-name=viewQuestionsLibrary] {
    display: none;
  }

}

// enable the Question Library link when spy mode is active
// This and the above 'display: none' should be removed when the
// Question Library is released
.openstax-debug-content.is-enabled {
  .dropdown-menu [data-name=viewQuestionsLibrary] { display: block; }
}
