@tutor-navbar-height: 61px;
@tutor-navbar-padding-horizontal: 4rem;

.navbar-fixed-top {

  // override bootstrap material design media query for (max-width: 1199px)
  .navbar-brand {
    height: 60px;
    padding: 15px;
  }

  .transition(transform 0.2s ease-out);

  // override the bootstrap defaults with tutor defaults
  &.navbar.navbar{
    border-bottom: 1px solid @border-color;
    background-color: @tutor-white;
  }

  .container-fluid { padding: 0 @tutor-navbar-padding-horizontal; }

  .ui-brand-logo {
    display: inline-block;
    height: 30px;
    width: 217px;
    .tutor-background-image('logo-brand.svg');
  }

  .ui-rice-logo {
    display: inline-block;
    margin: 15px 0 15px 20px;
    height: 30px;
    width: 84px;
    .tutor-background-image('rice-logo.png');
  }

  .navbar-brand {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }

  .dropdown-menu .logout {
    button {
      #fonts .sans(1.4rem, 1.4rem);
      margin: 0;
      padding-left: 0;
      text-transform: none;
      // Make the whole row clickable like the other links
      width: 100%;
      text-align: left;

      &:hover { text-decoration: initial; }
    }
  }
}
