@green: rgb(122, 176, 73);

.panel {
  > .panel-heading {
    position: relative;
    padding: 5px 15px;
    background-color: @green;
    color: white;
    border-radius: 0;
    border: 2px solid @tutor-secondary-light;

    span {
      vertical-align: middle;
      font-size: 2.4rem;
      font-weight: 900;
    }
    
    .dialog& {
      button {
        position: absolute;
        right: 15px;
        top: 0;
        padding: 0;
        margin: 0;
        color: white;
        font-size: 3rem;

        &:hover {
          text-decoration: none;
          box-shadow: none !important; // override Bootstrap styling
        }
      }
    }
  }

  > .panel-body {
    padding: 20px;
  }

  > .panel-footer {
    > span {
      .btn-link {
        padding: 12px 36px;
        margin-left: 25px;
        text-transform: none;
        font-size: 1.8rem;
        border: 1px solid lightgray;
        border-radius: 0;

        &:hover {
          text-decoration: none;
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
}
