@import '../../../node_modules/react-widgets/lib/less/bootstrap-theme';
@import '../../../node_modules/react-widgets/lib/less/mixins';
@import '../../../node_modules/react-widgets/lib/less/normalize';
@import '../../../node_modules/react-widgets/lib/less/core';
@import '../../../node_modules/react-widgets/lib/less/popup';
@import '../../../node_modules/react-widgets/lib/less/datepicker';
@import '../../../node_modules/react-widgets/lib/less/selectlist';
@import '../../../node_modules/react-widgets/lib/less/multiselect';

@rw-font-path: 'fonts';
@rw-css-prefix: rw-i;


@font-face {
  font-family: 'RwWidgets';
  src: ~"url('@{rw-font-path}/rw-widgets.eot?v=@{fa-version}')";
  src: ~"url('@{rw-font-path}/rw-widgets.eot?#iefix&v=@{fa-version}') format('embedded-opentype')",
    ~"url('@{rw-font-path}/rw-widgets.woff?v=@{fa-version}') format('woff')",
    ~"url('@{rw-font-path}/rw-widgets.ttf?v=@{fa-version}') format('truetype')",
    ~"url('@{rw-font-path}/rw-widgets.svg?v=@{fa-version}#fontawesomeregular') format('svg')";
  font-weight: normal;
  font-style: normal;
}


.@{rw-css-prefix} {
  display: inline-block;
  font-family: RwWidgets;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{rw-css-prefix}-caret-down:before { content: '\e801'; }
.@{rw-css-prefix}-caret-up:before { content: '\e800'; }
.@{rw-css-prefix}-caret-left:before { content: '\e807';  }
.@{rw-css-prefix}-caret-right:before { content: '\e806'; }

.@{rw-css-prefix}-clock-o:before { content:'\e80c'; }
.@{rw-css-prefix}-calendar:before { content: '\e808'; }
