// Applies a fixed background effect to a container that includes a large fixed header
//
// It's intended to be customized for different looks depending on the type of content
// the user is styling, i.e. Physics, Biology, etc
.tutor-booksplash-background {

  &:before {
    content: " ";
    background-position: center -20px;
    background-size: 1300px auto;
    background-repeat: no-repeat;
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    height: 24rem;
    overflow: hidden;
    color: @tutor-secondary;
    text-align: center;
    font-size: 35rem;
    padding-top: 10rem;
    #fonts > .book-cover();
    z-index: -1;
    letter-spacing: 20px;  // space wider so text extends past margins
  }

  // The background is applied as a :after block so the opacity can
  // be applied to only the background image, not the content itself
  &:after {
    content: "";
    position: fixed;
    z-index: -2;
    top: 240px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // custom backgrounds images for different courses
  &[data-category=physics]:after{ .tutor-background-image("physics-background.jpg"); }
  &[data-category=biology]:after{ .tutor-background-image("biology-background.jpg"); }

  // custom colors for specific courses
  &[data-category=physics]:before{
    .tutor-physics-cover-background();
  }

  &[data-category=biology]:before{
    .tutor-biology-cover-background();
  }

}
.tutor-booksplash-adjust-top-margin(@normal-top-margin: 100px, @short-top-margin: 35px){
  margin-top: @normal-top-margin;
  // if the screen is short, move up even though it means
  // the booksplash background won't be as visible
  @media screen and ( max-height: 600px ){ margin-top: @short-top-margin; }
}
