// Applies a fixed background effect to a container that includes a large fixed header
//
// It's intended to be customized for different looks depending on the type of content
// the user is styling, i.e. Physics, Biology, etc
.tutor-booksplash-background {

  &:before {
    content: " ";
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    height: 24rem;
    line-height: 24rem;
    overflow: hidden;
    color: @tutor-secondary;
    text-align: center;
    font-size: 35rem;
    letter-spacing: -6px;
    #fonts > .book-cover();
    z-index: -1;
  }

  &[data-appearance]:before {
    color: @openstax-book-default-fg;
    background-color: @openstax-book-default-bg;
    content: attr(data-title);
  }
  .apply-booksplash-background(@code; @fg; @bg) {
    &[data-appearance=@{code}]:before {
        color: @@fg;
        background-color: @@bg;
    }
  }
  .for(@openstax-book-appearance-codes); .-each(@code) {
    .apply-booksplash-background(@code, "openstax-book-@{code}-fg", "openstax-book-@{code}-bg");
  }

}
.tutor-booksplash-adjust-top-margin(@normal-top-margin: 100px, @short-top-margin: 35px){
  margin-top: @normal-top-margin;
  // if the screen is short, move up even though it means
  // the booksplash background won't be as visible
  @media screen and ( max-height: 600px ){ margin-top: @short-top-margin; }
}
