@googleFontApi: "//fonts.googleapis.com/css?family=";
@fontPath: "/fonts/";

@font-face {
  font-family: 'Architects Daughter';
  src: local('Architects Daughter'),
       local('ArchitectsDaughter'),
       // url("@{googleFontApi}Architects+Daughter"),
       url("@{fontPath}ArchitectsDaughter.ttf") format('truetype');
}

@font-face {
    font-family: "Lato";
    src: local('Lato-Light'),
         // url("@{googleFontApi}Lato:300"),
         url("@{fontPath}Lato-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: local('Lato-LightItalic'),
         // url("@{googleFontApi}Lato:300italic"),
         url("@{fontPath}Lato-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic, oblique;
}

@font-face {
    font-family: "Lato";
    src: local('Lato-Regular'),
         // url("@{googleFontApi}Lato:400"),
         url("@{fontPath}Lato-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: local('Lato-RegularItalic'),
         // url("@{googleFontApi}Lato:400italic"),
         url("@{fontPath}Lato-RegularItalic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic, oblique;
}

@font-face {
    font-family: "Lato";
    src: local('Lato-Bold'),
         // url("@{googleFontApi}Lato:700"),
         url("@{fontPath}Lato-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: local('Lato-Black'),
         // url("@{googleFontApi}Lato:900"),
         url("@{fontPath}Lato-Black.ttf") format('truetype');
    font-weight: 900;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Light'),
       local('Merriweather-Light'),
       // url("@{googleFontApi}Merriweather:300"),
       url("@{fontPath}Merriweather-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Light Italic'),
       local('Merriweather-LightItalic'),
       // url("@{googleFontApi}Merriweather:300italic"),
       url("@{fontPath}Merriweather-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic, oblique;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Bold'),
       local('Merriweather-Bold'),
       // url("@{googleFontApi}Merriweather:700"),
       url("@{fontPath}Merriweather-Bold.ttf") format('truetype');
  font-weight: 700;
}


@body-font-color: @tutor-neutral-darker;
@caption-font-color: #646464;

#fonts {
  .sans (@size: 1.5rem, @line-height: 3rem) {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: @size;
    line-height: @line-height;
  }
  .serif (@size: 1rem, @line-height: 1.5rem) {
    font-family: 'Merriweather', Georgia, Times, serif;
    font-size: @size;
    line-height: @line-height;
  }
  .script (@size: 1.5rem, @line-height: 3rem, @style: normal) {
    font-family: 'Architects Daughter', cursive;
    font-size: @size;
    line-height: @line-height;
    font-style: @style;
  }
  .guide-label(){
    font-family: 'Lato-RegularItalic', Helvetica, sans-serif;
  }
  .guide-header(){
    font-family: 'Lato-Black', Helvetica, sans-serif;  
  }
}

html {
  font-size: 62.5%; // 10px by default, with deference to user's settings
}

body {
  #fonts > .sans;
  color: @body-font-color;
}

h1 {
  #fonts > .sans(3.8rem, 4.6rem);
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  #fonts > .sans(3rem, 4.6rem);
  font-weight: 900;
}

::-webkit-input-placeholder {
  font-weight: 300;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
  font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 300;
  font-style: italic;
}
:-ms-input-placeholder {
  font-weight: 300;
  font-style: italic;
}
