.tutor-font-face(@name, @filename, @weight, @style:normal) {
  @font-face {
    font-family: @name;
    src: local(@name),
    url('fonts/@{filename}.woff2') format('woff2'),
    url('fonts/@{filename}.woff') format('woff');
    font-weight: @weight;
    font-style: @style;
  }
}

.tutor-font-face('Lato-Light',       'lato-v11-latin-300',       300);
.tutor-font-face('Lato',             'lato-v11-latin-regular',   400);
.tutor-font-face('Lato-Italic',      'lato-v11-latin-italic',    400, 'italic');
.tutor-font-face('Lato-Bold',        'lato-v11-latin-700',       700);
.tutor-font-face('Lato-Black',       'lato-v11-latin-900',       900);
.tutor-font-face('Lato-LightItalic', 'lato-v11-latin-300italic', 300, 'italic');

.tutor-font-face('MerriWeather-Light',       'merriweatherv11-latin-300',       300);
.tutor-font-face('MerriWeather-LightItalic', 'merriweatherv11-latin-300italic', 300, 'italic');
.tutor-font-face('MerriWeather',             'merriweather-v8-latin-regular',   400);
.tutor-font-face('MerriWeather-Bold',        'merriweatherv11-latin-700',       700);

.tutor-font-face('Architects Daughter', 'Architects Daughter',  'architects-daughter-v6-latin-regular', 400);

@body-font-color: @tutor-neutral-darker;
@caption-font-color: #646464;

#fonts {
  .sans (@size: 1.5rem, @line-height: 3rem) {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: @size;
    line-height: @line-height;
  }
  .serif (@size: 1rem, @line-height: 1.5rem) {
    font-family: 'Merriweather', Georgia, Times, serif;
    font-size: @size;
    line-height: @line-height;
  }
  .script (@size: 1.5rem, @line-height: 3rem, @style: normal) {
    font-family: 'Architects Daughter', cursive;
    font-size: @size;
    line-height: @line-height;
    font-style: @style;
  }
}

html {
  font-size: 62.5%; // 10px by default, with deference to user's settings
}

body {
  #fonts > .sans;
  color: @body-font-color;
}

h1 {
  #fonts > .sans(3.8rem, 4.6rem);
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  #fonts > .sans(3rem, 4.6rem);
  font-weight: 900;
}

::-webkit-input-placeholder {
  font-weight: 300;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
  font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 300;
  font-style: italic;
}
:-ms-input-placeholder {
  font-weight: 300;
  font-style: italic;
}
