.task-step {
  .task-step-group {
    .size-exercise-card();
    color: @tutor-neutral;
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .task-step-group-label {
    display: inline-block;
    margin-left: 8px;
  }
}