.exercise-free-response {
  // images in exercises are not wrapped and don't have a class.
  // This will work fine until there's some images that shouldn't be targeted
  img {
    display: block;
    margin: 0 auto;
  }

  textarea {
    margin: 1em 0;
    padding: 5px;
    height: 200px;
    width: 100%;
    font-size: 0.8em;
    line-height: 150%;

    &[disabled] {
      border: none;
    }
  }

  .exercise-uid { .tutor-task-step-question-uid(); }
}

.exercise-free-response, .exercise-review, .exercise-multiple-choice {
  .size-exercise-card();
}