@import '../screen-styles';
@import '../../../resources/styles/book-content/index';
@import '../../../resources/styles/book-content/page';
@import './styles/milestones';

.task-screen {
  @include book-page();
  .book-page {
    padding: 0 $tutor-book-padding-horizontal;
    .os-chapter-outline {
      display: none;
    }
  }

  .exercise-step {
    @include book-content-interactives();
  }
  .video-step,
  .interactive-step {
    @include tutor-book-notes();
    [data-type="note"] > [data-type=content] {
      border-top: 0;
      border-bottom: 0;
    }
  }
  [data-type="footnote-refs"] {
    display: none;
  }
}
