.pinned-footer {
  .tutor-shadow(1);
  .fixed-bar(fadeout(@tutor-white, 20%));
  padding: 10px @tutor-navbar-padding-horizontal;
  bottom: 0;

  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.card-footer {
  .size-exercise-card();
}

.card-body {
  background: @tutor-white;
  padding: @tutor-card-body-padding 0;
  margin-bottom: 4rem;
  position: relative; // needed so components inside can position themselves using absolute
  .clearfix();
}

.pinned-header {
  .tutor-shadow(1);
  .transition(transform 0.2s ease-out);

  top: @pinned-top-heading-buffer;
  .fixed-bar(fadeout(@tutor-white, 20%));
  padding: 10px @tutor-navbar-padding-horizontal;
  margin: 0;
}
