.pinned-footer {
  .tutor-shadow(1);
  .fixed-bar(fadeout(@tutor-white, 20%));
  padding: 10px @tutor-navbar-padding-horizontal;
  bottom: 0;
}

.card-footer {
  .size-exercise-card();
}

.card-body {
  background: @tutor-white;
  padding: 20px;
  margin-bottom: 4rem;
  .clearfix();
}

.pinned-header {
  .tutor-shadow(1);
  .transition(transform 0.2s ease-out);

  top: @tutor-navbar-height;
  .fixed-bar(fadeout(@tutor-white, 20%));
  padding: 10px @tutor-navbar-padding-horizontal;
  margin: 0;
}
