.task {
  iframe {
    width: 960px;
    height: 500px;
    border: none;
    margin: auto;
  }

  .spacer-step {
    padding: @tutor-card-body-padding;
  }
  
}

.task-chapter_practice {
  .completed-message {
    .tutor-completed-message();
  }
}

.task-homework {
  .completed-message {
    .size-exercise-card();
  }
}

.task-step {
  .placeholder-step {
    .size-exercise-card();
  }
}

@import './reading';
@import './video';
