@import '~openstax-react-components/resources/styles/components/breadcrumbs/coach';

.task {
  iframe {
    width: 960px;
    height: 500px;
    border: none;
    margin: auto;
  }

  .spacer-step {
    padding: @tutor-card-body-padding;
  }
  .interactive-step > .interactive-content,
  .reading-step {
    .tutor-book-content();
    .tutor-book-note(reading);
    .tutor-book-titles(reading);

    &[data-appearance=physics]{
      .tutor-book-content-theme-physics();
    }

    &[data-appearance=biology]{
      .tutor-book-content-theme-biology();
    }
  }

  .openstax-exercise-card {
    padding: @tutor-panel-padding-vertical @tutor-card-body-padding-horizontal;

    .openstax-exercise {
      font-size: 2rem;
    }

    .exercise-uid {
      opacity: 0.5;
      font-weight: 100;
    }
  }
  // only visible when "spy mode" is enabled
  .task-ecosystem-info { .tutor-spy-mode-content() };

  &.task-concept_coach {
    .concept-coach-breadcrumbs();
  }
}

@import './external';
@import './reading';
@import './video';
@import './ends';
@import './exercise';
