.task {
  iframe {
    width: 960px;
    height: 500px;
    border: none;
    margin: auto;
  }

  .spacer-step {
    padding: @tutor-card-body-padding;
  }
  .interactive-step > .interactive-content,
  .reading-step {
    .tutor-book-content();
    .tutor-book-note(reading);
    .tutor-book-titles(reading);

    &[data-category=physics]{
      .tutor-book-content-theme-physics();
    }

    &[data-category=biology]{
      .tutor-book-content-theme-biology();
    }
  }
  .task-step {
    padding: @tutor-card-body-padding;
    .exercise-uid {
      right: @tutor-card-body-padding-horizontal;
    }
  }
  // only visible when "spy mode" is enabled
  .task-ecosystem-info { .tutor-spy-mode-content() }
}

@import './external';
@import './reading';
@import './video';
@import './ends';
