.task-concept_coach {
  .completed-message {
    min-height: auto;
    .size-exercise-card();
  }
}

.concept-coach-task-review-controls {
  .btn {
    width: 50%;
    i.fa {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    &@{btn-preselector} {
      margin-right: 0;
    }
  }
}