.task-chapter_practice {
  .completed-message {
    .tutor-completed-message();
  }
}

.task-homework {
  .completed-message {
    .size-exercise-card();
  }
}

.task-step {
  .placeholder-step {
    .size-exercise-card();
  }
}

.homework-review-problem-leave {
  max-height: 800px;
  overflow: hidden;
  .transition(max-height 0.3s);
}

.homework-review-problem-leave-active {
  max-height: 0;
}