.footer-content {
  .task-title {
    display: inline-block;
    line-height: @tutor-card-footer-line-height;
    padding: 0 20px;
    float: right;
    font-weight: 600;
  }
  .task-footer-buttons {
    display: inline-block;
  }
  // Has a "Covers sections ..." message
  &.has-sections {
    position: relative;
    height: 50px;
    .task-covers {
      position: absolute;
      right: 0;
      bottom: -5px;
      color: @tutor-neutral;
      font-style: italic;
    }
    .continue.btn {
      height: 40px;
      margin-top: 5px;
    }
  }
}
