.task-step .video-step {
  
  .size-task-step-card();
  
  .video-content > .note:first-child .title{
    display: none;
  }

  .ost-video {
    iframe {
      display: block;
      width:  @tutor-video-iframe-width;
      height: @tutor-video-iframe-height;
    }
  }
}

