.task-step .video-step {
  
  padding: @tutor-card-body-padding;
  
  .video-content > .note:first-child .title{
    display: none;
  }

  .ost-video {
    iframe {
      width:  @tutor-video-iframe-width;
      height: @tutor-video-iframe-height;
    }
  }
}

