.tutor-highlight {
  background-color: $tutor-highlight;
  cursor: pointer;
  transition: 0.3s background-color;
  > img:only-child {
    padding: 1rem;
    background-color: $tutor-highlight;
  }
  &.focus {
    background-color: $tutor-highlight-active;
    > img:only-child {
      background-color: $tutor-highlight-active;
    }
  }
}

.MathJax_Display .tutor-highlight {
  display: inline-block;
}

.annotater {
  position: relative;
  .annotater-content {
    position: relative;
  }
  .note-edit-buttons {
    position: absolute;
    height: 100%;
    width: 100px;
    right: -140px;
    @media screen and ( max-width: $book-content-collapse-breakpoint ){
      right: 0;
    }
  }
  .inline-controls {
    background: $tutor-gray;
    font-size: 2rem;
    padding: 0;
    position: absolute;
    z-index: 2;
    @include no-select();
    @include tutor-shadow(subtle);
    display: flex;
    align-items: center;
    > * {
      background-color: $tutor-gray;
    }
    .highlight, .annotate {
      svg {
        width: 48px;
        height: 48px;
        path {
          opacity: 0.9;
        }
      }
      .outline { display: none; }
      border: 0;
      &:hover {
        svg path { opacity: 1; }
      }
    }

    &::after {
      @include triangle(
        bottom,
        $color: $tutor-gray,
        $height: 8px,
        $width: 14px
      );
      content: " ";
      left: calc(50% - 7px);
      bottom: -8px;
      position: absolute;
    }
  }

  .status-message-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    opacity: 0.8;
    border-top-left-radius: $border-radius-sm;
    background-color: #e1f3df;
    color: #75a048;
    &.error {
      color: $tutor-neutral-darker;
      background-color: $tutor-warning;
    }

  }

  .slide-out-edit-box {
    background-color: $tutor-neutral-bright;
    border: thin solid $tutor-neutral-light;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 50%;
    transition: 0.3s;
    width: 40rem;
    z-index: 20;
    min-height: 175px;
    @include tutor-shadow(subtle);

    &.closed {
      right: -40rem;
    }

    textarea {
      border: thin solid $tutor-neutral-light;
      height: 10rem;
      width: 100%;
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        background-color: $tutor-white;
        border: thin solid $tutor-neutral-light;
        border-radius: 3px;
        color: $tutor-neutral;
        margin: 5px;
        min-width: 46px;
        padding: 5px 10px;
        &[disabled] {
          color: $tutor-neutral-light;
          cursor: not-allowed;
        }
        &.primary {
          background-color: $tutor-primary;
          color: $tutor-neutral-bright;
        }
        &.secondary {
          background-color: $tutor-neutral;
          color: $tutor-neutral-bright;
        }

        > * {
          margin: 0;
        }
      }
    }
  }

  .sidebar-button {
    position: absolute;
    font-size: 2.5rem;
    z-index: 1;
    right: 2.5rem;
    color: $tutor-neutral-lite;
    transition: 0.3s color;
    &:hover { color: $tutor-neutral-dark; }
    &.active {
      color: darken($tutor-highlight-active, 45%);
      &:hover {
        color: darken($tutor-highlight-active, 45%);
        cursor: default;
      }
    }
    @media print {
      display: none;
    }
  }

  .centered-content {
    flex-basis: 100%;
    max-width: $tutor-max-panel-width;

    @media print {
      flex-basis: calc(100% - 8rem);
      transform: translateX(1rem);
    }

    > .dismiss {
      float: right;
      font-size: 18px;
    }
  }

  @media print {
    .filter-area,
    .dismiss,
    .controls {
      display: none;
    }
  }
}

// override reference book style
.reference-book .page-wrapper .annotater h1 {
  border-top-width: 0;
  padding-top: 0;
}

@import "./summary-page";
