.modal.show .modal-dialog.notes-modal {
  // Force fixed modal-scroll-top button to attach to modal
  // by using a no-effect transform.
  transform: rotate(0);
}

.modal-dialog.notes-modal {
  @include tutor-modal-v2;

  .modal-body {
    padding: 0;
  }

  .modal-scroll-btn {
    position: fixed;
    bottom: 44px;
    right: 44px;
    padding: 4px;
    text-align: center;
    font-size: 1.6rem;
    background: transparent;
    border: 0;

    svg {
      height: 32px;
      width: 32px;
      padding: 4px;
      margin: 0;
      background: #959595;
      border-radius: 100%;
    }
  }

  @media print {
    flex-basis: calc(100% - 8rem);
    transform: translateX(1rem);
  }


  @media print {
    padding: 0;
    position: static;
  }

  .summary-page {
    flex-basis: 100%;

    .filter-area {
      display: flex;
      justify-content: space-between;
      background: $tutor-white;
      border-bottom: 1px solid $dropdown-divider-bg;
      padding: 15px 2.2rem;
    }

    .filter-widget {
      display: flex;
      flex-direction: column;
      width: 85%;
      .rw-widget { width: 100%; }
      .chapter-section {
        margin-right: 0.5rem;
      }
    }

    .modal-action {
      color: $tutor-neutral-dark;
      font-size: 1.75rem;
      letter-spacing: -0.4px;
      font-weight: bold;
    }

    .notes {
      padding: 22px 3rem;
    }

    .no-highlights {
      font-size: 1.6rem;
    }

    .blank-slate-wrapper {
      margin: 40px;
      font-size: 1.8rem;
      text-align: center;

      p { padding: 1.75rem 0 0; }
    }

    .blank-slate-title {
      font-weight: bold;
      text-align: center;
    }

    .blank-slate-inner {
      background-color: $tutor-white;
      margin: 24px auto;
      padding: 32px 40px;
      max-width: 728px;
      text-align: left;

      .blank-slate-step {
        margin: 1.75rem 0;

        span {
          vertical-align: middle;
        }

        .panel-icon {
          display: inline-block;
          width: 48px;
          height: 28px;
          @include tutor-background-image("highlighter/instructions-panel-icon.svg");
        }

        .highlighter-icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          @include tutor-background-image("highlighter/instructions-highlighter-icon.svg");
        }

        .notes-icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          @include tutor-background-image("highlighter/instructions-notes-icon.svg");
        }
      }

      .blank-slate-step-skip {
        margin-left: 2rem;
      }
    }

    .section-title {
      margin: 1rem 0;
      .chapter-section { margin-right: 1rem; }
    }

    h1 {
      @include tutor-main-title-font();
      border-top-width: 0;
    }

    h2 {
      @include tutor-main-subtitle-font();
    }

    .note-card {
      padding-bottom: 3rem;
    }

    .note-body {
      background-color: $tutor-white;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      width: 100%;
      break-inside: avoid;

      @include tutor-book-content-equations();

      @media print {
        padding: 0;
      }

      .button-group {
        display: flex;
      }


      .controls {
        display: flex;
        justify-content: flex-end;

        a, button {
          background-color: $tutor-white;
          border: thin solid $tutor-neutral-light;
          border-radius: 2px;
          height: 3rem;
          margin-right: 0.5rem;
          width: 4.6rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &:last-child {
            margin: 0;
          }

          .ox-icon {
            color: $tutor-neutral-dark;
            margin: 0;
          }
        }
      }

      .note-content {
        flex: 1;

        .selected-text {
          border-left: 3px solid $tutor-neutral-light;
          font-family: Georgia, serif;
          background: $tutor-white;
          font-size: 1.5rem;
          line-height: 1.8rem;
          font-style: italic;
          padding: 1rem;
        }
        .plain-text {
          white-space: pre-line;
        }
        .edit-box,
        .plain-text:not(:empty) {
          margin-top: 2rem;

          textarea {
            border: thin solid $tutor-neutral-light;
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
  }
}
