.learning-guide-chapter-panel() {
  .chapter-heading {
    padding-right: 30px;
    padding-left: 20px;
    border-right: 1px solid @tutor-neutral-light;
    float: left;
    &.metric {
      padding-bottom: 5px;

      .title {
        font-size: 1.2em;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
  }
  .chapter-sections {
    float: right;
  }
  .chapter-number {
    margin-right: 5px;
    font-size: 1.2em;
    display: inline-block;
    float: left;
    color: @tutor-secondary;
  }
  .chapter-title {
    max-width: 229px;
    font-size: 1.2em;
    display: block;
    margin-bottom: 15px;
  }
  button {
    margin: 0px;
  }
  .section {
    font-size: 1.4rem;
    float: left;
    .section-heading {
      height: 27px;
    }
    .section-number {
      margin-right: 10px;
      display: inline-block;
      float: left;
      height: inherit;
    }
    .section-title {
      max-width: 210px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }
    .progress-bar-button {
      margin-top: 0px;
    }
  }

  .progress-bar-button {
    width: 100%;
  }

  .amount-worked {
    width: 100%;
    .count {
      float: right;
      color: @tutor-neutral;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      &.chapter {
        float: left;
        font-size: 1.3rem;
        margin-top: 10px;
      }
    }
  }

  .progress {
    height: 0.8rem;
    .progress-bar {
      .learning-guide-colors();
    }
  }

}
