.learning-guide-chapter-panel() {
  .view-toggle {
    width: 100%;
    margin-right: 1rem;
    #fonts > .sans(1.2rem, 1rem);
    text-align: right;
    cursor: pointer;
    .no-select();
  }
  .chapter-heading {
    padding-right: 30px;
    border-right: 1px solid @tutor-neutral-light;
    width: 25%;
    height: 217px;
    margin-right: 20px;
    float: left;
    padding-left: 20px;
    &.metric {
      padding-bottom: 5px;
      
      .title {
        font-size: 1.2em;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    .arrow {
      padding-right: 10px;
      .fa-icon();
      &.stronger:after {
        content: @fa-var-arrow-up;
        color: @tutor-success;  
      }
      &.weaker:after {
        content: @fa-var-arrow-down;
        color: @tutor-danger;
      }
    }
  }
  .chapter-sections {
    float: right;
    width: 73%;
  }
  .chapter-number {
    margin-right: 5px;
    font-size: 1.2em;
    display: inline-block;
    float: left;
    color: @tutor-secondary;
  }
  .chapter-title {
    max-width: 229px;
    font-size: 1.2em;
    display: block;
    margin-bottom: 15px;
  }
  button {
    margin: 0px;
  }
  .section {
    font-size: 1.4rem;
    margin-bottom: 30px;
    width: 257px;
    float: left;
    margin-right: 30px;
    .section-heading {
      height: 27px;
    }
    .section-number {
      margin-right: 10px;
      display: inline-block;
      float: left;
      height: inherit;
    }
    .section-title {
      max-width: 210px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }
    .progress-bar-button {
      margin-top: 0px;
    }
  }

  .progress-bar-button {
    width: 100%;
  }

  .amount-worked {
    width: 100%;
    .count {
      float: right;
      color: @tutor-neutral;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      &.chapter {
        float: left;
        font-size: 1.3rem;
        margin-top: 10px;
      }
    }
  }

  .progress {
    height: 8px;
    .progress-bar {
      .learning-guide-colors();
    }
  }

}
