.learning-guide {

  .guide-heading {
    .row();
  }

  @media (min-width: @screen-lg-min) {
    .info { .pull-right(); }
  }

  @media (max-width: @screen-lg-min) {
    .info {
      clear: left;
      .guide-group-key { margin-top: 1rem; }
    }
    .weaker .explanation p {
      display: inline;
      & + p { margin-left: 1rem; }
    }
  }

  .chapter-panel {
    .row();
    // use flex display unless the columns should collapse
    // this allows the height of the colums to match so the
    // border will extend the complete height
    @media (min-width: @screen-md-min) {
      .flex-display();
    }

    .chapter-heading {
      .make-xs-column(12);
      .make-md-column(4);
      .make-lg-column(3);

      @media (max-width: @screen-md-min) {
        border-right: 0px;
        border-bottom: 1px solid @tutor-neutral-light;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
      }
    }
    .sections {
      .make-xs-column(12);
      .make-md-column(8);
      .make-lg-column(9);

      .section {
        .make-xs-column(12);
        .make-sm-column(6);
        .make-lg-column(4);
      }
    }
  }

}
