.learning-guide-section() {

  #fonts > .sans(1.4rem, 1.4rem);

  .heading {
    .flex-display();
    .number {
      margin-right: 0.5rem;
    }
    .title {
      .flex(1);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .progress-bar-button {
    margin-top: 0px;
    width: 100%;
  }

  .amount-worked {
    .flex-display();
    .justify-content(flex-end);
    font-size: 1rem;
    .count {
      color: @tutor-neutral;
      letter-spacing: 0.05rem;
      &.chapter {
        margin-top: 10px;
      }
    }
  }

  .progress {
    height: 0.8rem;
    .progress-bar {
      .learning-guide-colors();
    }
  }
}
