.learning-guide.teacher-student {
  .student-selection {
    #fonts > .sans(3rem);
    display: inline-block;
    box-shadow: none;
    .dropdown-toggle  {
      padding: 0 0 0.5rem 1rem;
      text-transform: none;
      #fonts > .sans(3rem);
    }
    .dropdown-menu {
      max-height: 35rem;
      overflow-y: scroll;
      width: 100%;
    }
  }
}
