.learning-guide.teacher-student {
  .guide-group-title .preamble { margin-right: 1rem; }

  .student-selection {
    #fonts > .sans(3rem);
    margin: 0;
    display: inline-block;
    box-shadow: none;
    .dropdown-toggle  {
      padding: 0 0 0.5rem 0;
      text-transform: none;
      #fonts > .sans(3rem);
    }
    .dropdown-menu {
      max-height: 35rem;
      overflow-y: scroll;
      width: 100%;
    }
  }
}
