.course-add-dropdown {
  padding: 0;
  @include tutor-shadow(pop);

  &.no-add {
    background: $tutor-neutral-light;
    .no-add-text {
      display: block;
      padding: 8px 20px;
      line-height: 1.25em;
    }
  }

  a {
    @include tutor-plan-set(add);
    
  }

  &.dropdown-menu {
    border: none;
  }

  &.dropdown-menu > a {
    width: 198px;
    padding: 6px 12px;
    text-align: left;
    line-height: 1.5;
  }

  .no-periods-course-settings-link {
    color: $link-color;
  }

  &:hover {
    .no-periods-course-settings-link {
      text-decoration: underline;
    }
  }

}
