body.modal-open {
  overflow: auto;
}

.plan-modal {
  .modal-dialog{
    &:not(.is-failed) {
      @include tutor-plan-set(modal);
    }
    &.is-publishing {
      .modal-title::before {
        @include is-publishing();
        margin-right: $modal-padding/2;
        margin-left: -$modal-padding/2;
      }
    }

    &.is-published{
      &.is-open.is-trouble {
        .modal-title::before {
          margin-right: $modal-padding/2;
          margin-left: -$modal-padding/2;
        }
      }
    }

    &.is-failed {
      .modal-header {
        background-color: fade_out($tutor-danger, 0.2);
      }
      .modal-title::before {
        content: 'failed ';
      }
    }
  }

  @include tutor-modal();

  .panel {
    margin: 0;
    box-shadow: none;
    border: none;

    .panel-body { padding: 0; }
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    text-align: inherit;
    display: flex;
    justify-content: space-between;
    > * { flex: 1; }

  }

}
