#task-original-due-date {
  @include tutor-shadow(pop);

  &.popover {
    &.right > .arrow {
      left: -7px;
      margin-top: -7px;
    }

    > .arrow {
      border-width: 7px 7px 7px 0;
    }

    border-radius: 2px;
  }
}

.add-assignment-sidebar {
  border-right: 1px solid $tutor-neutral-light;
  position: absolute;
  width: $calendar-sidebar-width;
  height: 100%;
  background-color: $tutor-neutral-lightest;
  padding: 0;
  display: flex;
  flex-direction: column;

  .sidebar-section {
    padding: 1.5rem 1.5rem 1rem 1rem;
  }

  .section-label {
    margin-left: 10px;
    font-size: 1.3rem;
    color: $tutor-tertiary;
    font-weight: 800;
    text-transform: uppercase;
  }
  @mixin draggable() {
    cursor: move;
    a {
      cursor: move;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }

    &.is-dragging,
    &.is-editing {
      @include element-is-dragging();
    }
    &:not(.is-dragging):not(.is-editing) {
      &:hover {
        @include tutor-shadow(draggable);
      }
    }
    &.is-editing {
      cursor: not-allowed;
    }
  }

  #drag-intro {
    // Manually position for now.
    left: calc(100% - 6px) !important;
    top: 12px !important;
    position: absolute;
    text-align: left;
    width: 180px;
    border-radius: 0;
    z-index: 10;
    @include tutor-shadow(pop);

    p {
      margin-bottom: 1rem;
    }

    .popover-body {
      padding: 1.5rem;
    }

    .btn {
      float: right;
      color: $openstax-info;
      border: none;
      font-weight: 600;
      margin-bottom: 1.5rem;

      &:hover {
        background: theme-color("info");
      }
    }
  }

  &.is-open {
    ul.is-intro {
      li:first-child {
        @include tutor-plan-sidebar-type('reading');
        border-color: $reading-color;
        @include tutor-shadow(draggable);
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    &.is-intro {
      li:first-child {
        @include transition('border-color 500ms ease-in-out, box-shadow 500ms ease-in-out');
      }
    }

    li {
      @include no-select();
      @include draggable();
      // needs to match the background of the sidebar
      // Otherwise Safari won't show it when dragging
      background-color: $tutor-neutral-lightest;
      line-height: 3.6rem;
      position: relative;
      & + li { margin-top: 3px; }

    }
    .new-task {
      padding-left: 10px;
      border-left: 4px solid transparent;
      &:hover {
        @include tutor-plan-sidebar();
      }

      a {
        padding: 3px 12px;
        color: $tutor-neutral-darker;
        &:hover, &:focus { text-decoration: none; }
      }
    }
  }

  .task-plan,
  .new-task {
    border-radius: $border-radius;
  }

  .past-assignments {
    background-color: $tutor-neutral-lighter;
    border-top: 1px solid $tutor-neutral-light;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .plans {
      padding-bottom: 3.6rem;
    }

    .task-plan {
      @include tutor-plan-sidebar();

      @include draggable();
      background-color: $tutor-neutral-lighter;
      display: flex;
      align-items: center;
      padding-left: 10px;
      line-height: 3.6rem;
      & + .task-plan { margin-top: 3px; }
      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 12px;
      }
    }

    &::after {
      height: 42px;
      width: calc(100% - 6px);
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      background-image: linear-gradient(
        fade_out($openstax-neutral-lighter, 0),
        fade_out($openstax-neutral-lighter, 0.4) 30%,
        fade_out($openstax-neutral-lighter, 0.1)
      );
    }
  }
}
