.navbar.navbar, .navbar-default.navbar {
  border-bottom: 1px solid @border-color;
  background-color: #ffffff;
}

.navbar {
  .container-fluid { padding: 0 40px; }
}

.ui-brand-logo {
  display: inline-block;
  height: 30px;
  width: 217px;
  background-image: url('../style/resources/logo-brand.svg');
}
