.reference-book {

  .page {
    margin-top: 75px;
    .content {
      width: 1000px;
      margin: 0 auto;
      border: 1px solid @tutor-neutral-bright;
      background-color: @tutor-white;
      .tutor-book-content();
    }
  }
}
