.reference-book {
  .exercise[data-type=exercise] {
    margin-bottom: 40px;
    .question {
      padding: 0;

      .answers-table label.answer-label:hover {
        background-color: @answer-background;
        cursor: default;
      }
    }
  }
}