.reference-book {
  .navbar {
    height: 60px;
    .ox-logo {
      //margin-left: 40px;
    }
    .container-fluid {
     padding: 0 4rem 0 0;
    }
    .section-title {
      margin-left: 40px;
      padding-top: 20px;

      .chapter-section {
        margin-right: 0.5rem;
        text-align: center;
      }
    }
    .menu-toggle:before{ content: @fa-var-list; }
  }

  &.menu-open {
    .menu-toggle:before{ content: @fa-var-outdent; }
  }
}
