.tutorize-toc-nav(){
  .x-icon-size(28px);
  background-position: 0 -1px;
}

.tutorize-toc-nav(close){
  .x-icon-bg('toc-nav-close');
  .tutorize-toc-nav();
}

.tutorize-toc-nav(open){
  .x-icon-bg('toc-nav-open');
}

.reference-book {
  .navbar {
    height: 60px;
    .ui-brand-logo { margin-top: 15px; }
    .container-fluid {
      padding: 0 4rem 0 0;
    }
    li a {
      margin: 0 20px 0 0;
      padding: 0;
    }
    .menu-toggle {
      font-size: 2.8rem;
      padding: 18px 16px 14px 16px;
    }

    .section-title {
      font-size: 1.8rem;
      margin: 0 0 0 40px;
      padding-top: 14px;

      .chapter-section {
        margin-right: 0.5rem;
        text-align: center;
      }
    }
    .teacher-edition  {
      margin: 12px 0;
    }
    .menu-toggle {
      &::before {
        content: @fa-var-list;
        .tutorize-toc-nav(close);
      }
      &:hover {
        .clearfix();
      }
    }
    // don't collapse navbar when screen is narrow
    // overrides the bootstrap default of collapsing navbar at @screen-sm-min
    @media (max-width: @screen-sm-min) {
      .nav {
        float: left;
        margin: 0;
        &.navbar-right { float: right; }
      }
    }
  }
  // hide non-important items when the screen gets narrow
  @media screen and ( max-width: @reference-book-page-width ){
    .full-width-only { display: none; }
  }

  &.menu-open {
    .menu-toggle {
      border-right: 1px solid @tutor-neutral-light;
      background: @tutor-neutral-lightest;
      &::before {
        content: @fa-var-outdent;
        .tutorize-toc-nav(open);
      }

      &:hover {
        &::before {
          content: " ";
        }
      }

    }
  }

}
