.reference-book {
  .dropdown-toggle {
    font-size: 3rem;
    line-height: 30px;
  }

  .content {
    margin-top: 75px;

    .page {
      width: 1000px;
      margin: 0 auto;
      border: 1px solid @tutor-neutral-bright;
      background-color: @tutor-white;
      .tutor-book-content();
      // shown if parent is-teacher present below
      .os-teacher {
        display: none;
      }

      section.section-opener +
      section {
        .book-content-step-size();
      }

      > section {
        > * {
          clear: both;
        }

        .os-teacher {
          padding: 10px 140px;

          > ul {
            padding-left: 40px;
          }
        }
      }
    }
  }

  &.is-teacher {
    .content .page {
      .os-teacher {
        display: block;
      }
    }
  }

  .page-wrapper > .nav {
    font-size:10rem;
    color: @tutor-neutral-light;
    position: absolute;
    top: 200px;
    cursor: pointer;
    opacity: 0;
    background-color: @tutor-neutral-lighter;

    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.8;
    }

    &:hover {
      color: @tutor-neutral;
    }

    &.prev,
    &.next {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      position: fixed;
      top: 60px;
      height: 100vh;
      justify-content: -webkit-center;
      justify-content: -ms-center;
      justify-content: center;
      flex-direction: -webkit-column;
      flex-direction: -ms-column;
      flex-direction: column;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

}
