.reference-book {
  .content {
    margin-top: 75px;
    margin-left: -40px;
    margin-right: -40px;

    .center-panel {
      width: @reference-book-page-width;
      margin: 0 auto;
      @media screen and ( max-width: @book-content-collapse-breakpoint ){
        width: @reference-book-collapse-width;
      }

    }

    .page {
      counter-reset: question;
      border: 1px solid @tutor-neutral-bright;
      background-color: @tutor-white;
      .tutor-book-content();
      // shown if parent is-teacher present below
      .os-teacher {
        display: none;
      }

      > section {
        > h1, h2 {
          clear: both;
        }

        .os-teacher {

          > ul {
            padding-left: 40px;
          }
        }
      }

    }
    // only visible when "spy mode" is enabled
    .ecosystem-info {
      .tutor-spy-mode-content();
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 0;
      margin: 0;
      border: 0;
      .tutor-shadow(2);
    }
  }

  &[data-appearance=physics]{
    .content {
      .page {
        .tutor-book-content-theme-physics();
      }
    }
  }

  &[data-appearance=biology]{
    .content {
      .page {
        .tutor-book-content-theme-biology();
      }
    }
  }

  &.is-teacher {
    .content .page {
      .os-teacher {
        display: inline-block;
      }
    }
  }


  .page-wrapper {
    transition: margin-left 0.2s linear;
    .page {
      position: relative;
      .tutor-subtle-load(will-load; 'Loading page...'; 0.1s);

      &::after {
        left: 0;
        top: -8px;
      }
    }

    &.page-loading {
      .refresh-button {
        position: absolute;
        left: 50%;
        z-index: 2;
      }
      .page {
        .tutor-subtle-load(loading);
      }
    }
    .printer-safe(block, absolute, 0, 0)
  }
  // when menu is open and the screen is wide enough, slide everything to the right so it's still visible
  &.menu-open {
    @media screen and (min-width: (@reference-book-page-width + @reference-book-menu-width + 50px) ) {
      .page-wrapper{ margin-left: @reference-book-menu-width; }
    }
    .content .ecosystem-info{
      left: @reference-book-menu-width;
    }
  }

}
