.reference-book {
  .content {
    margin-top: 75px;

    .page {
      width: 1000px;
      margin: 0 auto;
      border: 1px solid @tutor-neutral-bright;
      background-color: @tutor-white;
      .tutor-book-content();
      // shown if parent is-teacher present below
      .os-teacher {
        display: none;
      }

      section.section-opener +
      section {
        .book-content-step-size();
      }
    }
  }

  &.is-teacher {
    .content .page {
      .os-teacher {
        display: block;
      }
    }
  }

  .page-wrapper > .nav {
    font-size:10rem;
    color: @tutor-neutral-light;
    position: absolute;
    top: 200px;
    cursor: pointer;
    &:hover {
      color: @tutor-neutral;
    }
    &.next {
      right: 20px
    }
    &.prev {
      left: 20px;
    }
  }

}
