// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  font-size: 16px;
  box-sizing: border-box;

  // Stacked modals
  // Makes sure the main body and previous modals have less z-index than the first one.
  body > div[role="dialog"],
  body > div[role="dialog"]:not(.modal) {
    position: relative;
    z-index: 1;
    height: 0;
    overflow: visible;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a {
  cursor: pointer;
}
