$tutor-tertiary-neutral-light: rgb(0, 193, 222); // light blue

$joyride-color: $tutor-tertiary-neutral-light;


// set both medium and large sizes to be same as other popovers
$joyride-tooltip-width: (290px, $popover-max-width, $popover-max-width);
$joyride-tooltip-color: #232E66;
$joyride-close: (color: $joyride-tooltip-color, size: 12px, top: 10px, right: 10px);
$joyride-header-font-size: 18px;

// @import '~react-joyride/lib/react-joyride';

.joyride-tooltip__close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3E%3C/svg%3E");
}

.joyride-tooltip__button--secondary {
  float: left;
  &:before {
    margin-right: 0.5rem;
    content: "ã€ˆ";
  }
}

// the default rules lighten the button when it's focused,
// but it's focused by default when paging; essentially causing the standard color to be ignored
.joyride-tooltip__button--primary:focus {
//   background-color: $joyride-button-bg-color;
}
