.tour-step.new-enrollment-link {
  color: $openstax-neutral;
  width: 540px;
  padding: 0;
  font-size: 1.6rem;

  .header {
    color: inherit;
    font-size: inherit;
    font-weight: 800;
    line-height: 3.6rem;
    border: none;
    background: rgba($openstax-quaternary, 0.4);
    display: flex;
    padding: 2rem 3rem;
    color: black;
  }

  .body {
    line-height: 1.8em;
    font-size: inherit;
    color: black;
    padding: 2rem 3rem;
  }

  .footer {
    padding: 2rem 3rem;

    button {
      padding: 1.7rem 3rem;
      border-radius: 2px;

      &:first-child {
        font-weight: bold;
        background-color: $tutor-primary;
        color: $tutor-white;
        &:hover {
          background-color: darken($tutor-primary, 5);
        }
      }
      &:last-child {
        background-color: $tutor-white;
        color: $openstax-neutral-dark;
        border: thin solid $tutor-neutral-light;
        &:hover {
          color: $openstax-neutral-dark;
          background-color: $openstax-neutral-lightest;
        }
      }
    }
  }

}
