.super-training-wheel {
  &.joyride-tooltip {
    width: 1000px;
    padding: 0;
  }

  .joyride-tooltip__ {
    &footer {
      text-align: center;
      padding-bottom: 40px;
    }

    &button {
      &--primary {
        padding: 15px 40px;
      }
    }

    &main {
      padding-bottom: 0;
    }

    &close {
      display: none;
    }

  }
}
