.super-training-wheel {
  &-wrapper {
    .joyride-overlay {
      height: 100% !important;
      position: fixed;

      .flex-display();
      .align-items(center);
      .justify-content(center);
    }

    .super-training-wheel {
      position: relative !important;
      top: initial !important;
      left: initial !important;
    }
  }

  &.joyride-tooltip {
    width: 1000px;
    padding: 0;
  }

  .joyride-tooltip__ {
    &footer {
      text-align: center;
      padding-bottom: 40px;
    }

    &button {
      &--primary {
        padding: 15px 40px;
      }
    }

    &main {
      padding-bottom: 0;
    }

  }
}
