.joyride-tooltip {
  &[data-target*="my-courses"] {
    padding: 0;
    .joyride-tooltip__main {
      padding-bottom: 0;
      padding-right: 0;
    }
  }
}

.column-icons-embiggen() {
  background-size: auto 100px;
  padding-top: 116px;
}

.joyride-tooltip {
  &.has-forest-background {
    .tutor-background-image("value-prop/tutor-background.svg");
    background-size: cover;
    background-position: bottom center;

    .joyride-tooltip__footer {
      padding-bottom: 60px;
    }

    .value-prop {
      padding: 40px 40px 0 40px;
    }
  }

  .value-prop {
    @spacing: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: @spacing;
    color: @openstax-black;

    .heading {
      margin: 0 0 @spacing*0.25 0;
      padding: 0;
      text-align: center;
      font-size: 48px;
      color: @openstax-tertiary;
    }
    .sub-heading {
      font-size: 18px;
      margin: 0 0 @spacing*0.5 0;
      padding: 0;
      text-align: center;
      font-weight: normal;
    }
    .column-content {
      display: flex;
      flex-direction: row;
      padding: @spacing 0;
      width: 100%;
      .column {
        background-repeat: no-repeat;
        padding-top: @spacing*2.5;
        background-size: auto 75px;
        background-position: center top;
        text-align: center;
        flex: 1;

        + .column {
          margin-left: @spacing;
        }

        h3 {
          font-size: 16px;
          margin: 0 0 @spacing*0.25 0;
          font-weight: 700;
        }

        p {
          line-height: 1.4em;
        }
      }
    }
    .btn {
      color: @tutor-neutral-lightest;
      background-color: @tutor-tertiary-light;
      border-radius: 5px;
      padding: @spacing*0.25 @spacing;
    }

    &.build-reading {
      .column-content {
        padding: @spacing 90px;
      }

      .column + .column {
        margin-left: 60px;
      }
    }

    &.cc-to-tutor,
    &.welcome-to-tutor {
      .column {
        &.spaced       { .tutor-background-image("value-prop/spaced-practice.svg"); }
        &.personalized {
          .tutor-background-image("value-prop/personalized.svg");
          background-size: 120px auto;
          background-position: center 5px;
        }
        &.low-cost     {
          .tutor-background-image("value-prop/low-cost.svg");
          background-size: 100px auto;
          background-position: center 15px;
        }
        &.two-step     { .tutor-background-image("value-prop/two-step.svg");        }
      }
    }
    &.cc-sunset {
      .column {
        .column-icons-embiggen();
        &.thanks           { .tutor-background-image("cc-sunset/thanks.svg");             }
        &.view-analytics   { .tutor-background-image("cc-sunset/view-analytics.svg");     }
        &.export-by        { .tutor-background-image("cc-sunset/export-by.svg");          }
        &.not-launched-yet { .tutor-background-image("cc-sunset/under-construction.svg"); }
      }
    }
    &.course-preview {
      .column {
        .column-icons-embiggen();

        &.all-features              { .tutor-background-image("course-preview/all-features.svg");             }
        &.view-analytics            { .tutor-background-image("course-preview/view-analytics.svg");           }
        &.cant-save-work            { .tutor-background-image("course-preview/cant-save-work.svg");           }
        &.view-textbook-questions   { .tutor-background-image("course-preview/view-textbook-questions.svg");  }
      }
    }
    &.question-library,
    &.build-reading {
      .column {
        .column-icons-embiggen();

        &.exclude-question  { .tutor-background-image("question-library/exclude-question.svg"); }
        &.machine-learning  { .tutor-background-image("question-library/machine-learning.svg"); }
        &.question-details  { .tutor-background-image("question-library/question-details.svg"); }
      }
    }
  }
}
