
.note.grasp-check {
  margin-bottom: 1em;

  > .title {
    background: @tutor-secondary;
    border-radius: 10px 10px 0 0;
    color: @tutor-white;
    #fonts > .sans(1.7rem, 1.7rem);
    padding: 10px 25px;
    width: 175px;
  }

  p,
  .para {
    margin-top: -1px;
    border: 1px solid @tutor-secondary;
    border-radius: 0 10px 10px 10px;
    padding: 10px 25px 1em;
    margin-bottom: 0;
  }

}
