@import './base';
@import './modal';
@import './breadcrumbs';
@import './laptop-and-mug';
@import './launcher';

.concept-coach {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  text-align: left;

  .loading {
    min-height: 600px;
  }
}
