@import './base';
@import './modal';
@import './breadcrumbs';
@import './launcher';

.concept-coach {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  text-align: left;

  .loading {
    min-height: 600px;
  }

  .safari-warning  {
    width: 840px;
    margin: @concept-coach-top-margin auto (30px - @concept-coach-top-margin) auto;
  }

}
