@import '../screen-styles';

.new-course-wizard {
  $panel-choice-height: 70px;
  $panel-body-height: $panel-choice-height * 3.5;

  @include ost-hero-backdrop();
  font-size: 16px;

  @mixin book-icon-style() {
    &::before{
      content: '';
      margin-right: 1rem;
      width: 60px;
      height: 60px;
      min-width: 60px;
      background-size: cover;
      background-position: bottom;
    }
    &[data-appearance*=biology]::before {
      background-position: center;
    }
  }

  max-width: 440px;
  margin: 134px auto 0 auto;

  .panel {
    position: relative;
    @include tutor-shadow('pop');

    .panel-heading,
    .panel-footer {
      padding: 40px;
      color: inherit;
      background-color: white;
      border: 0;
    }

    .panel-body {
      min-height: $panel-body-height;
      padding: 20px 40px;
    }
    .panel-footer {
      .controls { text-align: right; }
      .btn {
        font-weight: 600;
        &.btn-default {
          color: $tutor-neutral;
          &.back {
            background: $tutor-neutral;
            color: $tutor-white;
          }
        }
      }
    }

    .panel-heading {
      font-size: 1.6rem;
      line-height: 2rem;
      padding-bottom: 0;
      .course-offering-title {
        display: flex;
        .contents {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &::before {
            @include book-icon-style();
          }
          .title {
            font-size: 1.6rem;
            font-weight: 800;
          }
        }
      }
    }
    .panel-body .ox-loader {
      background-color: white;
      z-index: 1;
      .ox-loader--inner {
        padding: 1.6rem 0;
      }
    }
    .tutor-icon.best-practices {
      height: 2rem;
    }
    &.is-loading {
      .panel-body {
        @include tutor-subtle-load('loading');
      }
    }

    .choices-listing {
      max-height: inherit;
    }

  }

  .new-course-wizard {

    .choice {

      &[data-new-or-copy=new]::before {
        background-image: url('../../../resources/images/icons/icon-new-course.svg');
      }

      &[data-new-or-copy=copy]::before {
        background-image: url('../../../resources/images/icons/icon-copy-course.svg');
      }
    }

    [data-appearance] {
      @include book-icon-style();
    }

    [data-new-or-copy] {
      &::before {
        background-position: center;
        width: 60px;
      }
    }

    @each $book in map-keys($openstax-book-thumbnails) {
      [data-appearance="#{$book}"]:before {
        @include book-content-thumbnail($book);
      }
    }

    .input-group-addon {
      background: $tutor-white;
      color: inherit;
      font-weight: 600;
      text-align: left;
    }

    .form-control {
      background: $tutor-neutral-neutral-lightest;
      height: 4.8rem;
      font-weight: 600;
      color: inherit;
    }

    .alert-danger {
      padding: 0.5rem;
      border: 0;
    }

    // customize different wizard types
    &.course_type,
    &.offering_id,
    &.offering {
      .panel-heading {
        font-weight: 800;
        text-align: center;
        min-height: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.course_type {
      svg {
        width: 80%;
        height: 5rem;
      }
    }
    &.term,
    &.cloned_from_id {
      .list-group-item {
        text-transform: capitalize;
      }
    }

    &.term {
      .year { margin-left: 0.5rem; }
    }
    &.cloned_from_id {
      .list-group-item .sub-title {
        font-weight: 400;
        font-size: 0.9em;
        line-height: 1.25em;
      }
    }
    &.bio1e_unavail {
      .panel-heading {
        background-color: #d7f1f6;
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: 40px;
        .heading {
          display: flex;
          .tutor-icon {
            margin-right: 20px;
            font-size: 40px;
            color: #26649b;
          }

        }
        .course-offering-title {
          &::before {
            display: none;
          }

          .title {
            display: none;
          }
        }
      }
      .choices-listing {
        margin-top: 20px;
      }

    }
    &.bio2e_unavail {
      .panel-heading {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
      }
      p {
        margin-bottom: 15px;
      }
      .title,
      .btn.next,
      .course-offering-title::before {
        display: none;
      }
      .alert {
        p { margin-bottom: 0; }
      }
      .book-covers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
        .tutor-icon {
          font-size: 30px;
          color: $tutor-neutral-lite;
          margin: 2rem;
        }
        .book {
          height: 70px;
          width: 70px;
          background-size: 70px 70px;
          &.bio {
            @include book-content-thumbnail(college_biology);
          }
          &.bio2e {
            @include book-content-thumbnail(biology_2e);
          }
        }
      }
    }

    &.numbers {

      .input-group {
        width: 100%;
      }

      .form-control {
        text-align: center;
      }

      .explain {
        margin-bottom: 15px;
      }
      label {
        margin-bottom: 0;
      }
      .input-group-addon {
        width: 80%;
        p { margin: 0; }
      }

      input[type=number] {
        padding-right: 4px;
        padding-left: 16px;
      }
    }
  }
}
