@import '~shared/resources/styles/mixins/flexbox';

.tutor-registration {
  overflow: hidden;
  position: relative;
  margin: @registration-top-margin auto;
  background: @openstax-white;
  padding: @registration-base-x-padding @registration-base-y-padding;
  width: 100%;
  max-width: 840px;
  line-height: 2rem;

  a:not(.btn) {
    color: inherit;
    border-bottom: 1px solid @openstax-info;
    padding-bottom: 3px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: @openstax-info;
    }
  }
  .alert a:not(.btn) {
    border-bottom-color: inherit;
  }
  .label {
    color: @gray-darker
  }
  .controls input, .controls button {
    border-radius: 4px;
  }
  .btn.continue {
    background-color: @openstax-secondary-light;
    color: white;
    font-weight: lighter;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }
}
