.assignment {

  label.period {
    display: inline;
    margin-left: 5px;
    font-weight: normal;
  }
  .assign-to-label { 
    font-size: 1.8rem;
    font-style: italic;
    margin: 0 0 28px 0;
  }
  @media (max-width: 768px) {
    .instructions { margin-top: 0 }
  }
  .assignment-description {
    margin-top: 1rem;
  }
  #hide-periods-radio, #show-periods-radio { margin-bottom: 28px; }
  .periods-invalid {
    color: @form-error-color;
    font-size: 1.2rem;
    i {
      margin-left: 5px;
    }
  }
  .tasking-plan {
    margin-top: 10px;
    input[type=checkbox] { margin-bottom: 20px; }
    label.period { left: 45px; }
    &.disabled {
      label { color: @tutor-neutral-light; }
    }
  }

}

.readings-required,
.problems-required {
  color: @form-error-color;
  font-size: 1.2rem;
  
  i {
    margin-left: 5px;
  }

}

.instructions {
  color: @tutor-neutral;
  #fonts >.sans(1.1rem, 1.6rem);
  font-weight: 300;
  font-style: italic;
  margin: 20px 0 0;
}