.assignment {

  label.all-periods {
    // extend styling from bootstrap material design to match other labels
    .form-control-wrapper .floating-label;
    opacity: 1;
    top: 0px;
    left: 35px;
  }
  .periods-listing {
    .table;
    .table-striped;
    .table-bordered;
    .form-control { background-image: inherit; }
  }

  .instructions {
    color: @tutor-neutral;
    #fonts >.sans(1.1rem, 1.1rem);
  }
  .assignment-description {
    margin-top: 1rem;
  }
}
