@import './homework/exercises';
@import './homework/exercise-summary';

.homework-circle-btn(@size) {
  width: @size;
  height: @size;
  border-radius: 50%;
  border: 1px solid @tutor-neutral-lighter;
}

.edit-homework {
  .panel-body { padding: 50px 120px; }

  label {
    display: block;
  }

  textarea {
    width: 100%;
  }
}
