@progress-bar-height: 3rem;

.reading-stats {

  section {

    > div {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    > label {
      text-align: center;
      display: block;
      margin: 0;
    }

    &:not(:first-child){
      padding-top: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px dashed darken(@gray-lighter, 10%);
    }
  }

  &-none {
    text-align: center;
    color: @gray-light;
  }

  &-average {
    margin-top: 0;
    margin-bottom: 2.6rem;
    #fonts > .sans(2.6rem, 4rem);

    small {
      font-weight: 100;
      color: @text-color;
    }
  }
}

.progress {
  background: @gray-lighter;
  margin-bottom: 0;

  &-bar{
    line-height: @progress-bar-height;
  }
}

.reading-progress {

  &-container {
    position: relative;
    border: 1px solid darken(@gray-lighter, 10%);
    margin-bottom: 2rem;
  }

  &-group {
    height: @progress-bar-height;
    overflow:visible;
  }

  &-bar{

    &.no-progress {
      span {
        display: none;
      }
    }

    &:not(.no-progress) {
      min-width:15px;
    }
  }

  &-delta {
    right:0px;
    top:0px;
    height:20px;
    line-height: 1rem;
    position:absolute;
    color:red;
  }

  &-student-count {
    font-style: italic;
    font-weight: 100;
  }
}

.data-container {
  text-align: center;
  margin-bottom: 2rem;

  &.container {
    width: 100%;
  }

  label {
    font-weight: 100;
    margin: 0;
    line-height: 2.5rem;
    display: block;
  }

  &-value {
    font-size: 4rem;
    font-weight: 100;
  }
}

.text-complete {
  color: @tutor-tertiary-light;
}

.text-in-progress {
  color: @tutor-quaternary;
}

.text-not-started {
  color: @tutor-neutral;
}
