.reading-plan {
  .edit-reading {
    .panel-body { padding: 50px 120px; }

    label {
      display: block;
    }

    textarea {
      width: 100%;
    }
  }
  label {
    width: 150px;
    display:inline-block;
  }

  #title {
    line-height: 32px;
    height: 32px;
    margin-bottom: 1em;
  }
}

ul.selected-reading-list {
  list-style: none;
  padding-left: 0;
  margin-top: 2em;

  li {
    border-bottom: 1px solid @tutor-neutral-lighter;
    .tutor-fade-in(2s);

    &:first-child {
      font-size: 2rem;
    }
    .section-buttons {
      float: right;
      button.btn-default.btn {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        font-size: 1rem;
        margin: -2px 0 0;
        padding: 0;

        &:hover {
          box-shadow: none;
        }
        i.fa {
          margin-right: 0;
        }
      }
    }

    > span:first-child {
      margin-right: 5px;
    }
  }

  li:last-child .section-buttons .move-reading-down {
    display: none;
  }
}

