.reading-plan {
  label {
    width: 150px;
    display:inline-block;
  }

  #title {
    line-height: 32px;
    height: 32px;
    margin-bottom: 1em;
  }

  .rw-datetimepicker {
    display:inline-block;
    max-width: 300px;
  }
}

ul.selected-reading-list {
  list-style: none;
  margin-left: 150px;
  padding-left: 0;
}

.modal-backdrop.in {
  height: 100%;
}
