.select-reading-chapters {

  .panel-heading {
    position: relative;
    background: @tutor-neutral-lighter;
    outline: 1px solid @tutor-neutral-lightest;
    border: 1px solid @tutor-white;

    > .panel-title {
      line-height: 1.2rem;

      .chapter-checkbox,
      .chapter-number,
      .chapter-title {
        vertical-align: middle;

        span {
          font-size: 1.7rem;
          font-weight: 700;
          color: @tutor-tertiary;
          line-height: normal;
          vertical-align: baseline;
        }

        input {
          margin: 0 20px 0 0;
          vertical-align: baseline;
        }
      }
    }
  }

  .panel-collapse > .panel-body {
    padding: 0;
    border: none !important;

    > .section {
      padding: 1px 8px;
      border-bottom: 1px solid @tutor-neutral-light;
      font-weight: 400;

      &:last-child {
        border-bottom: 0;
      }

      &.selected {
        background: @state-info-bg;
        color: @state-info-text;
      }

      > .section-checkbox {
        margin: 0 19px 0 7px;
        font-size: 1.7rem;
      }

      > .chapter-section {
        font-weight: 700;
        color: @tutor-secondary;

        span::after {
          content: '.';
        }
      }
    }
  }
}
