@chapter-section-green: rgb(122, 176, 73);

.select-reading-modal {
  > .panel-group > .panel {
    border-radius: 0;
    box-shadow: none;

    > .panel-heading {
      position: relative;
      padding: 0;
      border-radius: 0;
      border: 1px solid whitesmoke;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: none;
        border: 1px solid white;
        display: block;
        pointer-events: none;
        content: "";
      }

      > .panel-title {
        padding: 8px;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.7rem;
        color: rgb(34, 46, 101);

        > a > .chapter-checkbox {
          margin-right: 25px;
        }
      }
    }

    > .panel-collapse > .panel-body {
      padding: 0;
      border: none;

      > .section {
        padding: 1px 8px;
        border-bottom: 1px solid #efefef;
        font-weight: 400;

        > .section-checkbox {
          margin-right: 25px;
          font-size: 1.7rem;
        }

        > .section-number {
          margin-right: 5px;
          font-weight: bold;
          color: @chapter-section-green;
        }
      }
    }
  }
}
