.crumb-circle(@radius){
  font-size: @radius;
  border-radius: 2 * @radius;
  line-height: 2 * @radius;
  min-width: 2 * @radius;
}

.crumb-text(){
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
}

// http://caniuse.com/#search=counter
.task-homework,
.task-practice,
.task-chapter_practice,
.task-page_practice {
  .task-breadcrumbs {
    counter-reset: step;
  }
  .task-breadcrumbs-step:not(.end) {
    &:before {
      counter-increment: step;
      content: counter(step);
      .crumb-text();
    }
    i:not(.icon-incorrect):not(.icon-correct) {
      display: none;
    }
  }
}

// label readings with chapter info if it exists
.task-reading {
  .task-breadcrumbs-step[data-chapter] {

    background: @reading-color;
    color: @tutor-white;

    &.active,
    &.completed {
      color: @tutor-white;
    }

    &::before {
      content: attr(data-chapter);
      .crumb-text();
    }
    i:not(.icon-incorrect):not(.icon-correct) {
      display: none;
    }
  }
}

.task-breadcrumbs {
  margin-left: -2px;
  margin-right: -2px;

  &.shrink {
    .task-breadcrumbs-step {
      &:not(:hover):not(.active) {
        .scale(.75, .75);
        margin-left: -16px;
      }
      &:hover, &.active {
        margin-right: 10px;
        margin-left: -6px;
        .tutor-icon-active(1.2, 0.12);
      }
    }
  }
}

.task-breadcrumbs-step {
  .crumb-circle(2rem);
  position: relative;
  font-weight: 500;
  cursor: pointer;
  margin: 2px;
  display: inline-block;
  text-align: center;
  background: @tutor-white;
  color: @tutor-neutral;

  &:hover,
  &.active {
    .tutor-icon-active(1.4, 0.5);
  }

  &.active {
    color: @tutor-primary;
  }
  &.completed {
    background: @tutor-answer-background;
    color: @tutor-answer-color;
  }
  &.status-correct {
    background: @tutor-correct-background;
    color: @tutor-correct-color;
  }
  &.status-incorrect {
    background: @tutor-incorrect-background;
    color: @tutor-incorrect-color;
  }
}
