.task-view .task-reading .pinned-header {
	padding: 0;

	.reading-task-progress {
		height: 4px;
		overflow: hidden;
		margin-bottom: 0;
	}
}

.arrow {
	top: 40%;
	cursor: pointer;
	position: fixed;
	z-index: 1;

	&.left {
		left: 1rem;
	}

	&.right {
		right: 1rem;
	}

	i.fa {
		color: #e5e5e5;
		font-size: 150px;
	}

	&:hover i.fa{
		color: #d5d5d5;
	}
}
