.exercise-controls-bar {
  flex-wrap: wrap;
  background-color: white;
  position: relative;

  &.navbar-fixed-top-lower {
    top: 51px;
    margin: 0;
    padding: 0;
    @include tutor-shadow(1);
  }

  .indicators, .controls {
    display: flex;
    align-items: stretch;
  }

  .indicators {
    max-height: 56px;
  }

  .sectionizer {
    flex: inherit;
  }

  .num, .tutor-added-later {
    $padding: 25px;

    border-left: 1px solid $tutor-neutral-light;
    margin-left: $padding;
    padding-left: $padding;

    &:last-child {
      border-right: 1px solid $tutor-neutral-light;
      padding-right: $padding;
    }
  }

  .num {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 3rem;
      font-weight: normal;
      line-height: 3rem;
      margin: 0;
    }
    span { font-size: 1.3rem; }
    &.tutor {
      .tutor-selections {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          margin: 0 1rem;
        }
      }
    }
    &.total h2 { color: $tutor-quaternary; }
  }

  .tutor-added-later {
    color: $tutor-neutral-lite;
    width: 232px;
    line-height: 14px;
    font-style: italic;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #homework-selections-trigger {
    position: absolute;
    bottom: -.1em;
    padding: 0;
  }

}
