$selected-exercise-background: $tutor-highlight;
$hovered-exercise-background: rgba(241, 241, 241, 0.4);

.homework-plan-exercise-select-sections {
  .pinned-container {
    max-width: $tutor-max-panel-width;
    margin: 0 auto;

    @media print {
      height: 0;
    }
  }
  .exercise-cards {
    @include exercise-cards-column-layout();

    // Override .exercise-cards-column-layout() styles to fix scrollTo position
    // when there's a fixed nav in the way
    .exercise-sections {
      margin-top: 0;
      padding-top: $tutor-panel-padding-vertical;
      .homework-plan-exercise-select-topics &:first-child {
        margin-top: -$tutor-panel-padding-vertical;
        padding-top: $tutor-panel-padding-vertical * 2;
      }
    }
  }
  .exercise-card {
    .selected-mask {
      background-color: $selected-exercise-background;
    }
    .controls-overlay {
      background-color: $hovered-exercise-background;
    }
  }
}

table.exercise-table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 2rem;
  thead {
    background: $tutor-tertiary;
    color: #fff;
    font-size: 1.8rem;
  }

  tbody {
    tr td {
      border: 1px solid $tutor-neutral-light;
      font-size: 1.2rem;

      &:first-child {
        border-left: 0px;
      }

      &:last-child {
        border-right: 0px;
      }
    }

    tr:nth-child(even) {
      background: white;
    }

    tr:nth-child(odd) {
      background: $tutor-neutral-lightest;
    }
  }

  td.exercise-number {
    color: $tutor-quaternary;
    font-size: 1.8rem;
    text-align: center;
  }

  td.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;

    *:first-child {
      margin: 0;
    }
    * + * {
      display: none;
    }

    img {
      display: none;
    }

    span p:first-child {
      display: inline;
    }
  }

  td {
    padding: 5px;
  }
}

.card-list.exercises {
  margin: 10px auto;

  .panel { margin: 10px auto $tutor-card-body-padding-vertical; }

  .panel-heading {
    text-align: left;
    background:$tutor-neutral-bright;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid $tutor-neutral-light;
    display: block;
    .exercise-number {
      color: $tutor-quaternary;
    }
  }

  .card-actions button.btn-default {
    @include homework-circle-btn(25px);
    padding: 0;
    margin:0 0 0 15px;
    color: $tutor-neutral-darker;
    background: white;
  }

  > .exercise > .panel-body {
    text-align: left;

    .stem {
      margin-top: 50px;
    }
  }
  .exercise-wrapper {
    max-width: 1200px;
    margin: 10px auto;
  }

}
