.assignment-links {
  padding: 20px;

  p {
    line-height: 20px;
    margin-bottom: 18px;
  }

  .assignment-links-title {
    font-size: 3rem;
    padding-bottom: 20px;
    display: inline-block;
  }

  ol li {
    line-height: 18px;
    margin-bottom: 12px;
  }

  li small {
    display: block;
    // line-height: 1rem;
    margin-top: 3px;
    color: #888888;
    font-style: italic;
  }

  table {
    width: 100%;



    td {
      vertical-align: top;
      line-height: 2rem;
      padding: 6px;
    }

    margin-top: 30px;
    thead {
      background-color: #eee;
    }

    a {
      display: block;
    }

    tbody {
      border-top: 2px solid #ccc;

      tr td:first-child {
        padding-left: 12px;
      }

      tr:first-child {
        font-weight: bold;
        border-bottom: 1px solid #eee;
        background-color: #eee
      }

      tr:last-child {
        td {
          padding-bottom: 30px;
        }
      }
    }

  }
}
