.book-menu {

  @mixin toc-indented-levels($max-depth) {
    @for $depth from 1 through $max-depth {

      ul[data-depth='#{$depth}'] {
        margin-bottom: 0;
        padding-left: 0rem;

        &:first-child li:first-child { border-top: 0; }

        li {
          list-style-type: none;
          border-top: 1px dotted $tutor-neutral-light;
          background-color: $tutor-neutral-cool;

          a {
            display: block;
            &:hover {
              background-color: $tutor-neutral-bright;
              text-decoration: initial;
            }

            &.active {
              background-color: white;
              text-decoration: initial;
              font-weight: 900;
            }
          }

          .chapter-section-title {
            color: $tutor-neutral-darker;
            display: flex;
            text-indent:  0;
            padding: 10px 0;
            position: relative;

            @include tutor-sans-font( (2.0 - ($depth / 3)) + rem, 2.25rem);
            padding-left: (1 * ($depth )) + rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }

  position: fixed;
  top: 60px;
  left: 0;
  background: white;
  margin-left: -$book-menu-width;
  bottom: 0;
  width: $book-menu-width;
  z-index: 3;  // on top of book elements (booksplash, forward/prev controls)
  @include transition(margin-left 0.2s linear);
  @include printer-safe(none);

  @include toc-indented-levels(4);
  max-height: 100%;
  overflow-y: scroll;
  .section-number {
    color: $tutor-chapter-sections-color;
    font-weight: bold;
    margin-right: 0.4rem;
  }
  &.open {

    margin-left: 0;
    @include tutor-shadow(2);

    &.ontop {
      z-index: $zindex-fixed + 100;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
  }

  // The SVG menu-toggle component also sets all these properties directly due to
  // IE not supporting animation on elements.  That way IE will still work it just won't be animated
  &-toggle {
    path {
      fill: $tutor-neutral;
      transition: fill .4s ease;
      transition: transform .75s ease;
    }
    &:hover {
      path#triangle { fill: $tutor-neutral;    }
      path#line1    { fill: $tutor-secondary;  }
      path#line2    { fill: $tutor-primary;    }
      path#line3    { fill: $tutor-quaternary; }
      path#line4    { fill: $tutor-tertiary;   }
    }
    path#triangle { transform: translate(-30px, 0); }
    path#line2 {    transform: scale(2.0, 1.0) translate(-50px, 0px); }
    path#line3 {    transform: scale(2.0, 1.0) translate(-50px, 0px); }
  }

  &.menu-open {
    .menu-toggle {
      path#triangle { transform: translate(0, 0); }
      path#line2    { transform: scale(1, 1) translate(0, 0); }
      path#line3    { transform: scale(1, 1) translate(0, 0);}
    }
  }


  &.menu-open {
    @media screen and (min-width: ($book-page-width + $book-menu-width + 50px) ) {
      .book-menu-content{ margin-left: $book-menu-width; }
    }
    .book-menu-content .ecosystem-info{
      left: $book-menu-width;
    }
  }

}
