.change-id-panel {
  max-width: 840px;
  padding: 30px 80px;

  .alert-danger {
    color: @tutor-danger;
    background: @tutor-info-bg;
  }
  .panels {
    width: 80%;

    .field {
      height: 110px;

      input[type="text"] {
        height: 45px;
        width: 95%;
      }

      button {
        .btn-tutor-primary();
      }
    }
  }
}
