@mixin make-wizard-choice-active() {
  background-color: fade_out($tutor-neutral-light, 0.4);
  border-color: $tutor-neutral-light;
  color: inherit;
  position: relative;
}

.choices-listing {
  $choice-height: 70px;

  max-height: $choice-height * 3.5;
  overflow-y: auto;
  border-top: 1px solid $tutor-neutral-light;
  border-bottom: 1px solid $tutor-neutral-light;

  .list-group-item:first-child {
    border-top: none;
  }
  .list-group-item:last-child {
    border-bottom: none;
  }
  .choice {
    display: flex;

    height: $choice-height;
    position: relative;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1em;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &.disabled {
      color: $tutor-neutral;
    }
    &:focus {
      outline: none;
    }
    .content {
      flex: 1;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        height: 2.5rem;
        margin-right: 1rem;
        display: block;
        margin-top: 0;
      }
    }
    &.active {
      @include make-wizard-choice-active();
      &:hover,
      &:focus {
        @include make-wizard-choice-active();
      }
    }
  }
}
