@course-listing-buffer: 40px;
@course-listing-tablet-buffer: 29px;

@course-listing-item-height: 200px;
@course-listing-item-tablet-height: 139px;

@course-listing-item-offset: 140px;

.course-listing {

  .course-listing-current,
  .course-listing-past {
    margin-top: @course-listing-buffer;
  }

  .course-listing-current {
    background: #EEEEEE;
    border-bottom: 1px solid @tutor-neutral-light;

    .course-listing-title,
    .course-listing-none {
      color: @tutor-tertiary;
    }
  }

  .course-listing-past {
    background: #F1F1F1;
  }

  // .row {
  //   margin-top: @course-listing-buffer;
  //   @media (max-width: @screen-md-min) {
  //     margin-top: @course-listing-tablet-buffer;
  //   }
  //   &:first-child{
  //     margin-top: 0;
  //   }
  // }

  .course-listing-item {
    position: relative;
    overflow: hidden;

    // .tutor-course-item {
    //   height: @course-listing-item-height;
    //   width: 100%;
    //   display: inline;
    //   overflow: hidden;
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   text-decoration: none;
    // }
    // 
    &:hover {
      .tutor-shadow(1);

      .course-listing-item-details[data-has-controls=true] {
        .translate(0, 0);
      }
    }

    a:hover {
      text-decoration: none;
    }

    .course-listing-item-title,
    .course-listing-item-details {
      a {
        display: block;
        padding: 1.5em 1em;
      }
    }

    .course-listing-item-controls {
      padding: 0 1em 1.5em 1em;
    }

    .course-listing-item-details {
      background: @tutor-white;
      color: @tutor-neutral;
      font-weight: 100;

      .transition(~'0.1s ease-in-out transform');

      &[data-has-controls=true] {
        .translate(0, 5.55rem);
      }

      a {
        color: @tutor-neutral;
      }

      button {
        font-weight: 400;
      }

      .course-listing-item-brand,
      .course-listing-item-term {
        line-height: 1.25em;
        margin-bottom: 0;
      }

      .course-listing-item-brand {
        font-weight: 600;

        &[data-is-beta=true] {
          &::after {
            font-weight: 100;
            content: ' beta';
            font-style: italic;
          }
        }
      }

      .course-listing-item-term {
        text-transform: capitalize;
        font-size: 0.9em;
      }
    }
    .course-listing-item-title {
      min-height: 15rem;
      line-height: 1.25em;

      [data-is-subject=true] {
        #fonts > .book-cover();
        font-weight: 800;
        font-size: 3rem;
        line-height: 1.25em;
        display: block;
      }
    }

    // &[data-appearance]{
    //   // .flex-display();
    //   // .tutor-course-item {
    //     // .flex(1);

    //     // font-size: 2rem;
    //     // line-height: 1.5em;
    //     // height: @course-listing-item-tablet-height;
    //     // @media (min-width: @screen-md-min) {
    //       // font-size: 18rem;
    //       // line-height: 18rem;
    //       // height: @course-listing-item-height;
    //     // }
    //   // }
    // }

    .apply-course-listing-book-styling(@code; @fg; @bg) {
      &[data-appearance=@{code}] {
        .course-listing-item-title {
          color: @@fg;
          a {
            color: @@fg;
          }
        }
        background-color: @@bg;
      }
    }
    .for(@openstax-book-appearance-codes); .-each(@code) {
      .apply-course-listing-book-styling(@code, "openstax-book-@{code}-fg", "openstax-book-@{code}-bg");
    }

  }
}



