.course-page {
  min-height: calc(100vh - #{$tutor-navbar-height});
  display: flex;
  flex-direction: column;

  header {
    .title-wrapper {
      padding: 10px 40px;
      min-height: 100px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      > * {
        @include course-page-wrapper-child();
      }
    }

    .title {
      font-weight: bold;
      font-size: 36px;
      line-height: 45px;
    }
    .subtitle {
      font-weight: 200;
      line-height: 1em;
      font-size: 1.6rem;
    }
  }

  .controls-wrapper {
    background-color: $tutor-neutral-cool;
    padding: 10px 40px;
    > * {
      @include course-page-wrapper-child();
    }
    .sub-title {
      font-weight: bold;
      font-size: 24px;
      min-height: 55px;
      display: flex;
      align-items: center;
    }
    .ox-icon {
      font-size: 20px;
      transistion: color 0.3s;
    }
  }

  > .body-wrapper {
    flex: 1;
    padding: 30px 40px;
    > .body {
      @include course-page-wrapper-child();
      display: block;

      > .loading-screen-animation {
        margin-top: 120px;
      }
    }
  }

  @each $book in map-keys($openstax-books) {
    &[data-appearance=#{$book}] .title-wrapper {
      color: openstax-book-color($book, primary);
      background-color: openstax-book-color($book, secondary);
    }
  }
}
