@import "./course-settings/student-access";

.course-page.settings {

  .body {
    font-size: 16px;
    line-height: 24px;
    padding-top: 40px;
  }
  .controls-wrapper {
    padding-bottom: 0;
    border-bottom: 1px solid @nav-tabs-border-color;
    .tutor-tabs {
      border-bottom: 0;
      .nav li:first-child a { padding-left: 0; }
    }
  }
  .controls {
    align-items: stretch;
    .tutor-icon {
      color: @tutor-blue-control;
      &:hover {
        color: darken(@tutor-blue-control, 10%);
      }
    }
    .edit-course {
    }
  }

  .dates-and-times {
    > div {
      display: flex;
      align-items: center;
      min-height: 35px;
    }
  }


}
