.course-page {

  .wrapper-child() {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
  }

  .apply-booksplash-background(@code; @fg; @bg) {
    &[data-appearance=@{code}] > header > .title-wrapper {
      color: @@fg;
      background-color: @@bg;
    }
  }
  .for(@openstax-book-appearance-codes); .-each(@code) {
    .apply-booksplash-background(@code, "openstax-book-@{code}-fg", "openstax-book-@{code}-bg");
  }

  > header {

    .title {
      font-weight: bold;
      min-height: 100px;
      font-size: 36px;
      .wrapper-child();
    }

    .controls-wrapper {

      > * {
        .wrapper-child();
      }
      .sub-title {
        font-weight: bold;
        font-size: 24px;
        min-height: 55px;
        display: flex;
        align-items: center;
      }
      .tutor-icon {
        color: @tutor-blue-control;
        font-size: 20px;
        transistion: color 0.3s;
        &:hover {
          color: darken(@tutor-blue-control, 10%);
        }
      }
    }
  }
  > .body {
    .wrapper-child();
  }
}
