// this file styles both the enrollment and change student id modals
// since they both share the same structure
.modal-dialog {

  &.course-enroll {
    @include ost-hero-backdrop();
  }

  &.change-student-id {
    // includes the title header
    @include ost-hero-backdrop($top: 180px);
  }

  &.course-enroll,
  &.change-student-id {

    @include tutor-shadow(pop);
    
    @media (max-width: $mobile-collapse-breakpoint) {
      margin: 14px $mobile-margin;
    }

    .modal-title,
    .modal-body,
    .modal-footer {
      background-color: $tutor-neutral-bright;
    }
    .alert-danger {
      color: $tutor-danger;
      background: $tutor-info-bg;
    }
    .invalid-warning {
      color: $tutor-primary;
      text-align: center;
      margin-bottom: 1rem;
    }
    .title, .cancel {
      align-self: center;
    }
    .title {
      margin-bottom: 50px;
      text-align: center;

      h2 {
        font-size: 2.45rem;
        font-weight: 500;
      }
    }
    .sub-title, .required {
      color: $tutor-neutral-thin-dark;
      font-size: 1.6rem;
    }
    .id-number-body {
      width: 100%;
    }
    .inputs {
      display: flex;
      height: 50px;
      margin: 1rem 0;
      .student-id-icon {
        width: 70px;
        margin-right: 1rem;
        background-repeat: no-repeat;
        @include tutor-background-image('student-id.svg');
      }
      input {
        flex: 1;
        padding: 0 1rem;
      }
    }
    .modal-footer {
      border-top: 0;
      display: flex;
    }
  }

  &.course-enroll {
    .joining {
      font-style: italic;
      font-size: 14px;
      margin-bottom: 0;
    }
    h4 { font-weight: bold; }
    @include ost-hero-backdrop(true);
  }

}
