.openstax-exercise-preview.has-actions {
  .card-body,
  .card-body:hover {
    min-height: 20rem;
    .controls-overlay {
      svg {
        display: none;
      }
      .message {
        .action {
          &.include {
            background-color: #009acc; // blue
            &:before { background-image: url("../../images/icons/exercise-include-action.svg"); }
          }
          &.exclude {
            background-color: $openstax-primary;
            &:before { background-image: url("../../images/icons/exercise-exclude-card-view-action.svg"); }
          }
          &.details {
            background-color: $openstax-neutral-dark;
            &:before { background-image: url("../../images/icons/exercise-details-action.svg"); }
          }
          &.copyEdit {
            background-color: #007297; // dark blue
            &:before { background-image: url("../../images/icons/exercise-copy-edit-action.svg"); }
          }
          &.feedback-on {
            background-color: $openstax-neutral-dark;
            &:before { background-image: url("../../images/icons/exercise-feedback-on-action.svg"); }
          }
          &.feedback-off {
            background-color: $openstax-neutral-dark;
            &:before { background-image: url("../../images/icons/exercise-feedback-off-action.svg"); }
          }
          &.report-error {
            background-color: #fdbd3e; // yellow
            &:before { background-image: url("../../images/icons/exercise-report-error-action.svg"); }
          }
        }
      }
    }
  }

  .card-body {
    .disabled-message {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 1;
      background-color: black;
      opacity: 0.4;
      pointer-events: none;
      p {
        display: none;
      }
    }
    &:hover {
      .disabled-message {
        opacity: 0.8;
        p {
          display: block;
          text-align: center;
          margin-top: 6rem;
          color: white;
          font-size: 1.8rem;
          line-height: 3rem;
          font-weight: 700;
        }
      }
    }
  }

  &.actions-on-side {
    .card-body,
    .card-body:hover {
      .controls-overlay {
        width: 45px;
        .message {
          border: 1px solid #d5d5d5;
          .action {
            height: 43px;
            width: 47px;
            background: #fff;
            color: #818181;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              box-shadow: none;
            }

            svg {
              display: block;
              font-size: 1.6rem;
            }
            &:before {
              display: none;
            }
            .label-message {
              display: none;
              position: absolute;
              left: 46px;
              background: inherit;
              height: 45px;
              width: 150px;
              border: 1px solid #d5d5d5;
              border-width: 1px 1px 1px 0;
              font-size: 1.4rem;
              font-weight: normal;
            }
            &:hover {
              &:not(.exclude):not(.include) {
                color: #424242;
              }
              .label-message {
                display: flex;
                align-items: center;
              }
            }

            &.exclude {
              background-color: $openstax-primary;
              color: #fff;
            }
            &.include {
              background-color: #0DC0DC;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

// MPP exercise preview cards
.practice-questions-list {
  .openstax-exercise-preview.has-actions {
    .card-body {
      .selected-student-mpp-check:before {
        background-image: url("../../images/icons/mpp-selected-question.svg");
      }
      .controls-overlay {
        .message {
          .action {
            &.exclude {
              &:before { background-image: url("../../images/icons/mpp-exclude-action.svg"); }
            }
          }
        }
      }
    }
  }
}

.is-college {
  // LO tags are hidden for college courses.
  .openstax-exercise-preview {
    .lo-tag { display: none; }
  }
}
