.openstax-has-html {
  @include tutor-tables($tutor-white, $tutor-white);
  img {
    max-width: 100%;
    &[align="center"] {
      clear: both;
      display: block;
      float: none;
      margin: auto;
    }
  }
}
