.tutor-icon {
  &.clickable { cursor: pointer; }

  &:focus {
    box-shadow: 0 0 8px $link-color;
  }

  button & {
    border: 0;
    background-color: transparent;
  }

  &.best-practices {
    display: block;
    @include tutor-background-image("icons/best-practices.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.8rem;
    margin: 1rem 0;
  }
}
