.tutor-icon {
//      @include fa-icon();

  &[data-variant=warning] {
    path {
      fill: $tutor-warning;
    }
  }

  &[data-variant=danger] {
    path {
      fill: $tutor-danger;
    }
  }

  &.clickable { cursor: pointer; }

  &:focus {
    @include tutor-shadow(outline);
  }

}

button.ox-icon {
  border: 0;
  background-color: transparent;
}
