.invalid-page {
  text-align: center;
  p { font-size: 1.6rem; }
  a.home {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    .tutor-icon {
      font-size: 2rem;
      line-height: 2rem;
      margin-left: 0.5rem;
    }
  }
}
