.media-preview {
  max-width: 400px;
  width: 400px;
  .popover-body {
    width: 100%;
  }
  &.popover {
    z-index: 3;
  }

  &.scrollable {
    .popover-content {
      overflow: auto;
      width: 100%;
      height: inherit;
    }
  }

  @include tutor-figure();
  @include tutor-tables($tutor-neutral-light, $tutor-neutral-light);
  .os-figure:not(.splash):not(.full-width) {
    width: 100%;
  }
  .os-figure {
    figure {
      align-items: center;
      margin: 2rem;
      img {
        max-height: 300px;
        max-width: 100%;
        width: auto;
      }
    }
  }
  table {
    text-align: left;

    td {
      padding: 4px;
    }
  }

  figure > figcaption + span {
    min-height: 1.75rem;
    min-width: 100%;
    position: relative;
    @include tutor-subtle-load(will-load, 'Loading...');

    &::after {
      font-size: 1.75rem;
      line-height: 1em;
    }
  }

  .image-loading {
    figure {
      min-width: 300px;
      span {
        @include tutor-subtle-load(loading);
      }
    }
  }
}
