$modal-header-font-size: 16px;

.modal {
  $header-padding: 35px;
  $modal-padding: 50px;

  .modal-content {
    border-radius: 0;
    border: 0;
  }

  .modal-header {
    padding: $header-padding $modal-padding;
    font-size: $modal-header-font-size;
    background-color: $tutor-neutral-bright;
    border-bottom: 1px solid $tutor-neutral-light;
  }

  .modal-body {
    padding: $modal-padding;
    background-color: white;
  }

  .modal-footer {
    padding: 0 $modal-padding $modal-padding $modal-padding;
    border-top: 0;
    display: flex;
    button {
      @include button(); // openstax pattern-library
    }
  }

}

@import './modals/warning';
@import './modals/terms';
@import './modals/onboarding';
