.multi-select {
  .ox-icon { margin-right: 0.75rem; }

  .multi-select-helpers {
    margin: 0.35rem 1.25rem 1.75rem;

    .divider {
      padding: 0 1.55rem;
      color: #5E6062;
    }
  }

  a.multi-selection-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.dropdown-item {
      padding: 0.75rem;
      transform: translateZ(0);
    }

    .title {
      flex: 1;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .only {
      opacity: 0;
      margin-left: 0.5rem;
      transition: opacity .25s ease-in-out;
      &:hover { text-decoration: underline; }
    }
    &:hover {
      .only { opacity: 1; }
    }

  }
}
