.multi-select {
  .ox-icon { margin-right: 0.5rem; }

  .multi-selection-option a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      flex: 1;
      text-align: left;
    }
    .only {
      opacity: 0;
      margin-left: 0.5rem;
      transition: opacity .25s ease-in-out;
      &:hover { text-decoration: underline; }
    }
    &:hover {
      .only { opacity: 1; }
    }

  }
}
