.new-course {
  $panel-choice-height: 70px;
  $panel-body-height: $panel-choice-height * 3.5;

  @include ost-hero-backdrop();

  @mixin book-icon-style() {
    &::before{
      content: '';
      margin-right: 1rem;
      width: 60px;
      height: 60px;
      min-width: 60px;
      background-size: cover;
      background-position: bottom;
    }
    &[data-appearance*=biology]::before {
      background-position: center;
    }
  }

  max-width: 440px;
  margin: 134px auto 0 auto;

  .panel {
    padding: 3rem 4rem;
    position: relative;
    @include tutor-shadow('pop');

    .panel-heading,
    .panel-footer {
      color: inherit;
      background-color: white;
      border: 0;
      padding: 1rem 0;
    }
    .panel-footer {
      .controls { text-align: right; }
      .btn {
        font-weight: 600;
        &.btn-default {
          color: $tutor-neutral;
          &.back {
            background: $tutor-neutral;
            color: $tutor-white;
          }
        }
      }
    }

    .panel-heading {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.6rem;
      line-height: 2rem;
      .course-offering-title {
        display: flex;
        .contents {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &::before {
            @include book-icon-style();
          }
          .title {
            font-size: 1.6rem;
            font-weight: 800;
          }
        }
      }
    }
    .panel-body .ox-loader {
      background-color: white;
      z-index: 1;
      .ox-loader--inner {
        padding: 1.6rem 0;
        @include tutor-subtle-load('will-load', $loading-text: 'Loading...', $bg-fade: 0.0);
        &::after {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          left: 0;
          z-index: -1;
          opacity: inherit;
          font-size: 1.5rem;
        }
      }
    }
    // set footer to a fixed height so the panel stays the same height
    // even if some do not have any controls
    .panel-footer { height: 65px; }
    .tutor-icon.best-practices {
      height: 2rem;
    }
    &.is-loading {
      .panel-body {
        @include tutor-subtle-load('loading');
      }


      &.is-building .ox-loader .ox-loader--inner::after {
        content: "Building your course...";
      }
    }
    .panel-content {
      height: $panel-body-height;
    }

    .choices-listing {
      max-height: $panel-body-height;
    }
  }

  .new-course-wizard {

    .choice {

      &[data-new-or-copy=new]::before {
        background-image: url('../../images/icons/icon-new-course.svg');
      }

      &[data-new-or-copy=copy]::before {
        background-image: url('../../images/icons/icon-copy-course.svg');
      }
    }

    [data-appearance] {
      @include book-icon-style();
    }

    [data-new-or-copy] {
      &::before {
        background-position: center;
        width: 60px;
      }
    }

    @each $book in map-keys($openstax-book-thumbnails) {
      [data-appearance="#{$book}"]:before {
        @include book-content-thumbnail($book);
      }
    }

    .input-group-addon {
      background: $tutor-white;
      color: inherit;
      font-weight: 600;
      text-align: left;
    }

    .form-control {
      background: $tutor-neutral-lightest;
      height: 4.8rem;
      font-weight: 600;
      color: inherit;
    }

    .alert-danger {
      padding: 0.5rem;
      border: 0;
    }

    // customize different wizard types
    &.course_type,
    &.offering_id,
    &.offering {
      .panel-heading {
        font-weight: 800;
        text-align: center;
        min-height: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.course_type {
      svg {
        width: 80%;
        height: 5rem;
      }
    }
    &.term,
    &.cloned_from_id {
      .list-group-item {
        text-transform: capitalize;
      }
    }

    &.term {
      .year { margin-left: 0.5rem; }
    }
    &.cloned_from_id {
      .list-group-item .sub-title {
        font-weight: 400;
        font-size: 0.9em;
        line-height: 1.25em;
      }
    }

    &.numbers {

      .input-group {
        width: 100%;
      }

      .form-control {
        text-align: center;
      }

      .input-group-addon {
        width: 80%;

        p {
          margin-bottom: 0;
        }
      }

      input[type=number] {
        padding-right: 4px;
        padding-left: 16px;
      }
    }
  }
}
