.new-course {
  max-width: 400px;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .tutor-background-image('ost-hero.jpg');
    opacity: .4;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .panel {
    .panel-heading,
    .panel-footer {
      color: @tutor-neutral-dark;
      background-color: white;
      border: 0;
      button + button { margin-left: 0.5rem; }
    }
    .panel-heading {
      font-size: 1.8rem;
      margin-top: 1.8rem;
      padding-bottom: 0;
    }
  }
  tbody tr {
    cursor: pointer;
    &.selected {
      background-color: @tutor-neutral-light;
      td:last-child {
        position: relative;
        &:after {
          .fa-icon();
          content: @fa-var-check;
          color: @tutor-primary;
          position: absolute;
          top: calc(~"50% - 0.8rem");
          font-size: 1.8rem;
          right: 5px;
        }
      }
    }
  }

  .select-type {

    display: flex;
    border: 1px solid @tutor-neutral-light;

    .type {
      display: flex;
      flex-direction: column;
      height: 140px;
      width: 50%;
      padding: 10px;
      cursor: pointer;
      & + .type {
        border-left: 1px solid @tutor-neutral-light;
      }
      &.active { background-color: @tutor-neutral-light; }
      i {
        background-image: url("../../images/openstax-logo-vertical.svg");
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100px;
      }
      span {
        font-size: 1.7rem;
        align-self: flex-end;
      }

      &.cc span {
        color: @tutor-primary;
      }
      &.tutor span {
        color: @tutor-tertiary;
      }
    }
  }


  .offerings {
    td {
      vertical-align: middle;
      font-size: 1.4rem;
    }
    td:first-child {
      height: 60px;
      width: 45px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .for(@openstax-book-thumbnails); .-each(@code) {
      tr[data-appearance=@{code}] {
        td:first-child {
          .book-content-thumbnail(@code);
        }
      }
    }
  }

  .course-details {
    .nav-pills {
      border: 1px solid @tutor-neutral-light;
      li {
        a {
          border-radius: 0;
          border: 0;
          color: @tutor-neutral-dark;
          padding: 5px;
        }
        &.active a {
          background-color: @tutor-neutral-light;
        }
      }
    }
    .section-count {
      input {
        width: 50px;
        margin-left: 0.5rem;
      }
    }
    .source-course {
      margin-top: 10px;
    }
  }

  .other-courses {
    label { font-weight: normal; }
  }
}
