.psuedo-background() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.make-wizard-choice-active() {
  background-color: @tutor-neutral-light;
  border-color: @tutor-neutral-light;
  color: @tutor-neutral-dark;
}

.new-course-wizard {
  .list-group-item {
    padding: 8px;

    &:focus {
      outline-color: @tutor-neutral;
      outline-width: thin;
      outline-style: dotted;
    }

    &.active {
      .make-wizard-choice-active();

      &:hover,
      &:focus {
        .make-wizard-choice-active();
      }

      .course-choice {
        &::after {
          top: 16px;
          width: 28px;
          height: 28px;
          content: '';
          background-image: url('../../images/icons/icon-checked.svg');
          background-color: @tutor-white;
          background-repeat: no-repeat;
          background-position: center center;
          display: table-cell;
          vertical-align: middle;
          border-radius: 50%;
        }
      }
    }

    &[data-brand] {
      .course-choice-content-wrapper::before {
        position: absolute;
        top: 10px;
      }
    }

    &[data-brand=coach] {
      .course-choice-content-wrapper::before {
        content: url('../../images/openstax-logo-coach-horizontal.svg');
      }
    }

    &[data-brand=tutor-beta] {
      .course-choice-content-wrapper::before {
        content: url('../../images/openstax-logo-tutor-beta-horizontal.svg');
      }
    }

    &[data-new-or-copy=new]{
      .course-choice::before {
        content: url('../../images/icons/icon-course-new-course.svg');
      }
    }

    &[data-new-or-copy=copy]{
      .course-choice::before {
        content: url('../../images/icons/icon-copy-library.svg');
      }
    }

    &[data-copy-or-not=copy]{
      .course-choice::before {
        content: url('../../images/icons/icon-copy-course.svg');
      }
    }

    &[data-copy-or-not=dont-copy]{
      .course-choice::before {
        content: url('../../images/icons/icon-dont-copy-course.svg');
      }
    }
  }

  .input-group-addon {
    background: @tutor-white;
    color: @tutor-neutral-dark;
    font-weight: 600;
    text-align: left;
  }

  .form-control {
    background: @tutor-neutral-lightest;

    &:focus {
      color: @tutor-neutral-dark;
    }
  }

  &.new-course-wizard-course_type,
  &.new-course-wizard-offering_id {
    .panel-heading {
      font-weight: 600;
      max-width: 75%;
      text-align: center;
      min-height: 6rem;
      display: table;

      div {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  &.new-course-wizard-term,
  &.new-course-wizard-cloned_from_id {
    .list-group-item {
      text-transform: capitalize;
    }
  }

  &.new-course-wizard-cloned_from_id {
    .course-choice-content {
      p {
        margin-bottom: 0;
        font-weight: 300;
        font-size: 0.9em;
        line-height: 1.25em;
      }
    }
  }

  &.new-course-wizard-copy_question_library {
    .list-group {
      display: flex;

      .list-group-item {
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-left-radius: @list-group-border-radius;
        }
        &:last-child {
          border-bottom-left-radius: 0;
          border-top-right-radius: @list-group-border-radius;
        }
      }

      .course-choice::before {
        width: 32px;
      }
    }
  }

  &.new-course-wizard-details {
    .course-details-sections {
      .input-group-addon {
        width: 260px;
      }

      .form-control {
        text-align: center;
      }
    }

    .course-details-sections-note {
      color: @tutor-neutral;
      margin-left: 0.5rem;
    }
  }
}

.course-choice {
  width: 100%;
  display: table;
  min-height: 6rem;
  position: relative;

  &::after {
    position: absolute;
    right: 6px;
  }

  &::before {
    width: 6rem;
    display: inline-block;
    float: left;
    text-align: center;
    margin-right: 0;
    margin-top: 1.6rem;
    height: 2.8rem;
  }

  .course-choice-content-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .course-choice-content {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1em;
    margin-left: 1rem;
  }
}

.course-offering {
  .for(@openstax-book-thumbnails); .-each(@code) {
    &[data-appearance=@{code}] {
      &::before {
        .book-content-thumbnail(@code);
      }
    }
  }

  &[data-appearance]{
    &::before {
      content: '';
      background-size: cover;
      background-position: center bottom;
      height: 6rem;
      margin-right: 2rem;
      margin-top: 0;
    }

    .course-offering-content-wrapper {
      &::before {
        content: attr(data-book-title);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1em;
        margin: 0;
        padding: 0;
      }

      .course-choice-content {
        font-weight: 300;
        margin-top: 0.5rem;
        margin-left: 0;
      }
    }
  }

  &[data-appearance*=biology]{
    &::before {
      background-position: center center;
    }
  }
}

.new-course {
  max-width: 440px;
  margin: 0 auto;

  &::before,
  &::after {
    .psuedo-background();    
  }
  &::before {
    background-image:
      linear-gradient(to right, @tutor-secondary, @tutor-tertiary),
      url('../../images/ost-hero.jpg');
    background-blend-mode: hard-light;
    filter: blur(12px);
  }

  &::after {
    background-image:
      linear-gradient(to right, fade(@tutor-secondary, 57%), fade(@tutor-tertiary, 57%));
  }

  .panel {
    padding: 3rem 4rem;
    .tutor-shadow(3);

    .panel-heading,
    .panel-footer {
      .controls { text-align: right; }
      color: @tutor-neutral-dark;
      background-color: white;
      border: 0;
      padding: 1rem 0;
    }
    .panel-heading {
      margin: auto;
      font-size: 1.6rem;
      line-height: 2rem;
    }
    .panel-body {
      padding: 1.6rem 0;
      margin-left: -4px;
      margin-right: -4px;
    }

    .panel-content {
      height: 260px;
      overflow: auto;
      padding: 4px;
    }
  }

  .btn.btn-default.back {
    background: @tutor-neutral-light;
    color: @tutor-white;
  }
}
