.psuedo-background() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.make-wizard-choice-active() {
  background-color: fade(@tutor-neutral-light, 60%);
  border-color: @tutor-neutral-light;
  color: @tutor-neutral-dark;
  position: relative;
}

.new-course {
  max-width: 440px;
  margin: 134px auto 0 auto;

  &::before,
  &::after {
    .psuedo-background();
  }
  &::before {
    background-image:
      linear-gradient(to right, @tutor-secondary, @tutor-tertiary),
      url('../../images/ost-hero.jpg');
    background-blend-mode: hard-light;
    filter: blur(12px);
  }

  &::after {
    background-image:
      linear-gradient(to right, fade(@tutor-secondary, 57%), fade(@tutor-tertiary, 57%));
  }

  .panel {
    padding: 3rem 4rem;
    position: relative;
    .tutor-shadow(pop);

    .panel-heading,
    .panel-footer {
      color: @tutor-neutral-dark;
      background-color: white;
      border: 0;
      padding: 1rem 0;
    }
    .panel-footer {
      .controls { text-align: right; }
      .btn {
        font-weight: 600;
        &.btn-default {
          color: @tutor-neutral;
          &.back {
            background: @tutor-neutral;
            color: @tutor-white;
          }
        }
      }
    }

    .panel-heading {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.6rem;
      line-height: 2rem;
      .course-offering {
        display: flex;
        .contents {
          &::before {
            width: 60px;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: 1.6rem;
            font-weight: 800;
          }
        }
      }
    }
    .panel-body {
      padding: 1.6rem 0;
      margin-left: -4px;
      margin-right: -4px;

      .tutor-subtle-load(will-load; @loading-text: 'Loading...'; @bg-fade: 100%;);
      &::after {
        left: 0;
        z-index: 1;
        font-size: 1.5rem;
        line-height: 60rem;
      }
    }
    // set footer to a fixed height so the panel stays the same height
    // even if some do not have any controls
    .panel-footer { height: 65px; }

    &.is-loading {
      .panel-body {
        .tutor-subtle-load(loading);
      }

      &.is-building .panel-body::after {
        content: 'Building your course...';
      }
    }
    .panel-content {
      height: 260px;
    }

    .list-group {
      max-height: 260px;
      overflow-y: auto;
      border-top: 1px solid @tutor-neutral-light;
      border-bottom: 1px solid @tutor-neutral-light;

      .list-group-item:first-child {
        border-top: none;
      }
      .list-group-item:last-child {
        border-bottom: none;
      }
    }
  }

  .new-course-wizard {

    [data-appearance],
    [data-copy-or-not],
    [data-new-or-copy],
    [data-brand] {
      &::before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;
        margin-right: 1rem;
        display: block;
        margin-top: 0;
      }

    }

    [data-appearance]::before{
      width: 60px;
    }
    [data-brand]::before {
      width: 80%;
    }
    [data-new-or-copy],
    [data-copy-or-not] {
      &::before {
        width: 40px;
      }
    }
    [data-appearance*=biology]{
      &::before {
        background-position: center center;
      }
    }

    .for(@openstax-book-thumbnails); .-each(@code) {
      [data-appearance=@{code}] {
        &::before {
          .book-content-thumbnail(@code);
        }
      }
    }

    .list-group-item {
      padding: 8px;
      display: flex;
      align-content: center;
      height: 7rem;
      position: relative;
      font-size: 1.6rem;
      font-weight: 800;
      line-height: 1em;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
      }

      &.active {
        .make-wizard-choice-active();
        &:hover,
        &:focus {
          .make-wizard-choice-active();
        }
        &::after {
          right: 5px;
          top: 50%;
          .fa-icon();
          content: @fa-var-check-circle-o;
          color: @tutor-secondary;
          margin-bottom: 0;
          font-size: 28px;
          margin-top: -14px;
        }
      }
      &[data-brand=coach]::before {
        background-image: url('../../images/openstax-logo-coach-horizontal.svg');
      }

      &[data-brand=tutor-beta]::before {
        background-image: url('../../images/openstax-logo-tutor-beta-horizontal.svg');
      }


      &[data-new-or-copy=new]::before {
        background-image: url('../../images/icons/icon-new-course.svg');
      }

      &[data-new-or-copy=copy]::before {
        background-image: url('../../images/icons/icon-copy-course.svg');
      }

      &[data-copy-or-not=copy]::before {
        background-image: url('../../images/icons/icon-copy-library.svg');
      }

      &[data-copy-or-not=dont-copy]::before {
        background-image: url('../../images/icons/icon-dont-copy-library.svg');
      }
    }

    .input-group-addon {
      background: @tutor-white;
      color: @tutor-neutral-dark;
      font-weight: 600;
      text-align: left;
    }

    .form-control {
      background: @tutor-neutral-lightest;
      height: 4.8rem;
      font-weight: 600;
      color: @tutor-neutral-dark;
    }

    .alert {
      font-size: 1.5rem;
      line-height: 1.3em;
      padding: 1rem;
      margin-bottom: 0;

      p {
        margin: 0 0 1.5rem 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    // customize differnt wizard types
    &.course_type,
    &.offering_id {
      .panel-heading {
        font-weight: 800;
        text-align: center;
        min-height: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    &.term,
    &.cloned_from_id {
      .list-group-item {
        text-transform: capitalize;
      }
    }

    &.term {
      .year { margin-left: 0.5rem; }
    }
    &.cloned_from_id {
      .list-group-item .sub-title {
        font-weight: 400;
        font-size: 0.9em;
        line-height: 1.25em;
      }
    }

    &.details {
      .course-details-sections {
        .input-group {
          width: 100%;
          .input-group-addon {
            width: 260px;
          }
          .form-control {
            text-align: center;
          }
        }
      }
      .course-details-sections-note {
        color: @tutor-neutral;
        margin-left: 0.5rem;
      }
    }

    &.copy_question_library.panel {
      .list-group {
        display: flex;

        overflow-y: hidden;
        .list-group-item {
          flex: 1;
          &:first-child {
            border-top-right-radius: 0;
            border-bottom-left-radius: @list-group-border-radius;
          }
          &:last-child {
            border-bottom-left-radius: 0;
            border-top-right-radius: @list-group-border-radius;
          }
        }
        .course-choice::before {
          width: 36px;
        }
      }
    }


  }
}
