// stolen from https://github.com/openstax/os-webview/blob/master/src/app/components/loading-section/loading-section.scss

.ox-loader {
  .message {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .ox-loader--inner {
    margin: auto;
    padding: 5rem;
    svg {
      display: block;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding-top: 2rem;
      max-width: 200px;
      .ox-green,
      .ox-orange,
      .ox-gray,
      .ox-yellow,
      .ox-blue {
        animation-delay: 0.5s;
      }

      .ox-green {
        animation: moveGreen 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
        transform-origin: center left;

        @keyframes moveGreen {
          from {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }

          to {
            transform: matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, -18);
          }
        }
      }

      .ox-orange {
        animation: moveOrange 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
        transform-origin: center right;

        @keyframes moveOrange {
          from {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }

          to {
            transform: matrix(0.994522, 0.104528, -0.104528, 0.994522, 0, -14);
          }
        }
      }

      .ox-gray {
        animation: moveGray 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
        transform-origin: center right;

        @keyframes moveGray {
          from {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }

          to {
            transform: matrix(0.99863, 0.052336, -0.052336, 0.99863, 0, -8);
          }
        }
      }

      .ox-yellow {
        animation: moveYellow 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.6s infinite alternate;
        transform-origin: center right;

        @keyframes moveYellow{
          from {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }

          to {
            transform: matrix(1, 0, 0, 1, 0, -8);
          }
        }
      }

      .ox-blue {
        animation: moveBlue 0.6s cubic-bezier(0.81, 0.41, 0.13, 0.74) 0.5s infinite alternate;
        transform-origin: center;

        @keyframes moveBlue{
          from {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }

          to {
            transform: matrix(0.99863, 0.052336, -0.052336, 0.99863, 0, -4);
          }
        }
      }
    }
  }
}
