.paging-handle-browser-left-offset(@left-offset: -75px) {
  // Only Chrome properly positions the right arrow properly.
  // (Firefox/Safari/IE) place it to the right of the .arrow-wrapper element
  // this rule shifts it back inside
  #ox-react-root-container[data-browser="ie"]      &,
  #ox-react-root-container[data-browser="safari"]  &,
  #ox-react-root-container[data-browser="firefox"] &
  {
    margin-left: @left-offset;
  }
}


.tutor-paging-navigation {
  @arrow-height: 150px;
  @arrow-width: 75px;
  .flex-display();
  .justify-content(center);
  max-width: 1400px;
  margin: 0 auto;

  .paging-control {

      .icon {
        height: @arrow-height;
        top: 50%;
        transform: translateY(-50%);
        width: @arrow-height / 2;
        z-index: 1; //appear above content when page is extremely narrow
        path {
          .transition(fill 150ms linear);
          fill: @tutor-neutral-light;
        }
      }

      &.next .icon {
        right: 20px;
      }

      &.prev .icon {
        left: 20px;
      }

      @media screen and (min-width: 1260px) {
        &.next .icon {
          right: auto;
          transform: translate(50%, -50%);
        }

        &.prev .icon {
          left: auto;
          transform: translate(-150%, -50%);
        }
      }

      &[disabled] {
        cursor: default; // otherwise it's "pointer" since it's an a tag
        .icon{ display: none; }
      }
      &:not([disabled]) {
        &.active,
        &:hover {
          text-decoration: none;
          .icon path { fill: @tutor-neutral-lite; }
        }
        &:focus { text-decoration: none; }
      }
    }
}
