.tutor-paging-navigation {
  @arrow-height: 150px;
  .flex-display();
  .justify-content(center);
  .paging-control {
    .flex(1);
    .flex-display();
    .align-items(center);
    min-height: calc(~"100vh - 150px");
    .arrow-wrapper {
      .flex(1);
      .flex-display();
      max-width: @arrow-height;  // keep left edge of icons no more than 60px from edge
      .tutor-icon {
        .transition(color 150ms linear);
        z-index: 1; //appear above content when page is extremely narrow
        position: fixed;
        top: calc(~"50vh - "@arrow-height);
        color: @tutor-neutral-light;
        font-size: @arrow-height;
      }
    }
    &.next {
      .arrow-wrapper{ .justify-content(flex-end); }
    }
    &.prev {
      .justify-content(flex-end);
      .arrow-wrapper{ .justify-content(flex-start); }
    }
    &[disabled] {
      .tutor-icon{ display: none; }
    }
    &:not([disabled]) {
      &.active,
      &:hover {
        text-decoration: none;
        .tutor-icon { color: @tutor-neutral-lite; }
      }
      &:focus { text-decoration: none; }
    }
  }
}
