.make-payment.modal .modal-dialog {
  width: 570px;
  .error-message {
    margin: 50px;
    button { margin-top: 2rem; }
  }
}

.manage-payments {
  // margin-top: 2rem;
  // @extend .container;
  // background-color: $tutor-white;
  // @include tutor-shadow(pop);
  // padding: 40px;
  table {
    .btn:not(.btn-link) {
      padding: 5px;
    }
    .right {
      text-align: right;
    }
    .refunded {
      .total {
        color: $currency-green;
      }
    }
    tbody tr td {
      vertical-align: middle;
    }
    .refund {
      text-align: center;
    }
  }

  .footer {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .help a { margin-left: 0.5rem; }
  }

}

// TODO - make this a mixin or standard style once UX finishes style guide
.modal.refund {
  $spacing: 50px;
  overflow: scroll;

  .modal-dialog {
    margin-top: 130px;
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-header,
  .modal-footer
  {
    padding: $spacing / 2;
  }
  .modal-header {
    background-color: $tutor-neutral-bright;
    border-bottom-color: $tutor-neutral-light;
    margin-bottom: $spacing / 2;
    .modal-title {
      color: black;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .modal-body {
    padding: 0 $spacing;
  }

  .modal-footer {
    text-align: left;
    border-top: 0;
    .btn + .btn {
      margin-left: $spacing/2;
    }
  }

  &.process {
    .amount { color: $currency-green; }
  }
  &.survey {
    p { margin-top: $spacing/2; }
    label {
      font-weight: normal;
      display: block;
      margin-bottom: $spacing/3;
    }
    textarea {
      width: 100%;
      border: thin solid $tutor-neutral-light;
      height: 60px;
      margin-bottom: $spacing/3;
    }
  }
}

.payments-panel {
  .error-message {
    padding: 20px;
  }
}
