.plan-modal {

  .no-students {
    margin: 20px;
  }

  .copy-on-focus {
    width: 80%;
  }
}

.card.task-stats {
  border: 0;

  .progress {
    height: 3rem;
  }

  .reading-progress-heading {
    margin-bottom: 1rem;
  }
}
