.plan-modal {
  .modal-content {
    .modal-header {
      justify-content: space-between;
    }
  }
  .no-students {
    margin: 20px;
  }

  .copy-on-focus {
    width: 80%;
  }
}

.card.task-stats {
  border: 0;

  label {
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .progress {
    height: 3rem;
  }

  .reading-progress-heading {
    margin-bottom: 1rem;
  }
}
