.related-content-link {
  margin: 20px 0;
//  a.view-reference-guide { @include tutor-external-link-indicator(); }
}

.reading-step,
.video-step,
.interactive-step {
  .related-content-link {
    text-align: right;
    margin: 0 20px;
    @media (min-width: $book-content-collapse-breakpoint) {
      margin: 0 $tutor-card-body-padding-horizontal;
    }
  }
}
