.sections-chooser {

  .panel-group {
    margin-bottom: 0;
    + .panel-group .panel {
      border-top: 0px;
      border-radius: 0;
    }
    &:last-child .panel {
      border-bottom-left-radius: $border-radius-large;
      border-bottom-right-radius: $border-radius-large;
    }
    .panel {
      margin-top: 0;
      box-shadow: none;

      .panel-heading {
        position: relative;
        border-bottom: 1px solid $tutor-neutral-light;
        background: none;
        padding: 0;

        .chapter-heading > a {
          color: $tutor-neutral-darker;
          display: flex;
          height: 3.5rem;
          align-items: center;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
          > span {
            font-size: 1.7rem;
            padding-left: 10px;
          }
          .tutor-icon {
            font-size: 1.7rem;
            font-weight: 700;
          }
          .chapter-section {
            color: $tutor-neutral-darker;
            font-size: 1.7rem;
          }

          .browse-the-book {
            color: $tutor-info;
            font-size: 1.4rem;
            font-weight: 400;
            position: absolute;
            right: 10px;
            line-height: 4rem;
            &:hover { text-decoration: underline; }
          }
        }
      }
    }


    .panel-heading .chapter-heading.empty-chapter {
      span.chapter-number span,
      span.chapter-title span {
        color: $tutor-neutral;
      }
      input {
        display: none;
      }
    }

    .panel-collapse > .panel-body {
      padding: 0;
      border: none !important;

      > .section {
        padding: 1px 10px;
        border-bottom: 1px solid $tutor-neutral-light;
        font-weight: 400;
        cursor: pointer;
        background: white;
        transition: background .05s ease-in;
        line-height: 3rem;
        &:hover {
          background: $state-info-bg;
          transition: background .05s ease-in;
        }

        &.selected {
          background: $tutor-highlight;
          transition: background .05s ease-in;
        }
        //TODO this could be a mixin of some sort, to keep consistent with HW builder and other similar actions
        > .section-checkbox {
          margin-right: 20px;
          font-size: 1.7rem;
        }
      }

    }

  }

}
