.tutor-tabs {
  display: flex;
  border-bottom: 1px solid @nav-tabs-border-color;
  > .nav-tabs {
    background: none;
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;

    li {
      text-align: center;
      background: transparent;
      border: none;
      padding: 1px;
      padding-bottom: 0;
      .transition(background 0.2s);

      a {
        color: @tutor-neutral !important;
        display: flex;
        font-size: inherit;
        font-weight: 400;
        justify-content: center;
        margin: 0;
        outline: 0;
        span.tab-item-period-name {
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          white-space: nowrap;
          font-size: 1.3rem;
          max-width: 100px;
        }

        h2 {
          font-size: inherit;
          font-weight: inherit;
          line-height: normal;
          margin: 0;
        }

        &:focus {
          .tab-focus();
          position: relative;
          z-index: 2;
        }

        &:hover {
          color: lighten(@tutor-neutral, 14%) !important;
        }

        &[aria-selected="true"] {
          background: @tutor-white;
          border-bottom: none;
          color: @tutor-neutral-darker !important;
          font-weight: 900;
        }
      }

      &.is-trouble {
        a {
          display: inline-block;
          padding: 10px;
          height: 20px;
          min-width: 55px;
          &:before {
            .is-trouble();
            margin: 2px 5px 0px 0px;
            float: left;
          }
        }
      }

    }

  }
}
