// the $navbar-XX vars are bootstrap defaults

.tutor-navbar {

  @mixin top-nav-action() {
    font-size: 1.6rem;
  }

  @media print {
    display: none;
  }

  .navbar-item {
    @include tutor-top-navbar-item();
  }

  .tutor-nav-controls {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    width: 1200px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &[aria-expanded="true"] {
      color: #333;
    }
  }

  .dropdown-menu {
    padding: 0;

    .dropdown-item {
      border-bottom: 1px solid #f5f5f5;
      padding-left: 16px;
      padding-right: 16px;
    }

    .dropdown-divider {
      margin: 0;
    }
    .dropdown-divider + .dropdown-divider {
      display: none;
    }
  }


  > * {
    display: flex;
    align-items: center;
  }

  .navbar-overlay {
    align-items: center;
    display: flex;
  }

  .ui-brand-logo {
    display: inline-block;
    margin-top: 5px;
    height: 34px;
    width: 200px;
    background-repeat: no-repeat;
    @include tutor-background-image('openstax-tutor-beta-logo.svg');
  }

  .right-side-controls {
    display: flex;
    height: 100%;

    > * {
      margin-left: 1.25rem;

      &:first-child {
        margin-left: 0;
      }
    }

    .dropdown .dropdown-toggle .ox-icon.toggle {
      width: 1.2rem;
      margin-left: 0.8rem;
    }

    @media screen and ( max-width: $tablet-collapse-breakpoint) {
      .my-highlights-label {
        display: none;
      }
    }
  }

  .book-links {
    border-right: 1px solid $tutor-neutral-light;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    a {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      border-left: 1px solid $tutor-neutral-light;
      .tutor-icon { margin-left: 0.5rem; }
    }
  }

  .student-pay-now {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    min-width: 250px;
    white-space: nowrap;
    .btn { margin-left: 10px; }
  }

  .actions-menu, .mobile-menu {
    .ox-icon {
      margin-left: 0;
    }

    [data-item="dashboard"] {
      .tour-anchor {
        display: flex;
        & > :first-child {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.5rem;
        }
      }
    }
    // don't display double dividers
    .dropdown-divider + .dropdown-divider {
      display: none;
    }
    [data-item="browseBook"],
    [data-item="viewGradebook"],
    [data-item="viewPerformanceGuide"],
    [data-item="changeStudentId"],
    [data-item="viewQuestionsLibrary"],
    [data-item="courseSettings"],
    [data-item="courseRoster"],
    [data-item="cloneCourse"],
    [data-item="practiceQuestions"] {
      .tour-anchor {
        padding-left: 2.5rem;
      }
    }
  }

  .mobile-menu {
    position: inherit;
    z-index: 1502; // 1 above tour z-index

    .close-icon {
      display: none;
    }

    .ox-icon {
      width: 16px;
    }

    &.show {
      .open-icon {
        display: none;
      }
      .close-icon {
        display: block;
      }
    }

    .dropdown-menu {
      margin: #{$tutor-navbar-height} 0 0 !important;
      transform: inherit !important;
      left: 0;
      right: 0;
      top: 0;
      overflow-y: auto;
      max-height: calc(100vh - #{$tutor-navbar-height} * 3);
    }
  }

  @import './top-nav-bar/center-controls';
  @import './top-nav-bar/drop-down-menu';
  @import './top-nav-bar/plugable';
}

@import './top-nav-bar/preview-add-course-btn';


.pinned-shy .tutor-top-navbar {
  @include make-shy();
}
