@tutor-navbar-height: 61px;
@tutor-navbar-padding-horizontal: 4rem;

// the @navbar-XX vars are bootstrap defaults

.tutor-top-navbar {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: @zindex-navbar-fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: @tutor-navbar-height;

  padding-right: @navbar-padding-horizontal;
  padding-left:  @navbar-padding-horizontal;

  a {
    color: #777;
    text-decoration: none;
  }

  > * {
    display: flex;
    align-items: center;
  }

  .ui-brand-logo {
    display: inline-block;
    height: 30px;
    width: 126px;
    background-repeat: no-repeat;
    .tutor-background-image('openstax-logo.svg');
  }

  .right-side-controls {
    > * {
      margin-left: 20px;
    }

  }

  .user-actions-menu {
    display: flex;
    align-items: center;
    align-self: stretch;
    .dropdown-toggle {
      flex: 1;
      align-self: stretch;
      display: flex;
      align-items: center;
      padding: 0 2rem;
    }
    .dropdown-menu {
      margin-top: -1px;

      input[type=submit] {
        #fonts .sans(1.4rem, 1.4rem);
        border: 0;
        background-color: transparent;
        width: 100%;
        padding-left: 0;
        text-transform: none;
        text-align: left;
        &:hover { text-decoration: initial; }
      }
    }
  }
}
