@import './tours/navbar';
@import './tours/anchor';
@import './tours/value-prop';
@import './tours/super-training-wheel';
@import './tours/tips-now-or-later';
@import './tours/new-enrollment-link';
@import './tours/centered-wheel';
@import './tours/mini-notice';
@import './tours/joyride';

.joyride-tooltip {

  .tour-step-best-practices {

  }

  &[data-target^='[data-tour-anchor-id="menu-option-'] {
    margin-top: -26px;
  }


}

.openstax-exercise-preview.has-actions .card-body.on-demo-hover .controls-overlay {
  visibility: visible;
  background-color: fade_out( $openstax-neutral-light, 0.2);
  .message { opacity: 1; }
}
