@import './tours/navbar';
@import './tours/anchor';
@import './tours/value-prop';
@import './tours/super-training-wheel';
@import './tours/tips-now-or-later';
@import './tours/new-enrollment-link';
@import './tours/biology2e_available';
@import './tours/centered-wheel';
@import './tours/joyride';

.joyride-tooltip {

  .tour-step-best-practices {
    @extend .tutor-icon.best-practices;
  }

  &[data-target^='[data-tour-anchor-id="menu-option-'] {
    margin-top: -26px;
  }

  &.mini-notice {
    .joyride-tooltip__button {
      display: none;
    }
    .joyride-tooltip__close {
      display: none;
    }
  }
}

.openstax-exercise-preview.has-actions .panel-body.on-demo-hover .controls-overlay {
  visibility: visible;
  background-color: fade_out( $openstax-neutral-light, 0.2);
  .message { opacity: 1; }
}
