.tutor-input {
  &.form-control-wrapper {

    display: block;
    line-height: 1em;
    margin: 0 0 28px 0;
    position: relative;

    #reading-title,
    #external-url {
      font-size: 2rem;
      color: $tutor-neutral-darker;
    }

    textarea {
      overflow: hidden;
      color: $tutor-neutral-darker;
      min-height: 35px;
      margin: 0;
      padding: 0;
    }

    .floating-label {
      position: absolute;
      top: 0px;
      font-size: 2rem;
      color: lighten($tutor-neutral, 14%);
    }

    &.-tutor-date-input{
      input[disabled] ~ .date-wrapper {
        cursor: not-allowed;
      }
    }

    &.tutor-input {
      input {
        min-height: 35px;
      }
    }

    .form-control {
      @include openstax-animated-focus-input();
      &:focus,
      &.focus {
        ~ .floating-label {
          color: $info;
          font-size: 1.1rem;
          font-weight: 300;
          top: -15px;
        }

      }

      &:not(.empty) ~ .floating-label {
        top: -15px;
        font-size: 1.1rem;
        font-weight: 300;
      }

    }

    .date-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 28px;
      display: flex;
      align-items: center;
      .datepicker__input-container {
        z-index: 2;
      }

      .datepicker__input-container input {
        box-shadow: none;
        border: 0;
        padding: 3px 11px 0 0;
        background: transparent;
        width: 100%;
        font-size: 1.6rem;
      }

      .ox-icon.calendar {
        position: absolute;
        bottom: 5px;
        right: 0;
      }
    }
  }

  &.disabled-datepicker input:disabled {
    cursor: not-allowed;
    font-size: 1.3rem;
  }
  &.is-disabled {
    input {
      cursor: not-allowed;
    }
  }
}

.is-invalid-form {
  .form-control-wrapper.is-required {
    margin-bottom: 2em;
    .form-control.empty ~ .floating-label {
      color: $form-error-color;
    }
    .form-control.empty ~ .required-hint {
      display: block;
      margin-bottom: 1em;
      color: $form-error-color;
    }
    .form-control.empty:not(:focus) {
        border-bottom-color: $form-error-color;
    }
  }
  .form-control-wrapper.has-error {
    .form-control ~ .floating-label {
      color: $form-error-color;
    }
    .form-control ~ .hint {
      display: block;
      color: $form-error-color;
    }
  }
}

.tutor-date-input {
  .form-control-wrapper .floating-label,
  .tasking-time input { font-size: 1.6rem; }
}

.tutor-radio {
  &:not(.active) {
    @include transition(color 0.1s linear);
    color: $tutor-neutral;

    label[for] {
      cursor: pointer;
      font-weight: 400;
    }

    &:hover {
      color: $tutor-neutral-darker;
    }
  }
}
