.tutor-dialog {

  .server-error {
    word-break: break-all;
    .response {
      max-height: 200px;
      overflow: auto;
    }
  }
  .modal-footer {
    text-align: left;
    padding: $modal-inner-padding;
  }
}
