.pinned-footer {
  @include tutor-shadow(1);

  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn:disabled {
    margin-top: -1px;
    margin-bottom: -1px;
  }
}

.card-body {
  background: $tutor-white;
  padding: $tutor-card-body-padding-vertical 0;
  margin-bottom: 4rem;
  position: relative; // needed so components inside can position themselves using absolute
}
