@import '../screen-styles.scss';
@import '../../../resources/styles/book-content/index';
@import '../../../resources/styles/book-content/page';

.qa-view {

  @include book-page();

  .book-page {
    margin-top: 50px;
  }

  .exercises {
    width: $book-page-width;
    > .heading {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > * { margin-left: 1rem; }
      .preview2step { margin-left: 0.5rem; }
    }

    .exercise {
      margin-bottom: $tutor-card-body-padding-vertical;

      .openstax-exercise-preview .frame-wrapper {
        margin-left: 0;
        min-width: 100%;
      }

      .exercise-free-response-preview {
        height: 80px;
        border: 1px solid $tutor-neutral-dark;
        margin-bottom: 2rem;

        &::after{
          content: "Enter your response";
          margin-left: 1rem;
          font-style: italic;
          color: lightgrey;
        };
      }
      .panel-heading {
        position: inherit;
        display: block;
        padding: 0;
        background-color: transparent;
        border: none;
      }
      .exercise-identifier-link {
        float: left;
        position: initial;
      }
      .edit-link {
//        @include tutor-external-link-indicator();
        position: absolute;
        bottom: 15px;
        right: 10px;
      }
      // override the default hover styles for the card from the teacher's exercise picker
      &:hover {
        background-color: white;
        cursor: auto;
      }

    }
    .types {
      text-align: right;
      > span {
        font-size: 1.6rem;
        background-color: $tutor-quaternary;
        color: black;
        margin-left: 0.5rem;
        padding: 0 5px;
        border-radius: $border-radius;
      }
      .is-ignored     { text-decoration: line-through;              }
      .practice       { background-color: $reading-color;           }
      .conceptual     { background-color: $homework-color;          }
      .chapter-review { background-color: $qa-chapter-review-color; }
      .grasp-check    { background-color: $qa-grasp-check-color     }
      .test-prep      { background-color: $qa-test-prep-color       }
      .conceptual-or-recall  {  background-color: lighten($homework-color, 15%) }
    }
  }
  .navbar-nav {
    // clip so that a long title doesn't push the menus below the navbar
    .section-title {
      max-width: calc(100% - 500px);
    }
    .available-books ul.dropdown-menu {
      max-height: 350px;
      overflow: hidden;
      overflow-y: auto;
    }
    .available-books .book {
      border-top: 1px dashed $tutor-neutral-light;
      .title-version {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        :last-child { margin-left: 0.5rem; }
      }
    }
    // hide logos when screen is narrow.
    // QA has more navbar controls so needs to be more agressive than reference book media query
    @media screen and ( max-width: ($book-page-width+300px) ){
      .ui-rice-logo,
      .ui-brand-logo {
        display: none;
      }
    }

  }
  // QR codes are hidden elsewhere, but QA view should see the all content as-is
  [data-alt='QR Code representing a URL'] {
    display: unset;
  }
}

.is-college {
  .screen.qa {
    // LO tags are normally hidden for college courses, but QA should see all
    .openstax-exercise-preview {
      .lo-tag { display: block; }
    }
  }

}

.tutor-app.q-a-dashboard {
  .user-menu { order: 3; }
}
