// This file is part of the book-content mixin and should not be included directly
// Hide titles, abstracts and CNX Processing instructions

// References should not get drop-cap styling
%tutor-book-content-base-styles {

  // Default font for text content
  p,
  ul,
  ol {
    @include tutor-serif-font(1.75rem, 190%);
    margin: 0 0 2.4rem 0;
  }

  section {
    clear: both;
  }

  blockquote {
    @include tutor-serif-font(1.75rem, 190%);
    font-style: italic;
    background-color: $tutor-neutral-lighter;
  }

  [data-type=term]{
    font-weight: bold;
    font-style: italic;
  }

  @include tutor-tables($tutor-neutral-light, $tutor-neutral-light);

  div[data-type="document-title"],
  cnx-pi{
    display: none;
  }

  ul::not([role="menu"]) {
    list-style-type: none;
    > li {
      &::before {
        list-style-type: none;
        content: "";
        width: .4em;
        height: .4em;
        float: left;
        margin: 0.75em -0.8em 0;
        border-radius: 50%;
      }
    }
  }

  section:not(.references) h1 + p:first-of-type,
  div[data-type="document-title"] ~ p:first-of-type {
    @include tutor-reading-first-letter();
  }

  // prevent larger images from pushing out past their container.
  // Most images are inside a <figure> and will be handled by the rules below
  img { max-width: 100%, }

  @include tutor-figure();

  // images inside a figure that occurs right after a title are full-width
  .title + figure {
    width: 100%;
    img { width: 100%; }
  }

  [data-type="footnote-refs"] {
    ol {
      padding-left: 0;
      list-style: none;
      li {
        list-style: none;
        a {
          padding-right: 10px;
        }
        p {
          display:inline;
        }
      }
    }
  }

}
