// A mixin to style book content from CNX
@import './variables';
@import './mixins';
@import './theming-mixins';
@import './base';
@import './typography';
@import './learning-objectives';
@import './page-title';
@import './splash-image';
@import './target';
@import './os-teacher';
@import './questions';
@import './examples';
@import './equations';
// mixins
@import './note';

@mixin tutor-book-content-body() {
  padding: 0 $tutor-book-padding-horizontal $tutor-book-padding-vertical $tutor-book-padding-horizontal;
  @media screen and ( max-width: $tablet-collapse-breakpoint ){
    padding: 0 $book-content-narrow-horizontal-padding;
  }
  counter-reset: question;
}

@mixin tutor-book-content() {
  display: block;
  width: 100%;

  @include tutor-book-content-base-styles();
  @include tutor-book-content-typography();
  @include tutor-book-content-learning-objectives();
  @include tutor-book-content-page-title();
  @include tutor-book-content-splash-image();
  @include tutor-book-content-target();
  @include tutor-book-content-teacher();
  @include tutor-book-content-questions();
  @include tutor-book-content-examples();
  @include tutor-book-content-equations();
  @include book-content-interactives();
  @include tutor-book-notes();

  @each $book in map-keys($openstax-books) {
    &[data-appearance=#{$book}] {
      @include tutor-book-content-theme($book);
    }
  }
}
