// A mixin to style book content from CNX
@import './variables';
@import './mixins';
@import './theming-mixins';
@import './base';
@import './typography';
@import './learning-objectives';
@import './related-content';
@import './splash-image';
@import './target';
@import './os-teacher';
@import './questions';
@import './examples';
@import './equations';
// mixins
@import './note';

@mixin tutor-book-content-body() {
  padding: 0 $tutor-book-padding-horizontal $tutor-book-padding-vertical $tutor-book-padding-horizontal;
  @media screen and ( max-width: $book-content-collapse-breakpoint ){
    padding: 0 $book-content-narrow-horizontal-padding;
  }
  counter-reset: question figure;
}

@mixin tutor-book-content() {
  display: block;
  padding:  0 $book-content-narrow-horizontal-padding;
  @media screen and ( max-width: $book-content-collapse-breakpoint ){
    padding: 0;
  }
  width: 100%;

  @extend %tutor-book-content-base-styles;
  @extend %tutor-book-content-typography;
  @extend %tutor-book-content-learning-objectives;
  @extend %tutor-book-content-related-content;
  @extend %tutor-book-content-splash-image;
  @extend %tutor-book-content-target;
  @extend %tutor-book-content-teacher;
  @extend %tutor-book-content-questions;
  @extend %tutor-book-content-examples;
  @extend %tutor-book-content-equations;
  @include book-content-interactives();
  @include tutor-book-notes();

  @each $book in map-keys($openstax-books) {
    &[data-appearance=#{$book}] {
      @include tutor-book-content-theme($book);
    }
  }
}
