@mixin tutor-book-content-learning-objectives() {

  .os-chapter-objective:not(:last-of-type) {
    & + & {
      .learning-objective {
        [data-type=abstract] {
          margin-bottom: 20px;
        }
      }
    }
  }

  .learning-objectives,
  [data-type=abstract] {

    // hide the "Section learning Objectives" phrase
    > [data-type=title],
    &:empty {
      display: none;
    }
    @include book-content-full-width();
    padding-left: $tutor-book-padding-vertical;

    border-bottom: 1px solid $border-color;
    margin-bottom: $tutor-book-padding-vertical * 2;
    padding-bottom: $tutor-book-padding-vertical * 2;

    p,
    &::before {
      @include tutor-sans-font(1.4rem, 1.8em);
      display: block;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 1rem 1rem;
    }

    &[data-is-intro=true]::before {
      content: 'In this chapter you will learn about:';
    }

    &[data-is-intro=false]::before {
      content: 'By the end of this section, you will be able to:';
    }

    &[data-preamble]::before {
      content: attr(data-preamble);
    }

    & + p {
      margin-top: 3rem;
    }

    ul {
      text-transform: none;
      list-style: disc;
      margin: 0 0;
      padding: 0 20px;
      @include tutor-sans-font(1.8rem, 1.8rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      li {
        @include tutor-sans-font(1.4rem, 1.3em);
        justify-content: center;
        margin-left: 20px;
        padding-bottom: 5px;
        font-weight: 300;

        &::before {
          content: none;
          display: none;
        }
        .MathJax {
          margin-left: 2rem;
        }
      }
    }
  }
}
