// Mixins used internally by the book-content mixin

// TODO: refactor internally to replace the "tutor-reading-" prefix with "book-content-"

@mixin tutor-reading-step-banner-icon($img) {
  background: $tutor-tertiary url($img);
  background-repeat: no-repeat;
  text-indent: $tutor-book-ui-top-height - 5px;
  background-position: 5px;
  background-size: $tutor-book-ui-top-height - 10px $tutor-book-ui-top-height - 10px;
}

@mixin tutor-reading-main-title() {
  margin-top: 0;
  border-top: 1px solid $tutor-neutral-light;
  color: $tutor-neutral-darker;
  font-weight: 900;
  font-size: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

@mixin book-content-subtitle($subtitle-color: $tutor-book-secondary) {
  color: $subtitle-color;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 2rem;
}


// sets an element to be the width of the content pane
// used for cases where the parent element is not set to 100% width and cannot be targeted
@mixin book-content-full-width() {
  margin-left: -$tutor-card-body-padding-horizontal;
  min-width: calc(100% + #{$tutor-card-body-padding-horizontal * 2} );
  @media screen and ( max-width: $book-content-collapse-breakpoint ){
    margin-left: -$book-content-narrow-horizontal-padding;
    min-width: calc(100% + #{$book-content-narrow-horizontal-padding * 2});
  }
}

@mixin book-paged-content() {
  .paged-content {
    width: 100%;

    @media screen and ( min-width: $book-content-collapse-breakpoint ){
      width: $book-page-width;
    }
  }
}

@mixin book-content-interactives(
  $narrow-horizontal-margin: $book-content-narrow-horizontal-padding
) {
  .frame-wrapper,
  iframe.interactive
  {
    width: 100%;
    height: $tutor-interactive-iframe-height;

    margin: 20px auto;
    border: none;
    @include book-content-full-width();
    width: $tutor-interactive-iframe-width;
    margin-left: calc(50% - #{($tutor-interactive-iframe-width / 2)});
    @media screen and ( max-width: $book-content-collapse-breakpoint ){
      margin-left: -$narrow-horizontal-margin;
      margin-right: $narrow-horizontal-margin;
    }

  }
}
