$has-data-label-selector: '[data-label]:not([data-label=""])';
$feature-title-is-element: '[data-has-label=true][data-label=""]';
$tutor-note-title-element: '[data-type=title]:first-child';

$tutor-note-margin-horizontal: 38px;
$tutor-note-margin-vertical: 48px;
%tutor-empty-rules { }


@mixin tutor-book-note-style() {
  .openstax-question {
    &::before {
      display: none;
    }
  }

  :last-child:not(.embed-responsive) {
    padding-bottom: 0;
  }

  .title {
    @include tutor-sans-font(2.4rem, 3.2rem);
    font-weight: 900;
    clear: both;
  }

  p,
  ul,
  li {
    @include tutor-sans-font(1.8rem, 1.75em);
    margin: 0 0  1.5rem 0;
    color: $tutor-neutral-dark;
  }
  li {
    padding: 5px 0;
  }
  .problem {
    clear: both;
  }
  .solution,
  .commentary {
    clear: both;

    [data-type=title] {
      @include tutor-sans-font(1.8rem, 1.75em);
      font-weight: bold;
    }
  }

  figure {
    float: none;
  }
}


@mixin tutor-style-note-title-variants($tutor-title-rules: %tutor-empty-rules) {

  &#{$has-data-label-selector},

  &.example {

    &::before {
      @extend $tutor-title-rules;
    }
  }

  &#{$feature-title-is-element},
  &[data-element-type="check-understanding"] {
    > #{$tutor-note-title-element} {
      @extend tutor-title-rules;
    }
  }

  &#{$has-data-label-selector}::before {
    content: attr(data-label);
  }
}

@mixin tutor-style-note-variants(
  $all-note-rules: %tutor-empty-rules,
  $title-rules: %tutor-empty-rules,
  $except-teacher-rules: %tutor-empty-rules,
  $except-teacher-title-rules: %tutor-empty-rules
) {
  .book-content > .note,
  section > section > .note,
  .book-content > section > .note:not(.learning-objectives),
  .grasp-check,
  .book-content > [data-element-type="check-understanding"],
  section > [data-element-type="check-understanding"],
  .book-content > .example,
  section > .example {
    @include tutor-style-note($all-note-rules, $title-rules);

    &:not(.os-teacher) {
      @extend tutor-style-note($except-teacher-rules, $except-teacher-title-rules);
    }
  }
}

// @mixin tutor-style-note(
//   $note-rules: %tutor-empty-rules,
//   $title-rules: %tutor-empty-rules
// ) {
//   @extend $note-rules;
//   @include tutor-style-note-title-variants($title-rules);
// }


%tutor-except-teacher-rules {
  display: inline-block;
}

%tutor-note-plain-style {
  $desired-iframe-inset: ($reference-book-page-width - $tutor-interactive-iframe-width) / 2;

  background: none;
  padding: 20px 0;
  border-bottom: none;

};

%tutor-note-plain-title-style {
  margin: $book-content-note-without-background-margin;
};

@mixin tutor-book-step-note() {
//  @include tutor-style-note(%tutor-note-plain-style, %tutor-note-plain-title-style);
}

@mixin tutor-book-step-notes() {
  // tutor-book-step specific modifications
//  @include tutor-style-note-variants(%tutor-note-plain-style, %tutor-note-plain-title-style);
}

@mixin tutor-book-reading-titles() {
  section > h1 {
    clear: both;
  }
}

// @mixin tutor-book-theme-note($label-background: $tutor-book-primary, $label-text: $tutor-book-text-on-dark-labels) {
//   // @include tutor-style-note-variants($except-teacher-title-rules: {
//   //   color: $label-text,
//   //   background: $label-background,
//   // }),
// }




%tutor-all-note-rules {
  background: $tutor-neutral-lightest;
  margin: 0 0 71px 0;
  clear: both;
  border-top: solid 8px $tutor-neutral-lighter;
  border-bottom: solid 8px $tutor-neutral-lighter;
  padding: $tutor-note-padding;
  width: 100%;
  position: relative;
  top: $tutor-note-margin-vertical;

  .exercise[data-type=exercise] .solution {
    // undo general hiding of solutions
    display: block;
  }

  @include tutor-book-note-style();
}

// .reference-book .content .page section>[data-element-type=check-understanding][data-element-type=check-understanding]>[data-type=title]:first-child
// .reference-book .content .page section>[data-element-type=check-understanding][data-element-type=check-understanding]>[data-type=title]:first-child,


$tutor-book-note-selector: '
  .book-content > .note,
  section > section > .note,
  .book-content > section > .note:not(.learning-objectives),
  .grasp-check,
  .book-content > [data-element-type="check-understanding"],
  section > [data-element-type="check-understanding"],
  .book-content > .example,
  section > .example
';

@mixin tutor-book-label-style() {
  &#{$has-data-label-selector},
  &.example {
    &::before {
      @content;
    }
  }

  &#{$feature-title-is-element},
  &[data-element-type="check-understanding"] {
    > #{$tutor-note-title-element} {
      @content;
    }
  }
}

@mixin tutor-book-notes() {
  #{$tutor-book-note-selector} {

    @extend %tutor-all-note-rules;

    .grasp-check {
      margin: 0 0 71px 0;
      padding: $tutor-note-padding-vertical 0;
      border-top: solid 8px $tutor-secondary;
      border-bottom: none;

      &#{$has-data-label-selector}::before {
        margin: $book-content-note-without-background-margin;
      }
    }

    .book-content > .example,
    section > .example {

      //@mixin tutor-book-before-manual-label($content: attr(data-label)) {
      &::before {
        content: "Worked Example";
       // @extend %tutor-book-label-style;
      }

      &#{$feature-title-is-element} {
        // undo auto title. todo
        > #{$tutor-note-title-element} {
          display: none;
        }
      }
      //}

//      @include tutor-book-before-manual-label();
    }

    @include tutor-book-label-style() {
      position: absolute;
      @include tutor-sans-font($tutor-book-ui-top-height - 18px, $tutor-book-ui-top-height);
      font-weight: 900;
      padding: 0 40px;
      height: $tutor-book-ui-top-height;
      display: inline-block;
      top: $book-content-note-with-background-top;
      left: $book-content-note-with-background-left;
    };

    &#{$has-data-label-selector}::before {
      content: attr(data-label);
    }

    #{$tutor-book-note-selector} {
      @include tutor-book-label-style() {
        top: auto;
      };
    }
  }

}

@mixin tutor-book-theme-notes($background, $text-color) {
  #{$tutor-book-note-selector} {
    @include tutor-book-label-style() {
      color: $text-color;
      background-color: $background;
    }
  }



//     //@include tutor-style-note($all-note-rules, $title-rules);


//     &:not(.os-teacher) {
// //      @extend tutor-style-note($except-teacher-rules, $except-teacher-title-rules);
//     }



  // @include tutor-style-note-variants(
  //   $all-note-rules: %tutor-all-note-rules,
  //   $title-rules: %tutor-book-label-style,
  //   $except-teacher-rules: %tutor-except-teacher-rules
  // );

  // .grasp-check specific styles

  // .example, check-understanding content currently lacks a data-label attribute

  // Any other notes missing
  //  * `data-label` value and
  //  * `.title[data-type=title]:first-child`
  // should have their content defined manually here
  // or in subject specific themes.
  //
  // Also, their selectors should be appended to the selectors in
  // `.tutor-style-note-variants` and `.tutor-style-note-title-variants`
  // so that all places where notes are being styled,
  // the non-`[data-label]`led notes will also be affected like a fully featured note.
}
