$has-data-label-selector: '[data-label]:not([data-label=""])';
$feature-title-is-element: '[data-has-label=true][data-label=""]';
$tutor-note-title-element: '[data-type=title]:first-child';

$tutor-note-margin-horizontal: 38px;
$tutor-note-margin-vertical: 48px;
%tutor-empty-rules { }


@mixin tutor-book-note-style() {
  @include clearfix();

  .openstax-question {
    &::before {
      display: none;
    }
  }

  :last-child:not(.embed-responsive) {
    padding-bottom: 0;
  }

  .title {
    @include tutor-sans-font(2.4rem, 3.2rem);
    font-weight: 900;
    clear: both;
  }

  p,
  ul,
  li {
    @include tutor-sans-font(1.8rem, 1.75em);
    margin: 0 0  1.5rem 0;
    color: $tutor-neutral-dark;
  }
  li {
    padding: 5px 0;
  }
  .problem {
    clear: both;
  }
  .solution,
  .commentary {
    clear: both;

    [data-type=title] {
      @include tutor-sans-font(1.8rem, 1.75em);
      font-weight: bold;
    }
  }
}


@mixin tutor-style-note-title-variants($tutor-title-rules: %tutor-empty-rules) {

  &#{$has-data-label-selector},

  &.example {

    &::before {
      @extend $tutor-title-rules;
    }
  }

  &#{$feature-title-is-element},
  &[data-element-type="check-understanding"] {
    > #{$tutor-note-title-element} {
      @extend tutor-title-rules;
    }
  }

  &#{$has-data-label-selector}::before {
    content: attr(data-label);
  }
}


%tutor-except-teacher-rules {
  display: inline-block;
}

%tutor-note-plain-style {
  $desired-iframe-inset: ($book-page-width - $tutor-interactive-iframe-width) / 2;

  background: none;
  padding: 20px 0;
  border-bottom: none;

};

%tutor-note-plain-title-style {
  margin: $book-content-note-without-background-margin;
};

@mixin tutor-book-step-note() {

}

@mixin tutor-book-step-notes() {
  // tutor-book-step specific modifications

}

@mixin tutor-book-reading-titles() {
  section > h1 {
    clear: both;
  }
}


%tutor-all-note-rules {
}

$tutor-book-note-selector: '
  .note:not(.learning-objectives),
  .example,
  .grasp-check,
  [data-type="note"],
  [data-element-type="check-understanding"],
';

@mixin tutor-book-label-style() {
  &#{$has-data-label-selector} {
    &::before {
      @content;
    }
  }

  &#{$feature-title-is-element},
  &[data-element-type="check-understanding"] {
    > #{$tutor-note-title-element} {
      @content;
    }
  }
}

@mixin tutor-book-notes() {
  #{$tutor-book-note-selector} {

    >[data-type=content],
    &:not([data-tutor-transform]) {
      background: $tutor-neutral-lightest;
      margin: 0;
      clear: both;
      border-top: solid 8px $tutor-neutral-lighter;
      border-bottom: solid 8px $tutor-neutral-lighter;
      padding: $tutor-note-padding;
      width: 100%;

      .exercise[data-type=exercise] .solution {
        // undo general hiding of solutions
        display: block;
      }
    }

    @include tutor-book-note-style();

    .grasp-check {
      margin: 0 0 71px 0;
      padding: $tutor-note-padding-vertical 0;
      border-top: solid 8px $tutor-secondary;
      border-bottom: none;

      &#{$has-data-label-selector}::before {
        margin: $book-content-note-without-background-margin;
      }
    }

    .book-content > .example,
    section > .example {
      &::before {
        content: "Worked Example";
      }

      &#{$feature-title-is-element} {
        // undo auto title. todo
        > #{$tutor-note-title-element} {
          display: none;
        }
      }
    }

    @include tutor-book-label-style() {
      @include tutor-sans-font($tutor-book-ui-top-height - 8px, $tutor-book-ui-top-height);
      font-weight: 900;
      padding: 0 40px 0 40px;
      display: inline-block;
    };

    &:not([data-tutor-transform]) {
      position: relative;
      top: $tutor-book-ui-top-height + 8px;
      margin-bottom: $tutor-book-ui-top-height * 2 + 8px;
      @include tutor-book-label-style() {
        display: block;
        position: absolute;
        top: -1 * $tutor-book-ui-top-height - 8px;
        height: $tutor-book-ui-top-height;
        left: 0;
        right: 0;
      };
    }

    &#{$has-data-label-selector}::before {
      content: attr(data-label);
    }
  }

}

@mixin tutor-book-theme-notes($background, $text-color) {
  #{$tutor-book-note-selector} {
    @include tutor-book-label-style() {
      color: $text-color;
      background-color: $background;
    }
  }
}
