@has-data-label-selector: ~'[data-label]:not([data-label=""])';

.tutor-book-note-style() {
  // add a title pseudo element if a data-label attribute is present
  &@{has-data-label-selector} {
    .tutor-book-label();
  }

  :last-child:not(.embed-responsive) {
    padding-bottom: 0;
  }

  .title {
    #fonts > .sans(2.4rem, 3.2rem);
    font-weight: 900;
    clear: both;
  }

  p,
  ul,
  li {
    #fonts > .sans(1.8rem, 1.75em);
    margin: 0 0  1.5rem 0;
    color: @tutor-neutral-dark;
  }
  li {
    padding: 5px 0;
  }
  .problem {
    clear: both;
  }
  .solution,
  .commentary {
    clear: both;

    [data-type=title] {
      #fonts > .sans(1.8rem, 1.75em);
      font-weight: bold;
    }
  }
}

.tutor-book-label(@content: attr(data-label)) {
  &::before {
    content: @content;

    position: absolute;
    #fonts > .sans(@tutor-book-ui-top-height - 18px, @tutor-book-ui-top-height);
    font-weight: 900;
    padding: 0 40px;
    height: @tutor-book-ui-top-height;
    display: inline-block;
    margin: @book-content-note-with-background-margin;
  }
}

@tutor-empty-rules: {};

.tutor-style-note-variants(@all-note-rules: @tutor-empty-rules; @except-teacher-rules: @tutor-empty-rules) {
  > .note,
  section > section > .note,
  > section > .note:not(.learning-objectives),

  .grasp-check,

  > [data-element-type="check-understanding"],
  section > [data-element-type="check-understanding"],

  > .example,
  section > .example {
    @all-note-rules();

    &:not(.os-teacher) {
      @except-teacher-rules();
    }
  }
}

.tutor-make-notes() {
  .tutor-style-note-variants(@all-note-rules: {
    background: @tutor-neutral-lightest;
    margin: 38px 0 32px 0;
    clear: both;
    border-top: solid 8px @tutor-neutral-lighter;
    border-bottom: solid 8px @tutor-neutral-lighter;
    padding: @tutor-note-padding;
    width: 100%;

    .tutor-book-note-style();

  }; @except-teacher-rules: {
      display: inline-block;
  });

  // .grasp-check specific styles
  .grasp-check {
    margin: 68px 0 32px 0;
    padding: @tutor-note-padding-vertical 0;
    border-top: solid 8px @tutor-secondary;
    border-bottom: none;

    &@{has-data-label-selector}::before {
      margin: @book-content-note-without-background-margin;
    }
  }

  // .example, check-understanding content currently lacks a data-label attribute
  > .example,
  section > .example {
    .tutor-book-label("Worked Example");
  }

  > [data-element-type="check-understanding"],
  section > [data-element-type="check-understanding"] {
    .tutor-book-label("Check Your Understanding");
    [data-type="title"] {display: none;}
  }

  // Any other notes missing `[data-label]` should have their content defined here.
  //
  // Also, their selectors should be appended to the selectors in
  // `.tutor-style-note-variants` so that all places where notes are being styled,
  // the non-`[data-label]`led notes will also be affected like a fully featured note.
}

.tutor-book-reading-note() {
  // tutor-book-reading specific modifications
  // unsure as to why they do no have all the same selectors
  // as main notes section currently.  will check, but would like to just use
  // `.tutor-style-note-variants` for all modifications.
  > .note,
  section > section > .note,
  > section > .note:not(.learning-objectives):not(.tips-for-success),

  > [data-element-type="check-understanding"],

  > .example {

    background: none;
    &::before {
      margin: @book-content-note-without-background-margin;
    }

  }

  > [data-element-type="check-understanding"],

  > .example {

    padding: 20px 0;
    .embed-responsive {
      iframe {
        width: 100%;
      }
    }

  }
}

.tutor-book-reading-titles(){
  section > h1 {
    clear: both;
  }
}
