.question {
  &:before {
    counter-increment: question;
    content: counter(question) ". ";
    display: block;
    float: left;
    width: 4%;
  }
  .question-stem {
    float: left;
    width: 96%;
    img { display: block; }
  }
}
.answers-answer {
  clear: both;
  margin-left: 30px;
}
