%tutor-book-content-questions {

  section {
    counter-reset: question;
  }

  .os-equation-number {
    float: left;
    font-size: 1.75rem;
    font-weight: bolder;
    margin-top: 0.8Rem;
    margin-right: 1rem;
  }

  @mixin question-number {
    counter-increment: question;
    content: counter(question) ". ";
    display: block;
    float: left;
    width: 4%;
  };

  [data-type=problem] {
    > .os-number {
      position: absolute;
      position: absolute;
      left: -25px;
      top: -0.1rem;
      font-weight: bold;
      font-size: 2rem;
      & + .os-divider {
        display: none;
      }
    }
  }

  .exercise,
  [data-type=exercise] {
    @include tutor-serif-font(1.75rem, 190%);
    position: relative;

    &:not(.unnumbered) {
      > [data-type=problem] {
        > p {
          margin: 0;

          &::before {
            @include question-number();
          }
        }

        // make fully imported questions imitate embedded exercises
        // If the list follows something else in the problem,
        // kinda assume it is most likely multiple-choices.
        > ol:not(:first-child) {
          counter-reset: lowerAlpha;
          list-style: none;
          padding-left: 3rem;

          li {
            counter-increment: lowerAlpha;
            padding-top: 1.5rem;
            color: $openstax-answer-label-color;

            &::before {
              content: counter(lowerAlpha, lower-alpha);
              @include answer-bubble();
              line-height: 4rem;
              display: inline-block;
              text-align: center;
              margin-right: 1rem;
            }
          }
        }
        .answer-letter {
          background-color: $openstax-white;
        }
      }
    }

    &[data-element-type$=quiz] {
      > [data-type=problem] + [data-type=solution] {
        display: none;
      }
    }
  }

  .openstax-question {
    @include tutor-tables($tutor-white, $tutor-white);

    &::before {
      @include question-number();
    }

    .question-stem {
      float: left;
      width: 96%;
      img { display: block; }

      p::before {
        display: none;
      }
    }

    .answers-answer {
      clear: both;
      margin-left: 30px;

      ol, ul {
        font-size: inherit;
      }
    }
  }
}
