@mixin tutor-book-content-question-number() {
  counter-increment: question;
  content: counter(question) ". ";
  display: block;
  float: left;
  width: 4%;
};

@mixin tutor-book-content-questions() {

  section {
    counter-reset: question;
  }


  [data-type=problem] {
    position: relative;
    > .os-number,
    > .os-divider {
      position: absolute;
      right: calc(100% + 10px);
      top: -0.1rem;
      font-weight: bold;
      font-size: 2rem;
    }
    > .os-number {
      right: calc(100% + 15px);
    }
    > .os-divider {
      right: calc(100% + 8px);
    }
  }

  .exercise,
  [data-type=exercise] {
    padding-left: 40px;

    &:not(.unnumbered) {
      > [data-type=problem] {
        > p {
          margin: 0;

          &::before {
            @include tutor-book-content-question-number();
          }
        }

        // make fully imported questions imitate embedded exercises
        // If the list follows something else in the problem,
        // kinda assume it is most likely multiple-choices.
        > ol:not(:first-child) {
          counter-reset: lowerAlpha;
          list-style: none;
          padding-left: 3rem;

          li {
            counter-increment: lowerAlpha;
            padding-top: 1.5rem;
            color: $openstax-answer-label-color;

            &::before {
              content: counter(lowerAlpha, lower-alpha);
              @include answer-bubble();
              line-height: 4rem;
              display: inline-block;
              text-align: center;
              margin-right: 1rem;
            }
          }
        }
        .answer-letter {
          background-color: $openstax-white;
        }
      }
    }

    &[data-element-type$=quiz] {
      > [data-type=problem] + [data-type=solution] {
        display: none;
      }
    }
  }

  .openstax-question {
    @include tutor-tables($tutor-white, $tutor-white);

    &::before {
      @include tutor-book-content-question-number();
    }

    .question-stem {
      float: left;
      width: 96%;
      img { display: block; }

      p::before {
        display: none;
      }
    }

    .answers-answer {
      clear: both;
      margin-left: 30px;

      ol, ul {
        font-size: inherit;
      }
    }
  }
}
