// alias to book specific variables here

// colors
// aliases
@tutor-book-primary: @openstax-primary;  // orange
@tutor-book-secondary: @openstax-secondary;  // green
@tutor-book-tertiary: @openstax-tertiary;  // dark blue
@tutor-book-quaternary: @openstax-quaternary;  // yellow
@tutor-book-highlight: @openstax-highlight;  // pale yellow
@tutor-book-accent: lighten(@openstax-primary, 5%);  // orange

// book specific
@tutor-book-text-on-dark-labels: @openstax-white;
@tutor-book-splash-overlay: @openstax-tertiary;
@tutor-book-splash-text: @tutor-book-text-on-dark-labels;

// dimensions and such
@tutor-book-padding-horizontal: @tutor-card-body-padding-horizontal;
@tutor-book-padding-vertical: @tutor-card-body-padding-vertical;
@tutor-book-ui-top-height: 40px;
@reading-ui-banner-height: @tutor-book-ui-top-height;

@book-content-note-with-background-margin: -68px 0 0 -40px;
@book-content-note-without-background-margin: -68px 0 0 0;
