@import '../screen-styles';
// Component Styling

$calendar-sidebar-width: 250px;

@keyframes tutor-plan-publishing {
    0% {opacity: 0.5;}
   75% {opacity: 1;}
  100% {opacity: 0.5;}
}

// taken from http://cloudcannon.com/deconstructions/2014/11/15/facebook-content-placeholder-deconstruction.html
@keyframes placeHolderShimmer{
  0%{
    background-position: -348px 0
  }
  100%{
    background-position: 348px 0
  }
}

@mixin is-progressing-background() {
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right,
    fade_out($openstax-neutral-lighter, 0.4) 8%,
    fade_out($tutor-neutral-light, 0.4) 18%,
    fade_out($openstax-neutral-lighter, 0.4) 40%
  );
  background-size: 600px 104px;
}

@import './styles/add';
@import './styles/month';
@import './styles/header';
@import './styles/plan';
@import './styles/sidebar';
@import './styles/plan-details';

.tutor-app.calendar-by-date  {
  background-color: white;
}

.calendar-container {
  $sidebar-animation-duration: 0.5s;
  margin-top: 20px;
  width: 100%;
  .calendar-body {
    position: relative;
    overflow: hidden;
  }

  .dayz .body {
    min-height: 500px;
  }

  .sidebar-toggle {
    transition: background-color $sidebar-animation-duration;
  }
  .month-body {
    transition: margin-left $sidebar-animation-duration;
    margin-left: 0px;
  }

  &.with-sidebar-open .month-body {
    margin-left: $calendar-sidebar-width;
  }

  .add-assignment-sidebar {
    transition: left $sidebar-animation-duration;
    left: -$calendar-sidebar-width;
  }

  &.with-sidebar-open .add-assignment-sidebar {
    left: 0px;
  }

}
