.alert {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border-width: 2px;
  font-size: 14px;
  line-height: 20px;
  > * {
    margin: 0;
  }
  &.alert-warning {
    border-color: os-color(gold);
    color: text-color(button-bar);
    .ox-icon {
      color: os-color(gold);
      font-size: 3rem;
      margin-right: 1rem;
    }
  }
}
