$default-border: rgba(66,66,66,.1);
$default-background: rgba(245,245,245,.4);
$default-background-hover: rgba(255,255,255,.8);
$primary-background: #f47642;
$primary-background-hover: #fa804d;
$form-action-background: #fff;
$form-action-color: #5e6062;
$form-action-border: #d5d5d5;

.btn + .btn { margin-left: 0.5rem; }

.btn-ox {
  color: $tutor-gray;
}

@mixin btn-round() {
  font-size: 1.6rem;
  transition: box-shadow 0.2s, background 0.2s;
  border-radius: 2px;
  &:hover,
  &:focus {
    @include tutor-shadow(button);
  }
}

@mixin btn-tutor-default() {
  color: #424242;
  background: $default-background;
  border: 1px solid $default-border;
  &:hover,
  &:focus {
    background: $default-background-hover;
  }

  &:disabled {
    font-weight: 800;
    background: $openstax-neutral-light;
    border-color: $openstax-neutral-light;
    color: $openstax-neutral;
  }
}

@mixin btn-tutor-primary() {
  color: $tutor-white;
  font-weight: 600;
  border: 1px solid $tutor-primary;
  background: $primary-background;

  &:hover,
  &:focus {
    background: $primary-background-hover;
  }

  &:active,
  &:focus {

    &.dropdown-toggle {
      padding: 15px 0;
      color: $tutor-neutral-dark;
      text-align: left;
      border: 1px solid $tutor-neutral-light;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: white;
      box-shadow: none;
    }

  }

  &:disabled {
    background: transparent;
    color: $tutor-primary;
  }
}



.btn {
  &:not(.btn-link){
    @include btn-round();
  }
  // padding: 9px 18px;

  > .ox-icon {
    margin: 0 0.5rem;
  }

  &.btn-plain {
    padding: 0;
    background: transparent;
  }

  &.btn-practice {
    color: #424242;
    background: rgba(245, 245, 245, 0.4);
    border: 1px solid rgba(66, 66, 66, 0.1);
    &:hover {
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &.btn-default {
    color: $tutor-neutral-darker;
    background: $tutor-neutral-cool;
    border: 1px solid $tutor-neutral-light;
    &:hover {
      color: darken($tutor-neutral-darker, 15%);
    }
  }

  &.btn-primary {
    @include btn-tutor-primary();
  }

  &.dark {
    color: white;
    background: $tutor-neutral;
    border: 1px solid $tutor-neutral-dark;
    &:hover,
    &:focus {
      background: $tutor-neutral-dark;
      border: 1px solid $tutor-neutral-darker;
    }
  }
  &.active {
    background-color: $tutor-neutral-light;
    box-shadow: none;
    &:hover, &:focus {
      background-color: $tutor-neutral-light;
    }
  }
}

.input-group {
  > .btn:last-child:not(:first-child),
  > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }


  .btn-primary:disabled {
    margin: 0;
    border-width: 1px;
  }
}

.btn.btn-form-action {
  &:not(.btn-primary) {
    background: $form-action-background;
    color: $form-action-color;
    border: 1px solid $form-action-border;
  }

  height: 4.8rem;
  min-width: 12rem;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
