.required-hint.hint {
  display: none;
}

.form-note {
  color: @openstax-neutral;
  font-size: 1.4rem;
  font-style: italic;
}

textarea {
  border: 1px solid @openstax-neutral;
  &:focus {
    border: 1px solid @openstax-tertiary-light;
    box-shadow: 0 0 10px fade(@openstax-tertiary-light, 25%);
  }
}

// match size of add-on buttons set in global/buttons
.form-group .input-group {
  input[type=text],
  input[type=number] {
    padding: 20px 8px;
    font-size: 1.6rem;
  }
}
button i.fa { margin-right: 0.5rem; }
