// This file is part of the book-content mixin and should not be included directly
[data-alt='QR Code representing a URL'] {
  display: none;
}

.reading-color-bg  { background-color: @reading-color; }
.homework-color-bg { background-color: @homework-color; }
