// This file is part of the book-content mixin and should not be included directly
[data-alt='QR Code representing a URL'] {
  display: none;
}

a:not(.disabled) { cursor: pointer; }

blockquote {
  padding-left: 2rem;
  border-left: 0.5rem solid $tutor-neutral;
}
