.openstax-notifications-bar {

  .email {
    // input styles to override material-design styles
    input {
      background-color: white;
      border-radius: $border-radius-lg;
      padding-left: 1rem;
      color: $tutor-neutral;
      &.form-control {
        background-image: inherit;
      }
    }
  }

  .notification {
    @media (max-width: $tablet-collapse-breakpoint), (max-width: $mobile-collapse-breakpoint) {
      font-size: 1.4rem;
      font-weight: 500;
      min-height: 40px;
      height: auto;
      justify-content: space-between;

      .content {
        flex-direction: column;
      }

      .ox-icon {
        height: 2rem;
        margin-right: 0.25rem;
        display: flex;
        align-items: center;
      }
      .dismiss {
        margin-right: 0;
      }
      .action {
        font-size: 1.4rem;
        padding: 4px 8px;
        height: 32px;
        white-space: nowrap;
      }

      .desktop-text {
        display: none;
      }
      .mobile-text {
        display: inline;
      }
      .error {
        margin: 8px 0;
        flex: 1;
        .body {
          flex: initial;
        }
      }
    }

    @media (max-width: $tablet-collapse-breakpoint) {
      padding: 8px 24px;
    }

    @media (max-width: $mobile-collapse-breakpoint) {
      padding: 8px 16px;
      .dismiss {
        margin-right: -1px;
      }
      .error {
        .body {
          justify-content: flex-start;
          margin-left: 0.75rem;
        }
      }

      .content {
        justify-content: center;
      }

      .body {
        &.verify {
          margin: 5px 10px 5px 0;
        }
        .message {
          text-align: left;
          margin-left: 0.75rem;
        }
      }
      &.email input {
        width: 7rem;
        padding-left: 0.45rem;
      }
    }
  }
}
