.openstax-notifications-bar {

  .email {
    // input styles to override material-design styles
    input {
      background-color: @openstax-white;
      border-radius: @border-radius-large;
      padding-left: 1rem;
      color: @openstax-neutral;
      &.form-control {
        background-image: inherit;
      }
    }
  }

}
