// This is largely taken from bootstrap since they do not provide a mixin for popovers
$popover-title-bg: $tutor-white;
$popover-border-color: transparent;
$popover-arrow-color: $tutor-white;
$popover-arrow-outer-fallback-color: $tutor-neutral-light;
$popover-arrow-outer-color: $tutor-neutral-light;
$popover-background: $tutor-white;

.popover-title {
   @include tutor-sans-font(1.75rem, 1.75rem);
}

.popover {
  padding: 0;
   @include tutor-sans-font(1.25rem, 1.5rem);
  background: $popover-background;
  color: $tutor-neutral-darker;
  // override border and arrow styles imposed by material design
  border: 1px solid $popover-border-color;
  .arrow { display: block; }
  @include tutor-shadow(2);
}
