.tooltip {
  .tooltip-inner {
    text-align: left;
    color: $tutor-neutral-darker;
    @include tutor-shadow(2);
  }
  .tooltip-arrow { display: block; }
}

.popover-header {
  @include tutor-sans-font(1.75rem, 1.75rem);
}

.tooltip#mpq-practice-question-tooltip {
  .arrow {
    left: 1px;
  }
  .tooltip-inner {
    padding: 5px 10px;
    width: 75%;
    font-size: 1.2rem;
  }
}
