@import "../screen-styles";
@import "./styles/student-access";

.tutor-app.course-settings {
  background-color: white;
}

.course-page {
  &.settings {
    .course-settings-title {
      @include tutor-main-title-font();
    }
    .course-settings-subtitle {
      @include tutor-main-subtitle-font();
      padding-bottom: 15px;
    }
    .body {
      font-size: 16px;
      line-height: 24px;
      padding-top: 40px;
    }
  }

  &.settings {
    .tutor-tabs {
      margin-left: -$tutor-tabs-horizontal-padding;
      max-width: 670px + $tutor-tabs-horizontal-padding;
      margin-bottom: 50px;
    }
    .dates-and-times {
      > div {
        display: flex;
        align-items: center;
        min-height: 35px;
      }
    }
  }

  .control {
    color: $tutor-blue-control;
  }

}
