@mixin performance-forecast-key() {
  display: flex;
  justify-content: space-around;
  .item {
    display: flex;
    align-items: center;
    @include performance-forecast-colors();
    .progress-bar {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
    .title {
      @include tutor-sans-font(1.2rem, 1.2rem);
      font-weight: 300;
      font-style: italic;
    }
    &+.item {
      .progress-bar {
        margin-left: 15px;
      }
    }
  }
}
