.performance-forecast {

  @include media-breakpoint-down('md') {
    .weaker .explanation {
      p {
        display: inline;
        & + p { margin-left: 1rem; }
      }
      margin-bottom: 1rem;
    }
  }

  .chapter-panel {
    // use flex display unless the columns should collapse
    // this allows the height of the colums to match so the
    // border will extend the complete height
    @include media-breakpoint-up('md') {
      display: flex;
    }

    .chapter {

      @extend .col-md-4;
      @extend .col-lg-3;

      min-height: 7rem;
      // when the screen is the "sm" size the chapter panel needs to be 100% width so it expands above the sections.
      // But the bar shouldn't be any longer than the sections bars.
      @include media-breakpoint-down('sm') {
        > button,
        > .progress {
          width: calc(50% - #{$grid-gutter-width / 2});
        }
      }


      @include media-breakpoint-down('md') {
        border-right: 1px solid $tutor-neutral-neutral-light;
      }
      @include media-breakpoint-up('md') {
        border-right: 0px;
        border-bottom: 1px solid $tutor-neutral-neutral-light;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
      }
    }
    .sections {
      @extend .col-md-8;
      @extend .col-lg-9;

      // no gutter when the .section is collapsed, otherwise the padding is also applied on the .sections
      //@include make-xs-column(12, $gutter: 0px);
      @include media-breakpoint-down('xs') {
          margin-right: 0;
          margin-left: 0;
      }
      .section {

        @extend .col-sm-6;
        @extend .col-lg-4;

        min-height: 5.5rem;
      }
    }
  }

}
