.task-step {

  .reading-step {
    position: relative;

    @media print {
      padding: 0;
    }
    &:focus {
      outline: 0;
    }
    ul {
    	list-style-type: none;
    	> li {
	    	&:before {
	        content: "";

	        width: .4em;
	        height: .4em;
	        background-color: $tutor-secondary;
	        float: left;
	        margin: .75em -.8em 0;
	        border-radius: 50%;
	      }
	    }
    }
  }
}

@import './reading/completed';
