.task-step .video-step {

  .size-task-step-card();

  .video-content > .note:first-child .title{
    display: none;
  }

  .splash-video {
    width: 100%;
  }

  .ost-video {
    iframe {
      display: block;
      width:  @tutor-video-iframe-width;
      height: @tutor-video-iframe-height;
    }
  }
}

