.task-step .video-step {

  // TODO check about this
  .note .title:first-child {
    display: none;
  }

  .splash-video {
    width: 100%;
  }

  .ost-video {
    iframe {
      display: block;
      width:  $tutor-video-iframe-width;
      height: $tutor-video-iframe-height;
    }
  }
}

