.corner-ribbon {
  position: relative;
  overflow: hidden;

  .corner-ribbon-content {

    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    min-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Custom styles */

    // bootstrap already sets this but we will also
    &.hidden { display: none; }

    &.fixed {
      position: fixed;
    }

    &.shadow{
      box-shadow: 0 0 3px rgba(0,0,0,.3);
    }

    /* Different positions */

    &.top-left{
      top: 25px;
      left: -50px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &.top-right{
      top: 25px;
      right: -50px;
      left: auto;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    &.bottom-left{
      top: auto;
      bottom: 25px;
      left: -50px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    &.bottom-right{
      top: auto;
      right: -50px;
      bottom: 25px;
      left: auto;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    /* Colors */

    &.white{background: #f0f0f0; color: #555;}
    &.black{background: #333;}
    &.grey{background: #999;}
    &.blue{background: #39d;}
    &.green{background: #2c7;}
    &.turquoise{background: #1b9;}
    &.purple{background: #95b;}
    &.red{background: #e43;}
    &.orange{background: #e82;}
    &.yellow{background: #ec0;}
  }

}
