.toast-notification {
  position: fixed;
  z-index: $zindex-modal + 1;
  min-height: 50px;
  right: 20px;
  top: 85px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  max-width: 280px;

  .title {
    padding: 10px;
    font-weight: bold;
    background-color: #e0edd3;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .body {
    padding: 10px;
  }

  .success {
    .title{
      color: #629030;
    }
  }

  .neutral {
    .title {
      color: $openstax-neutral-darker;
      background-color: $openstax-neutral-lighter;
    }
  }

  .failure {
    .title {
      color: #C22032;
      background-color: #f5e9ea;
      .openstax-icon[type="close"] {
        color: $openstax-neutral-dark;
        margin-left: 2rem;
        align-self: flex-start;
      }
    }
    .body {
      button {
        padding-left: 0;
        font-size: 16px;
      }
    }
  }

}
