.overall-average {
  flex: 1;
  border-top-width: 0;

  font-weight: normal;
  border-bottom: 0;
  > * {
    justify-content: center;
    text-align: center;
  }

  > .overall-header-cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $scores-student-header-bg-color;
    border-top-color: $tutor-neutral;
    border-top-width: 5px;
    border-top-style: solid;

    .tutor-icon {
      position: absolute;
      top: 5px;
      right: 5px;

      &.averages-toggle {
        position: absolute;
        top: 6px;
        right: -22px;
        background-color: white;
        height: 42px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;

        border-right: 1px solid $tutor-neutral-light;
        border-top: 1px solid $tutor-neutral-light;
        border-bottom: 1px solid $tutor-neutral-light;

        &::before {
          color: $tutor-neutral;
        }

        &:hover {
          background-color: $tutor-neutral-cool;
        }
      }
    }

    span {
      line-height: 16px;
      margin-bottom: 4px;
    }
    .avg {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding-bottom: 5px;
      .set-weights {
        white-space: nowrap;
        font-size: 1.4rem;
      }
    }
  }

  .set-weights {
    visibility: hidden;
  }
  &.is-expanded {
    .set-weights {
      visibility: visible;
    }
  }


  .header-row {
    border-width: 2px;
    border-bottom: 0;

    &.labels.types {
      background: $scores-student-header-bg-color;
      border-top: 0;
    }
  }

  .labels,
  .values
  {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    > * {
      min-width: $scores-overall-values-width;
      flex-basis: $scores-overall-values-width;
      display: flex;
      justify-content: space-around;
      border-right: $scores-thin-grey-border;
    }
    .homework,
    .reading {
      min-width: $scores-overall-values-width * 2;
      flex-basis: $scores-overall-values-width * 2;
    }

  }
  .labels {
    font-size: 1.4rem;
    align-items: flex-end;
    > * {
      line-height: $scores-row-height / 2;
    }
    border-top: 0;
  }
}

.overall-cell {
  > * {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    height: 100%;
    * {
      height: 100%;
    }
  }
  .public_fixedDataTableCell_cellContent {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    > * {
      border-right: $scores-thin-grey-border;
    }
    * {
      flex: 1;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .course {
      min-width: $scores-overall-values-width;
      flex-basis: $scores-overall-values-width;
      text-align: center;
    }
    .homework,
    .reading {
      min-width: $scores-overall-values-width * 2;
      flex-basis: $scores-overall-values-width * 2;
    }
  }
}
