.overall-average {
  flex: 1;
  @include overall-border-style();
  background: $tutor-info-bg;
  font-weight: normal;
  border-bottom: 0;
  > * {
    justify-content: center;
    text-align: center;
  }

  > .overall-header-cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $tutor-neutral-light;

    .tutor-icon {
      position: absolute;
      top: 5px;
      right: 5px;

      &.averages-toggle {
        position: absolute;
        top: 6px;
        right: -15px;
        background-color: white;
        height: 30px;
        width: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        &::before {
          color: $tutor-neutral;
        }
      }
    }

    span {
      line-height: 16px;
      margin-bottom: 4px;
    }
    .avg {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5px;
      .set-weights {
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }

  .set-weights {
    visibility: hidden;
  }
  &.is-expanded {
    .set-weights {
      visibility: visible;
    }
  }


  .header-row {
    border-width: 2px;
    border-top: $scores-thick-grey-border;
    border-bottom: 0;
    &.labels.types {
      font-size: 1.2rem;
      background: $scores-student-header-bg-color;
      border-top: 0;
    }
  }

  .labels,
  .values
  {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    > * {
      min-width: $scores-overall-values-width;
      flex-basis: $scores-overall-values-width;
      display: flex;
      justify-content: space-around;
    }
    .homework,
    .reading {
      min-width: $scores-overall-values-width * 2;
      flex-basis: $scores-overall-values-width * 2;
    }

  }
  .labels {
    align-items: flex-end;
    > * {
      line-height: $scores-row-height / 2;
    }
    border-top: 0;
  }
}

.overall-cell {
  > * {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
  }
  .public_fixedDataTableCell_cellContent {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    .course {
      min-width: $scores-overall-values-width;
      flex-basis: $scores-overall-values-width;
      text-align: center;
    }
    .homework,
    .reading {
      min-width: $scores-overall-values-width * 2;
      flex-basis: $scores-overall-values-width * 2;
      display: flex;
      > * {
        flex: 1;
        text-align: center;
      }
    }
  }
}
