$pie-color-late: #268FBE;
$pie-color-due: #268FBE;
$scores-dropped-student-opacity: 0.65;

.course-average-help {
  h3 {
    margin: 0;
    border-bottom: 1px solid $tutor-neutral-light;
  }
  p {
     @include tutor-sans-font(1.3rem, 2rem);
    margin: 10px 0;
  }
  .no-reading-heading {
    margin-top: 20px;
    font-weight: bolder;
  }
}

.body-wrapper {
  padding-top: 0;
}

.course-scores-report {

  $pie-color: lighten($tutor-neutral,10%);
  $pie-bg-color: lighten($tutor-neutral,40%);
  $pie-color-hover: #0DC0DC;
  $finished-icon-size: 24px;

  .tutor-tabs {
    border-bottom: 1px solid $tutor-neutral-light;
    margin-bottom: 40px;

    > .nav-tabs li a {
      text-transform: none;

      span.tab-item-period-name {
        font-size: 16px;
      }
    }
  }

  // override the display:table
  // otherwise firefox will render with minimal height
  .fixedDataTableCellLayout_wrap1,
  .fixedDataTableCellLayout_wrap2,
  .fixedDataTableCellLayout_wrap2 {
    display: flex;
  }

  .public_fixedDataTable_hasBottomBorder {
    &.first-dropped-student {
      border-top: 2px solid $tutor-neutral-light;
    }
  }

  .course-scores-table {
    &:focus {
      outline: 0
    }
  }

  .overall-cell {
    height: 100%;
    border-width: 0 2px 0 2px;
    &.is-dropped {
      opacity: $scores-dropped-student-opacity;
    }
  }

  .status-cell,
  .assignment-header-cell {
    width: 100%;
  }

  .status-cell {
    text-decoration: none;
    &.task-result {
      text-align: center;
    }
  }

  i.late {
    padding-left:8px;
  }

  .public_fixedDataTable_header,
  .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background: $tutor-white;
  }

  .ScrollbarLayout_mainHorizontal {
    &.public_Scrollbar_main.public_Scrollbar_mainActive,
    &.public_Scrollbar_main {
      background: transparent;
    }
  }

  .public_fixedDataTable_header,
  .public_fixedDataTable_hasBottomBorder {
    border: none;
  }

  .public_fixedDataTableRow_fixedColumnsDivider {
    border: none;
  }

  .public_fixedDataTable_hasBottomBorder {
    border-bottom: $scores-table-outer-border-width solid $scores-table-outer-border-color;
  }

  .external-cell,
  .overall-cell {
    align-items: center;
    justify-content: center;
  }

  // .external-cell {
  //   border-right: $scores-thin-grey-border;
  // }
  .scores-cell,
  .external-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    & > *:not(.late-caret-trigger) { height: 100%; }
    &.highlighted {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        // border: $scores-thick-grey-border;
        border-left-width: 1px;
      }
      > .late-caret-trigger { z-index: 1; }
    }

    // includes split cells

    & > *:not(.late-caret-trigger) {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a.not-complete {
      text-decoration: none;
    }
    .not-started {
      color: $tutor-black;
      cursor: default;
    }
    .worked {
      svg { overflow: visible; }
      .finished {
        width: $finished-icon-size;
        fill: $tutor-secondary;
      }
      &:hover .finished {
        fill: $pie-color-hover;
      }
      .pie-progress {
        path {
          fill: $tutor-neutral;
        }
        #q4 circle {
          fill: $tutor-neutral;
        }
        &.due {
          path {
            fill: $pie-color-due;
          }
          #q4 circle {
            fill: $pie-color-due;
          }
        }
        &:hover path {
          fill: $pie-color-hover;
        }
        .dividers rect {
          fill: $tutor-white;
        }
        .backdrop {
          fill: $pie-bg-color;
          mask: url(#dividers);
        }
      }
      .trigger-wrap {
        padding: 10px;
      }
    }
    .score {
      @include tutor-scores-cells-font();
      position: relative;
    }
    .late-caret-trigger {
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 0px;
      width: 50%;
      .late-caret {
        position: absolute;
        cursor: pointer;
        top: 0px;
        right: 0px;
        width: 0;
        border-style: solid;
        border-width: 0 15px 15px 0;
        border-color: transparent $tutor-primary transparent transparent;
        transition: border-width 0.2s ease-in-out;
        &.accepted {
          border-color: transparent lighten($tutor-neutral, 25%) transparent transparent;
        }
      }
      &:hover {
        .late-caret {
          border-width: 0 30px 30px 0;
        }
      }
    }

    &.is-dropped {
      opacity: $scores-dropped-student-opacity;
    }
  }

  .name-cell-wrapper {
    height: 100%;

    .name-cell {
      border-left: $scores-table-outer-border-width solid $scores-table-outer-border-color;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 $scores-left-column-padding;
      > * {
        max-height: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .student-name {
        color: $tutor-neutral-darker;
        @include tutor-sans-font(1.6rem);
      }
      .student-id {
        @include tutor-sans-neutral-light-font(1.4rem);
      }
    }
    &.is-dropped {
      .name-cell .student-name {
        color: $tutor-neutral-lite;
      }
      .name-cell .student-id {
        color: $tutor-neutral-lite;
      }
    }
  }

  .no-students,
  .no-assignments {
    @include tutor-sans-font(1.5rem, 2.1rem);
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    width: 500px;
    p { text-align: center; }
    .btn {
      margin: 20px auto;
    }
  }

  .fixedDataTableCellGroupLayout_cellGroupWrapper:first-child {
    .fixedDataTableCellLayout_main {
      border-right: $scores-thick-grey-border;

      &:first-child > * > * {
        border-left: $scores-thick-grey-border;
      }
    }
  }

  .public_fixedDataTable_header {
    .fixedDataTableCellGroupLayout_cellGroupWrapper:first-child {
      .fixedDataTableCellLayout_main:first-child > * > *:first-child {
        border-top: $scores-thick-grey-border;
      }
    }
  }

  // needed for toggle control to be shown while shifted outside it's box
  .fixedDataTableCellGroupLayout_cellGroup {
    overflow: visible;


    .fixedDataTableCellLayout_main {
      overflow: visible;
    }
    .public_fixedDataTableCell_cellContent {
      padding: 0;
    }
  }
}

.scores-scores-tooltip-completed-info {
  .popover-body {
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
  .info {
    display:table;
    .row {
      display: table-row;
      &:nth-child(1) {
        background: darken($tutor-info-bg, 5%);
      }
      &:nth-child(2) {
        color: $tutor-neutral;
      }
      &:nth-child(3) {
        background: $tutor-neutral-lighter;
        color: $tutor-black;
      }
      div {
        font-weight: bold;
        width: 150px;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
      }
    }
  }

}

.late-work-info-popover {
  min-width: 315px;
  border-radius: 0;
  border: 1px solid $tutor-neutral-light;
  &.accepted {
    .popover-header {
      color: $tutor-black;
      background: $tutor-info-bg;
    }
    .popover-body {
      .status {
        padding-left: 0.5rem;
        color: $pie-color-late !important;
      }
    }
  }
  .popover-header {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    font-size: 1em;
    height: 30px;
    border-radius: 0;
    color: $tutor-white;
    background: $tutor-primary;
  }
  .popover-body {
    padding: 3px;

    .late-status {
      display: flex;
      flex-direction: row;

      .description {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          white-space: nowrap;
          margin: 0 5px 0 10px;
        }

        .status {
          margin: 0 10px 0 5px;
          color: $tutor-primary;
        }
      }
      .body {
        margin: 0 10px;
      }
      .late-button {
        flex: 1;
        margin: 3px;
        white-space: normal;
        text-transform: none !important;
        font-size: 1.1em !important;
      }
    }
  }

}

.scores-average-info-popover{
  .popover-header {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    font-size: 1em;
    height: 30px;
    border-radius: 0;
    color: $tutor-black;
    background: $tutor-info-bg;
  }

  .popover-body {
    text-align: left;
  }

}
