$pie-color-late: #268FBE;

.course-average-help {
  h3 {
    margin: 0;
    border-bottom: 1px solid $tutor-neutral-light;
  }
  p {
     @include tutor-sans-font(1.3rem, 2rem);
//    font-size: 16px;
//    line-height: 18px;
    margin: 10px 0;
  }
  .no-reading-heading {
    margin-top: 20px;
    font-weight: bolder;
  }
}

.course-scores-report {

  $pie-color: lighten($tutor-neutral,10%);
  $pie-bg-color: lighten($tutor-neutral,40%);
  $pie-color-hover: #0DC0DC;
  $finished-icon-size: 24px;


  .tutor-tabs {
    border-bottom: 0; // Prevent double border; report has a top border that meets the tabs bottom one
  }

  .course-scores-table {
    min-height: 70vh;
    &:focus {
      outline: 0
    }
  }

  .overall-cell {
    @include overall-border-style();
    height: 100%;
    border-width: 0 2px 0 2px;
  }

  .status-cell,
  .assignment-header-cell {
    width: 100%;
  }

  .status-cell {
    text-decoration: none;
    &.task-result {
      text-align: center;
    }
  }

  i.late {
    @include tutor-late-icon();
    padding-left:8px;
  }

  .public_fixedDataTable_header,
  .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background: $tutor-white;
  }

  .public_fixedDataTable_header,
  .public_fixedDataTable_hasBottomBorder {
    border: none;
  }

  .public_fixedDataTableRow_fixedColumnsDivider {
    border: none;
  }

  .public_fixedDataTable_hasBottomBorder {
    border-bottom: $scores-table-outer-border-width solid $scores-table-outer-border-color;
  }

  .external-cell,   .overall-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .external-cell {
    border-right: 1px solid $nav-tabs-border-color;
  }
  .scores-cell,
  .external-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    & > *:not(.late-caret-trigger) { height: 100%; }
    &.highlighted {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        border: $scores-thick-grey-border;
        border-left-width: 1px;
      }
      > .late-caret-trigger { z-index: 1; }
    }

    // includes split cells
    & > *:not(.late-caret-trigger) {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: 1px solid $nav-tabs-border-color;
    }

    a.not-complete {
      text-decoration: none;
    }
    .not-started {
      color: $tutor-black;
      cursor: default;
    }
    .worked {
      svg { overflow: visible; }
      .finished {
        width: $finished-icon-size;
        fill: $tutor-secondary;
      }
      &:hover .finished {
        fill: $pie-color-hover;
      }
      .pie-progress {
        .slice {
          fill: $pie-color;
          mask: url(#dividers);
          &.late {
            fill: $pie-color-late;
          }
        }
        &:hover .slice {
          fill: $pie-color-hover;
        }
        .dividers rect {
          fill: $tutor-white;
        }
        .backdrop {
          fill: $pie-bg-color;
          mask: url(#dividers);
        }
      }
      .trigger-wrap {
        padding: 10px;
      }
    }
    .score {
      @include tutor-scores-cells-font();
      position: relative;
    }
    .late-caret-trigger {
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 0px;
      width: 50%;
      .late-caret {
        position: absolute;
        cursor: pointer;
        top: 0px;
        right: 0px;
        width: 0;
        border-style: solid;
        border-width: 0 15px 15px 0;
        border-color: transparent $tutor-primary transparent transparent;
        transition: border-width 0.2s ease-in-out;
        &.accepted {
          border-color: transparent lighten($tutor-neutral, 25%) transparent transparent;
        }
      }
      &:hover {
        .late-caret {
          border-width: 0 30px 30px 0;
        }
      }
    }
  }

  .name-cell-wrapper {
    height: 100%;
    .name-cell {
      border-left: $scores-table-outer-border-width solid $scores-table-outer-border-color;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 $scores-left-column-padding;
      > * {
        max-height: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .student-name { color: $tutor-neutral-dark; }
      .student-id {
        font-size: 1.1rem;
        color: $tutor-neutral-lite;
      }
    }
  }

  .no-students,
  .no-assignments {
    @include tutor-sans-font(1.5rem, 2.1rem);
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    width: 500px;
    p { text-align: center; }
    .btn {
      margin: 20px auto;
    }
  }
}

.scores-scores-tooltip-completed-info {
  .popover-content {
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
  .info {
    display:table;
    .row {
      display: table-row;
      &:nth-child(1) {
        background: darken($tutor-info-bg, 5%);
      }
      &:nth-child(2) {
        color: $tutor-neutral;
      }
      &:nth-child(3) {
        background: $tutor-neutral-lighter;
        color: $tutor-black;
      }
      div {
        font-weight: bold;
        width: 150px;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
      }
    }
  }

}

.late-work-info-popover {
  height: 98px;
  min-width: 315px;
  border-radius: 0;
  border: 1px solid $tutor-neutral-light;
  &.accepted {
    .popover-title {
      color: $tutor-black;
      background: $tutor-info-bg;
    }
    .popover-content {
      .status {
        color: $pie-color-late !important;
      }
    }
  }
  &.additional {
    height: 130px;
  }
  .popover-title {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    font-size: 1em;
    height: 30px;
    border-radius: 0;
    color: $tutor-white;
    background: $tutor-primary;
  }
  .popover-content {
    padding: 3px;
    .late-status {
      height: 60px;
      .description {
        height: inherit;
        display: table;
        width: 48%;
        float: left;
        font-weight: bold;
      }

      .body {
        margin: 0 10px;
      }

      .title {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

      }
      .status {
        display: table-cell;
        vertical-align: middle;
        color: $tutor-primary;
        text-align: center;
      }
    }
    .late-button {
      padding-left: 2px !important;
      padding-right: 2px !important;
      width: 48%;
      text-transform: none !important;
      font-size: 1.1em !important;
      float: right;
    }
  }

}

.scores-average-info-popover{
  .popover-title {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    font-size: 1em;
    height: 30px;
    border-radius: 0;
    color: $tutor-black;
    background: $tutor-info-bg;
  }

  .popover-content {
    text-align: left;
  }

}
