.enroll-or-login {

  .enroll-choices {
    .flex-display();
    .flex-direction(column);

    button {
      color: @openstax-white;
    }
    .signup {
      border-bottom: 1px solid @openstax-neutral-medium;
      padding-bottom: 20px;
      margin-bottom: 20px;
      button {
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 40px;
      }
    }
    .login {
      button {
        background-color: @openstax-secondary;
        margin-left: 10px;
      }
    }
  }
}
