$milestone-active-indicator-height: 8px;
$milestone-bottom-margin: 50px;
$milestone-height: 250px;
$milestone-icon-size: 60px;

.task-view {
  .task-with-progress {
    .card {
      margin-top: 40px;

      @media print {
        margin: 0;
      }
    }
  }
}

.modal-dialog.task-milestones {
  @include tutor-modal-v2;

  .milestones {
    display: flex;
    flex-wrap: wrap;
  }
}

.milestone {
  position: relative;
  display: block;
  padding: 1.25rem;
  background: $tutor-white;
  height: $milestone-height;
  width: 100%;
  margin-bottom: $milestone-bottom-margin;
  @include tutor-shadow(1);

  font-family: 'Helvetica Neue';
  font-weight: normal;
  font-size: 14px;
  color: $openstax-neutral-dark;
  line-height: 20px;

  &.milestone-two-step-intro,
  &.milestone-spaced-practice-intro,
  &.milestone-personalized-intro {
    text-align: center;
    background-color: $openstax-blue;
    color: $tutor-white;
  }
  &.milestone-individual-review-intro,
  &.milestone-end {
    text-align: center;
  }
  .openstax-breadcrumbs-step {
    display: block;
    margin: auto;
    width: $milestone-icon-size;
    height: $milestone-icon-size;
    background: transparent;
    &::before {
      line-height: $milestone-icon-size;
      width: 100%;
      height: 100%;
    }

    .icon-lg {
      height: 100%;
      width: 100%;
      background-size: contain;
    }

    &:hover,
    &.active {
      @include scale(1.0);
      box-shadow: none;
    }

    &.breadcrumb-individual-review-intro .icon-lg {
      background-size: 50px; // icon is tall, shrink it so it matches
    }
  }

  &:hover {
    cursor: 'pointer'
  }

  &:hover,
  &:focus {
    @include tutor-shadow(2);
  }
  &.active {
    border-bottom: $milestone-active-indicator-height solid $tutor-success;
    height: $milestone-height + $milestone-active-indicator-height;
    margin-bottom: $milestone-bottom-margin - $milestone-active-indicator-height;
  }
}

.milestone-preview {
  display: block;
  max-height: 125px;
  overflow: hidden;

  padding: 0;
  margin-top: 20px;
  hyphens: auto;
  img {
    display: none;
  }
}
