html {
  height: 100%;
}

body {
  margin: 0;
  @media print {
    padding: 0;
  }
  // Stacked modals
  // blur out the previous modals, except the last one
  > div.modal.show:not(:last-child) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 100vw;
      height: 100vh;
  }
}

@import './global/typography';
@import './global/notifications-bar';
@import './global/forms';
@import './global/maths';
@import './global/card';
@import './global/links';
@import './global/buttons';
@import './global/progress-bars';
@import './global/tutor-booksplash-background';
@import './global/popover';
@import './global/tooltip';
@import './global/menus';
@import './global/misc';
@import './global/alerts';
