// shared openstax components
@import '../../../shared/resources/styles/main';

// Variables and Mixins
// TODO to many renamed variables running around.
@import './variables';
@import './mixins';
@import './variables/tutor-bootstrap';
@import './variables/tutor-material';

// External Libraries
@import './variables/paths';
@import './global/externals';
// @import '~recordo/recordo.css';


// App Global Styling
@import './global/scaffold';
@import './global/typography';
@import './global/notifications-bar';
@import './global/forms';
@import './global/maths';
@import './global/panel';
@import './global/links';
@import './global/buttons';
@import './global/progress-bars';
@import './global/tutor-booksplash-background';
@import './global/popover';
@import './global/tooltip';
@import './global/menus';
@import './global/misc';

@import './book-content/index';

// Component Styling
@import './components/course-page';
@import './components/branding/course';
@import './components/top-nav-bar';
@import './components/html';
@import './components/tabs';
@import './components/ox-fancy-loader';
@import './components/related-content-link';
@import './components/paging-navigation';
@import './components/pinned-header-footer-card';
@import './components/enrollment-student-id';
@import './components/dialog';
@import './components/tutor-input';
@import './components/media-preview';
@import './components/performance-forecast/index';
@import './components/my-courses';
@import './components/tutor-dialog';
@import './components/task-step/step-footer-mixin';
@import './components/task/index';
@import './components/task-step/index';
@import './components/task-teacher-review/index';
@import './components/task-step/all-steps';
@import './components/task-step/reading';
@import './components/task-plan/index';
@import './components/plan-stats';
@import './components/course-settings';
@import './components/course-roster';
@import './components/multi-select';
@import './components/sections-chooser';
@import './components/registration/index';
@import './components/exercises';
@import './components/questions-dashboard';
@import './components/tutor-input';
@import './components/book-menu';
@import './components/tri-state-checkbox';
@import './components/exercise-preview';
@import './components/assignment-links';
@import './components/icon';
@import './components/cc-student-redirect';
@import './components/new-course';
@import './components/course-title-banner';
@import './components/no-periods';
@import './components/copy-on-focus-input';
@import './components/invalid-page';
@import './components/tours';
@import './components/info-page';
@import './components/modals';
@import './components/payments';
@import './components/choices-listing';
@import './components/cc-dashboard/index';
@import './components/annotations/annotation';

body[data-js-error]::before {
  content: attr(data-js-error);
  font-size: 100px;
  color: red;
}
