@import './variables/colors';
@import './variables/book-content';
@import './variables/registration';

// TODO: Decide where best to organize this once more have accumulated
$tutor-task-width: 1000px;
$tutor-max-panel-width: 1200px;
$tutor-tabs-horizontal-padding: 15px;

$tutor-navbar-height: 60px;
$tutor-navbar-padding-x: 4rem;

$tutor-tab-height: 45px;

$tutor-panel-padding-vertical: 50px;
$tutor-card-body-padding-vertical: 20px;
$tutor-card-body-padding-horizontal: 140px;
$tutor-card-footer-line-height: 35px;
$tutor-card-body-padding: $tutor-card-body-padding-vertical $tutor-card-body-padding-horizontal;
$tutor-card-body-narrow-padding-horizontal: 20px;
$tutor-card-body-narrow-padding:
  $tutor-card-body-padding-vertical
  $tutor-card-body-narrow-padding-horizontal
  $tutor-card-body-padding-vertical
  90px;

$tutor-card-padding-collapse-breakpoint: 1020px;

$tutor-panel-narrow-padding-horizontal: 30px;

$tutor-panel-padding: $tutor-panel-padding-vertical $tutor-card-body-padding-horizontal;
$tutor-panel-collapse-breakpoint: 768px;
$tutor-panel-padding-collapsed: $tutor-panel-padding-vertical $tutor-panel-narrow-padding-horizontal;

$student-dashboard-row-height: 6rem;
$tutor-teacher-plan-stats-border-style: 1px dotted $tutor-neutral-light;

$tutor-video-iframe-width: 720px;
$tutor-video-iframe-height: 405px;
$tutor-interactive-iframe-width: 960px;
$tutor-interactive-iframe-height: 560px;

$tutor-note-padding-vertical: 20px;
$tutor-note-padding-horizontal: 40px;
$tutor-note-padding: $tutor-note-padding-vertical $tutor-note-padding-horizontal;

$tutor-correct-color: $tutor-success;
$tutor-correct-background: lighten(saturate($tutor-success, 60%), 38%);
$tutor-incorrect-color: $tutor-danger;
$tutor-incorrect-background: lighten($tutor-danger, 55%);
$tutor-answer-background: $tutor-info-bg;
$tutor-answer-color: $tutor-tertiary-neutral-light; // darker than hover

$task-plan-colors: (
  reading: $tutor-quaternary,
  homework: $tutor-tertiary-neutral-light,
  external: $tutor-tertiary,
  event: $tutor-secondary,
  failure: $tutor-danger,
  template: $tutor-white,
);

@function task-plan-color($plan-type) {
  @if map-has-key($task-plan-colors, $plan-type) {
    @return map-get($task-plan-colors, $plan-type);
  }
  @warn 'Unknown task-plan type: `#{$plan-type}`';
  @return null;
}

$reading-color: $tutor-quaternary;
$homework-color: $tutor-tertiary-neutral-light;
$qa-chapter-review-color:    darken($homework-color, 10%);
$qa-grasp-check-color: darken($tutor-primary,  10%);
$qa-test-prep-color: darken($homework-color,  10%);
$external-color: $tutor-tertiary;
$event-color: $tutor-secondary;
$extras-color: $tutor-primary;

//breakpoint:
$mobile-collapse-breakpoint: 600px;
$tablet-collapse-breakpoint: 999px;

//responsive margins
$mobile-margin: 8px;

// if these are updated, also change MENU_VISIBLE_BREAKPOINT
// in src/components/reference-book/reference-book.cjsx
$book-page-width: 1000px;
$book-menu-width: 300px;
$reference-book-collapse-width: 85%;

$book-content-narrow-horizontal-padding: 24px;
$book-content-vertical-image-margin: 1rem;

// height of large course banner at top of page
$cc-dashboard-banner-height: 120px;

// Async
$tutor-async-loading-timeout: 30s;
$tutor-async-loading-long-timeout: 120s;

$progress-bar-width: 100%;
$modal-padding: 3rem;

// $-webkit-keyframes tutorAsyncFadeIn { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
// $-moz-keyframes tutorAsyncFadeIn { from { opacity: 0; } to { opacity: 1; visibility: visible;} }

@keyframes tutorAsyncFadeIn { from { opacity: 0; } to { opacity: 1; visibility: visible; } }

// $-webkit-keyframes tutorAsyncFadeOut { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }
// $-moz-keyframes tutorAsyncFadeOut { from { opacity: 1; } to { opacity: 0; visibility: hidden;} }
@keyframes tutorAsyncFadeOut { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }
