@selected-exercise-background: #fdf6d1;
@hovered-exercise-background: rgba(241, 241, 241, 0.4);

table.exercise-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background: @tutor-tertiary;
    color: #fff;
    font-size: 1.8rem;
  }

  tbody {
    tr td {
      border: 1px solid @tutor-neutral-light;
      font-size: 1.2rem;

      &:first-child {
        border-left: 0px;
      }

      &:last-child {
        border-right: 0px;
      }
    }

    tr:nth-child(even) {
      background: white;
    }

    tr:nth-child(odd) {
      background: @tutor-neutral-bright;
    }
  }

  td.exercise-number {
    color: @tutor-primary;
    font-size: 1.8rem;
    text-align: center;
  }

  td.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }

  td {
    padding: 5px;
  }
}

label.exercises-section-label {
  font-size: 2.8rem;
}

.exercise.card {
  position: relative;

  // Selected card
  &.panel-info {
    background-color: rgb(253, 246, 209);
  }

  .panel-heading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: fade(@tutor-neutral-lighter, 0%);
    border: none;

    .btn.btn-primary {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100px;
      width: 100px;
      margin-top: -50px;
      margin-left: -50px;
      background-color: fade(@tutor-white, 75%);
      border: 1px solid @tutor-neutral-lighter;
      border-radius: 100px;
      color: @tutor-black;

      &:hover {
        background-color: fade(@tutor-white, 100%);
        border: 1px solid @tutor-neutral-lighter;
      }
    }
  }

  &:hover {
    .panel-heading {
      display: block;
    }
  }

  .panel-body {
    .stem {
      font-weight: 700;
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    .answers-table {
      counter-reset: answer;
      margin-bottom: 1rem;
      .answers-answer.correct {
        color: @tutor-secondary;
        padding-left: 0;
        &::before {
          .fa;
          float: left;
          margin-top: 0.5em;
          content: @fa-var-check;
        }
      }

      .answers-answer {
        padding-left: 15px;
        counter-increment: answer;

        .answer-letter {
          margin-right: 1rem;
          float: left;

          &::after { content: counter(answer, lower-latin) ')'; }
        }
        .answer {
          display: table;
        }
      }
    }

    .exercise-tags {
      color: @tutor-neutral-light;

      .exercise-tag + .exercise-tag::before {
        content: ',';
        margin-right: 1rem;
      }
    }
  }
}

.card-list.exercises {
  .panel-heading {
    background:@tutor-neutral-bright;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid @tutor-neutral-light;
    display: block;
    .exercise-number {
      color: @tutor-primary;
    }
  }

  .card-actions button.btn-default {
    .homework-circle-btn(25px);
    padding: 0;
    margin:0 15px 0 0;
    color: @tutor-neutral-darker;
    background: white;
  }

  > .exercise > .panel-body {
    .stem {
      margin-top: 3rem;
    }
  }
}


