.homework-plan .exercise-controls-bar {

  flex-wrap: wrap;
  background-color: white;

  &.navbar-fixed-top-lower {
    top: 51px;
    margin: 0;
    padding: 0;
    .tutor-shadow(1);
  }

  .indicators, .controls {
    display: flex;
    align-items: stretch;
  }

  .sectionizer {
    flex: inherit;
  }

  .num, .tutor-added-later, .actions {
    border-left: 1px solid @tutor-neutral-light;
    margin-left: 10px;
    padding-left: 10px;
  }
  .num {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 4rem;
      font-weight: normal;
      margin: 0;
    }
    span { font-size: 1.3rem; }
    &.tutor {
      .tutor-selections {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          margin: 0 1rem;
        }
      }
    }
    &.total h2 { color: @tutor-quaternary; }
  }
  .tutor-added-later {
    color: @tutor-neutral;
    width: 200px;
    line-height: 14px;
    font-style: italic;
    display: flex;
    align-items: center;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


}
