@selected-exercise-background: @tutor-highlight;
@hovered-exercise-background: rgba(241, 241, 241, 0.4);

table.exercise-table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;

  thead {
    background: @tutor-tertiary;
    color: #fff;
    font-size: 1.8rem;
  }

  tbody {
    tr td {
      border: 1px solid @tutor-neutral-light;
      font-size: 1.2rem;

      &:first-child {
        border-left: 0px;
      }

      &:last-child {
        border-right: 0px;
      }
    }

    tr:nth-child(even) {
      background: white;
    }

    tr:nth-child(odd) {
      background: @tutor-neutral-lightest;
    }
  }

  td.exercise-number {
    color: @tutor-quaternary;
    font-size: 1.8rem;
    text-align: center;
  }

  td.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;

    img {
      display: none;
    }
  }

  td {
    padding: 5px;
  }
}

label.exercises-section-label {
  font-size: 2.8rem;
}


.card-list.exercises {
  text-align: center;
  margin: 10px auto;

  .panel { margin: 10px auto; }

  .panel-heading {
    text-align: left;
    background:@tutor-neutral-bright;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid @tutor-neutral-light;
    display: block;
    .exercise-number {
      color: @tutor-quaternary;
    }
  }

  .card-actions button.btn-default {
    .homework-circle-btn(25px);
    padding: 0;
    margin:0 0 0 15px;
    color: @tutor-neutral-darker;
    background: white;
  }

  > .exercise > .panel-body {
    text-align: left;

    .stem {
      margin-top: 50px;
    }
  }
}

.card-list.exercises {
  .exercise.card {
    .panel-body { padding: 20px 100px; }
  }

}

.task-plan {

  .feedback-toggle {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    .checkbox {margin: 0;}
    input[type=checkbox] { position: relative; margin-right: 0.5rem; }
    label {
      color: @tutor-neutral;
      margin-left: 0;
      #fonts >.sans(1.1rem, 1.1rem);
      font-style: italic;
    }
  }

}
