@import "../screen-styles";
@import "./styles/heading";
@import "./styles/statistics";
@import "./styles/teacher";
@import "./styles/teacher-student";

.performance-forecast {
  margin-top: 15px;

  .tutor-tabs {
    margin-bottom: 20px;
    .nav-tabs {
      li.active {
        background: $page-background;
      }
    }
  }

  .guide-container {
    min-width: 340px;
  }
  .icon-guide {
    @include x-icon-size(2.6rem);
    float: left;
    margin: 9px 9px 9px 9px;
  }

  .guide-footer {
    clear: both;
  }

  .no-data-message {
     @include tutor-sans-font(2.5rem);
    font-weight: 700;
    text-align: center;
  }

  .no-data {
    @include tutor-sans-font(1.2rem);
    font-weight: 300;
    color: $tutor-neutral-lite;
    margin: 0.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .chapter-panel {
    @include performance-forecast-panel();
    align-items: flex-start;
    // specific styles to apply to the chapter progress

    .heading {  @include tutor-sans-font(1.4rem, 1.4rem) }
    .chapter {
      @include performance-forecast-section();
      .heading  {  @include tutor-sans-font(1.8rem, 1.8rem); }
      .btn {
        padding: 0;
        margin: 8px 0;
      }
      .progress { height: 1.2rem; }
      .amount-worked {
        justify-content: flex-start;
        font-size: 1.3rem;
      }
      .number {
        color: $tutor-secondary;
      }
    }

    .section {
      @include performance-forecast-section();
      margin-bottom: 2rem;
      .btn {
        padding: 0;
        margin: 1rem 0;
      }
    }

    &.weaker {
      .metric {
        .title {
          @include tutor-sans-font(1.9rem, 1.8rem);
          margin-bottom: 10px;
        }
        p {
          color: $tutor-neutral;
           @include tutor-sans-font(1.3rem, 1.8rem);
        }
      }
      button.practice { width: 200px; }
      .lacking-data {
        @include tutor-sans-font(1.9rem, 1.8rem);
        margin-bottom: 10px;
        text-align: center;
        padding-top: 2rem;
      }
    }

  }

}

@import "./styles/responsive";
