svg.question {
  .cls-1{isolation:isolate;}
  .cls-2{fill:#e6e7e8;}
  .cls-3{opacity:0.05;mix-blend-mode:multiply;}.cls-4{fill:#fff;}.cls-5{fill:#f47641;}.cls-6{fill:#242f65;}.cls-7{fill:#d1d3d4;}.cls-8{fill:#ccc;}.cls-9{fill:#0dc0dc;}.cls-10{fill:#5f6062;}.cls-11{fill:none;stroke:#f0efef;stroke-miterlimit:10;opacity:0.3;}.cls-12{opacity:0.5;}.cls-13{fill:#222e65;}
}
