.course-add-dropdown, .add-assignment {
  &.no-add {
    background: @tutor-neutral-light;
  }

  .no-add-text {
    display: block;
    padding: 3px 20px;
  }

  li {
    a[href*="readings"] { .tutor-plan(add, 'reading'); }
    a[href*="homeworks"] { .tutor-plan(add, 'homework'); }
    a[href*="externals"] { .tutor-plan(add, 'external'); }
  }

  .dropdown-menu > li > a,
  &.dropdown-menu > li > a {
    width: 198px;
    padding: 3px 12px;
    text-align: left;
  }

}
