@calendar-header-padding: 2rem;

.list-courses {
  // override bootstrap default style
  &.panel { margin-top: 0px; }

  .calendar-header {
    text-align: center;
    font-size: 3rem;
    border-bottom: 1px solid @tutor-neutral-light;

    .add-assignment {
      .pull-left;
      margin-top: @calendar-header-padding;
      .caret { margin-left: 0.5rem; }

      :not(.btn-link):not(.btn-flat):not(.btn-fab).btn {
        margin-right: 0;
      }
    }
    
    &-label {
      font-weight: stronger;
      padding: @calendar-header-padding 0;
    }

    &-control {
      .no-select();
      color: @tutor-neutral-darker;
      padding: 0 @calendar-header-padding;
      display: inline-block;

      &.previous {
        float: left;
      }

      &.next {
        float: right;
      }

      &:hover {
        color: @tutor-neutral;
        text-decoration: none;
      }
      &:active, &:visited {
        text-decoration: none;
      }
    }
  }
}
