// TODO make this a mixin for flexible calendaringggg

@calendar-cell-width: 14.28%;
@calendar-cell-height: 10rem;

.bootstrap-column-padding-override() {
  // Overriding bootstrap's tricks for nice column floating.
  // To help with calendar plans width rendering.  May be useful elsewhere.  Be careful when using --
  // removes padding of columns.
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.calendar-cell(@cell-width) {
  display: inline-block;
  width: @cell-width;
  height: inherit;
  padding: 5px;
  .no-select();
}


.list-courses.panel {
  // background-color: transparent;
  .tutor-booksplash-adjust-top-margin(120px);
  
  .calendar-container{
    background-color: @tutor-white;
    .bootstrap-column-padding-override();
    padding-bottom: @tutor-card-body-padding-vertical;
  }

  .calendar-body {
    [class^="col-"] {
      overflow: hidden;
    }
  }

  .calendar-loading {
    .rc-Month {
      .tutor-subtle-loading('Loading Calendar...');
    }
  }

  .rc {
    &-Calendar {
      width: 100%;
      &-header {
        width: 100%;
        text-align: center;
        font-weight: bolder;
      }
    }
    &-Month {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &-weekdays {
        width: 100%;
        background-color: @tutor-white;
        &-weekday {
          .calendar-cell(@calendar-cell-width);
          text-align: center;
          height: 2rem;
          font-weight: bolder;
        }
      }
      &--current {
        .rc-Month-header {
          color: @primary;
        }
      }

      &::after {
        opacity: 0;
      }
    }
    &-Week {
      width: 100%;

      // Note: property below subject to change based on data
      // See CALENDAR_DAY_DYNAMIC_HEIGHT in CourseMonth component
      height: @calendar-cell-height;

      &-number {
        color: @gray-light;
        .calendar-cell(@calendar-cell-width);
      }
      &-days {
        width: 100%;
        height: 100%;
        border-left: 1px solid @tutor-neutral-light;
        display: inline-block;
      }
      &:last-child {
        .rc-Week-days {
          border-bottom: 1px solid @tutor-neutral-light;
        }
      }
    }
    &-Day {
      .calendar-cell(@calendar-cell-width);
      border-top: 1px solid @tutor-neutral-light;
      border-right: 1px solid @tutor-neutral-light;
      position: relative;
      cursor: default;
      line-height: 1.5rem;
      text-align: right;

      &--upcoming {
        cursor: pointer;

        &:hover, &.active {
          background-color: fade(@tutor-tertiary-light, 10%);
          &::after{
            content: '+';
            font-size: 2rem;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            color: @tutor-tertiary-light;
          }
        }
      }

      &--past {
        color: @tutor-neutral;
        background-color: @tutor-neutral-lightest;
      }

      &--outside {
        color: @tutor-neutral-light;
      }

      &--current {
        color: @tutor-primary;
        font-weight: bold;
      }
    }
  }
}
