@calendar-plan-top-margin: 0.5rem;
// CALENDAR_EVENT_LABEL_ACTIVE_STATIC_HEIGHT
@calendar-plan-active-height: 3.5rem;
@calendar-plan-height: 2rem;
@calendar-plan-top-offset: (@calendar-plan-active-height - @calendar-plan-height)/2;
@calendar-plan-active-top-offset: @calendar-plan-top-offset - @calendar-plan-top-margin;

@calendar-plan-left-offset: 2px;
@calendar-plan-left-label-offset: 2 * @calendar-plan-left-offset;

@calendar-inactive-background: @tutor-neutral;

.psuedo-text-label() {
  font-weight: 400;
  font-style: italic;
}

.list-courses {
  .plan {
    display: block;
    position: absolute;
    border: 1px solid @gray-light;
    font-size: 1.25rem;
    max-height: @calendar-plan-height;
    height: auto;
    line-height: @calendar-plan-height;
    margin-top: @calendar-plan-top-margin;
    margin-left: @calendar-plan-left-offset;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: max-height .1s ease-in, margin-top .1s ease-in;
    overflow: hidden;
    .tutor-plan-display(@calendar-inactive-background);
    .transition(background-color 0.1s linear);

    // takes on CALENDAR_EVENT_DYNAMIC_WIDTH and CALENDAR_EVENT_DYNAMIC_POSITION
    // Based on event duration and event offset from start of week
    // see CoursePlan component

    &.is-published {
      &.reading     { .tutor-plan(display, 'reading'); }
      &.homework    { .tutor-plan(display, 'homework'); }
      &.external    { .tutor-plan(display, 'external'); }
    }

    &:not(.is-published) {
      label:not(.continued)::before {
        .is-draft();
        margin-right: @calendar-plan-left-label-offset;
      }

      &.is-failed, &.is-killed{
        .tutor-plan-display(@tutor-danger);
      }
    }
    &.is-publishing{
      label:not(.continued)::before {
        .is-publishing();
        margin-right: @calendar-plan-left-label-offset;
      }
    }
    &.is-published{
      &:not(.is-open):not(.is-publishing) {
        label:not(.continued)::before {
          .is-not-open();
          margin-right: @calendar-plan-left-label-offset;
        }
      }

      &.is-open.is-trouble {
        label:not(.continued)::before {
          .is-trouble();
          margin-right: @calendar-plan-left-label-offset;
        }
      }
    }


    // CALENDAR_EVENT_LABEL_DYNAMIC_WIDTH
    // Takes width based on visible width of plan to center label.
    // see CoursePlan component
    label {
      padding-left: @calendar-plan-left-label-offset;
      text-align: left;
      display: block;
      margin-bottom: 0;
      cursor: pointer;
      transition: background .1s ease-in, margin-top .1s ease-in;

      &.continued {
        &::before {
          content: '...';
          margin-right: @calendar-plan-left-label-offset;
          margin-left: @calendar-plan-left-label-offset / 2;
          .psuedo-text-label();
        }

        &::after {
          content: 'continued';
          margin-left: @calendar-plan-left-label-offset;
          .psuedo-text-label();
        }
      }
    }

    &.plan-label-long {
      label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }


    &:hover,
    &.active,
    &.open {
      z-index: 2;
    }

    &.plan-label-long {
      &:hover,
      &.active,
      &.open {
        max-height: none;

        label {
          overflow: visible;
          white-space: normal;
          margin-top: 0;
        }
      }
    }
  }
}