.x-plan(@plan-color) {
  background: fade(@plan-color, 20%);
  border: none;
  color: @tutor-neutral-darker;
  border-left: 3px solid @plan-color;
  margin-left: 2px;

  &:hover,
  &.active,
  &.open {
    background: fade(@plan-color, 40%);
    margin-top: -0.5rem;
    height: 3rem;
    line-height: 3rem;
    z-index: 2;
  }
}



.list-courses {
  .plan {
    display: block;
    position: absolute;
    border: 1px solid @gray-light;
    font-size: 1.25rem;
    height: 2rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    // border-radius: 4px;
    font-weight: bold;
    transition: background .1s ease-in;
    overflow: hidden;
    // takes on CALENDAR_EVENT_DYNAMIC_WIDTH and CALENDAR_EVENT_DYNAMIC_POSITION
    // Based on event duration and event offset from start of week
    // see CoursePlan component

    &.reading      { .x-plan(@reading-color); }
    &.homework     { .x-plan(@homework-color); }

    // CALENDAR_EVENT_LABEL_DYNAMIC_WIDTH
    // Takes width based on visible width of plan to center label.
    // see CoursePlan component
    label {
      text-align: center;
      display: block;
      margin-bottom: 0;
      cursor: pointer;
    }
  }
}