// is imported inside .tutor-top-navbar
.center-control {
  $icon-color: $tutor-neutral-dark;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  pointer-events: auto;
  align-items: center;
  justify-content: center;
  .fa-stack {
    .ox-icon {
      // icon needs to be hoverable for tooltip
      z-index: 10;
    }
  }

  .icons {
    display: flex;
    align-items: center;

    & > * {
      margin: 0 0.5rem;
      @include media-breakpoint-up('md') {
        margin: 0 1rem;
      }
    }
  }
}
