// is imported inside .tutor-top-navbar
.center-control {
  $icon-color: $tutor-neutral-dark;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  pointer-events: auto;
  align-items: center;
  justify-content: center;
  .fa-stack {
    .tutor-icon {
      // icon needs to be hoverable for tooltip
      z-index: 10;
    }
  }

  .fa {
    color: $icon-color;
    font-size: 2.6rem;

    &.fa-th {
      position: relative;
      top: 0.1em;
    }
  }

  .icons {
    display: flex;
    align-items: center;

    & > * {
      margin: 0 0.5rem;
      @include media-breakpoint-up('md') {
        margin: 0 1rem;
      }
    }
    .due-date {
      display: flex;
      align-items: center;
      .calendar-text {
        font-size: 0.9em;
        margin: 3px 0 0 2px; // shift so it's centered on cal icon
      }
    }
  }

  .milestones-toggle {
    &:hover,
    &.active {
      .tutor-icon {
        color: $tutor-info;
      }
    }
    // TODO find out about universal focus style.
    &:focus {}
  }
  .annotation-summary-toggle {
    background-color: transparent;
    border: none;
    .i {
      fill: $icon-color;
    }
    &:hover,
    &.active {
      .i {
        fill: $tutor-info;
      }
    }
    svg {
      height: 26px;
    }
  }
}
