// is imported inside .tutor-top-navbar
.dropdown {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: 1px;
  .dropdown-toggle {
    display: flex;
    flex: 1;
    align-items: center;
    align-self: stretch;
    background: $tutor-white;
    @include top-nav-action();

    &:focus {
      .ox-icon.toggle {
        @include tutor-shadow(outline);
      }
    }
    > .tour-anchor > .ox-icon,
    > .ox-icon {
      margin: 0 1rem 0 0;
    }
    &::after {
      display: none;
    }
    .ox-icon.toggle {
      margin-left: 0.5rem;
    }
  }


  &.open > a {
    box-shadow: none;
  }

  .dropdown-menu {
    border-width: 0;
    border-top: 4px solid $green;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    margin-top: -4px;
    min-width: calc(100% + 15px);
    margin-left: -15px;
    border-radius: 0;

    > a {
      color: inherit;
      height: auto;
      line-height: 2;

      &:hover {
        background-color: $tutor-neutral-lighter;
        color: $tutor-neutral-darker;
      }

      form input[type="submit"] {
        line-height: inherit;
      }
    }

    &.active {
      > a {
        background-color: $tutor-neutral-lighter;
        color: $tutor-neutral-darker;
      }
    }

    input[type=submit] {
      @include tutor-sans-font(1.4rem, 1.4rem);
      color: $tutor-neutral-darker;
      border: 0;
      background-color: transparent;
      width: 100%;
      padding-left: 0;
      text-transform: none;
      text-align: left;
      &:hover { text-decoration: initial; }
    }

    .ox-icon-lock {
      color: $tutor-neutral;
      margin-left: 7px;
    }
    .dropdown-item.locked {
      cursor: not-allowed;
      pointer-events: initial;
    }
    .dropdown-divider {
      &:first-child,
      &:last-child {
        display: none;
      }
    }

  }

  &.user-menu {
    .initials {
      $diameter: 35px;
      height: $diameter;
      width: $diameter;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $diameter/2;
      font-size: $diameter * 0.4;
      font-weight: 500;
      color: white;
      background-color: #2e7194;
      letter-spacing: -2px;
      font-family: $tutor-neutral-light-font-face;
    }

    .dropdown-toggle:focus {
      .initials {
        @include tutor-shadow(outline);
      }
    }
    .dropdown-menu {
      margin-right: -15px;
      margin-left: 0;
    }

  }

}
