@import './variables/paths';


//@import 'katex.css';

@import './vendor-variables';

@import 'variables';

@import (reference) './mixins/generic';

@import '~openstax-react-components/resources/styles/main.less';

@import "@{bootstrap-path}/navs";
@import "@{bootstrap-path}/navbar";
@import "@{bootstrap-path}/buttons";
@import "@{bootstrap-path}/button-groups";
@import "@{bootstrap-path}/responsive-embed";

@import "@{widgets-path}/variables";
@import "@{widgets-path}/bootstrap-theme";
@import "@{widgets-path}/mixins";
@import "@{widgets-path}/core";
@import "@{widgets-path}/popup";
@import "@{widgets-path}/selectlist";
@import "@{widgets-path}/multiselect";


@import "global/defaults";
@import "global/error-modal";
@import "./navbar";

@import "./exercises";
@import "./vocabulary";


// renders outside of editor, appended to body
.surety-guard {
  .controls {
    border-top: 1px solid @openstax-neutral-light;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}


.editor-app {


}
