@import './variables/paths';


//@import 'katex.css';

@import './vendor-variables';

@import 'variables';

@import (reference) './mixins/generic';

@import '~openstax-react-components/resources/styles/main.less';

@import "@{bootstrap-path}/navs";
@import "@{bootstrap-path}/navbar";
@import "@{bootstrap-path}/buttons";
@import "@{bootstrap-path}/button-groups";
@import "@{bootstrap-path}/responsive-embed";

@import "@{widgets-path}/variables";
@import "@{widgets-path}/bootstrap-theme";
@import "@{widgets-path}/mixins";
@import "@{widgets-path}/core";
@import "@{widgets-path}/popup";
@import "@{widgets-path}/selectlist";
@import "@{widgets-path}/multiselect";


@import "global/error-modal";

// @answer-correct: #34b27d;
// @answer-incorrect: #cb4d4d;

html { font-size: 12px; }
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  padding: 10px;
}

// renders outside of editor, appended to body
.mpq-toggle-prompt {
  .controls {
    border-top: 1px solid @openstax-neutral-light;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}

.exercise {
  .mpq-toggle {
    line-height: 30px;
    label {
      width: 140px;

      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 12px;
      justify-content: flex-start;
      text-align: center;
      input { margin: 0; }
    }
  }
}

.exercise-editor {

  display: flex;

  .openstax-exercise-preview,
  .editing-controls {
    flex: 1;
    height: 100%;
    justify-content: flex-start;
  }

  .openstax-exercise-preview {
    max-width: 800px;
  }

  .editing-controls {
    margin-right: 1rem;
  }

  .mpq-toggle label {
    width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 12px;
    justify-content: flex-start;
    text-align: center;
    input { margin: 0; }
  }

  .tab-pane {
    padding: 20px;
    background-color: white;
    border-left: 1px solid @nav-tabs-border-color;
    border-right: 1px solid @nav-tabs-border-color;
    border-bottom: 1px solid @nav-tabs-border-color;
  }
  .navbar-form {
    .navbar-btn { margin-top: 0; }
  }

  .exercise-stimulus {
    label {
      display: block;
    }

    textarea {
      display: block;
      margin-bottom: 2rem;
      width: 100%;
      height: 8rem;
    }
  }
  a {
    cursor: pointer;
  }
  @import './tags';
  @import './attachments';
  @import './question';

}
