@import "./mixins/flexbox";

.no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fixed-bar() {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.tutor-background-image(@img) { background-image:url("../images/@{img}"); }

.tutor-shadow(1) {
  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 1px  6px 0 rgba(0, 0, 0, 0.12);
}

.tutor-shadow(2) {
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tutor-framed-video(@iframe-width:  @tutor-video-iframe-width,
                    @iframe-height: @tutor-video-iframe-height,
                    @iframe-shadow-size: 0px){
  position: relative;
  width:  @iframe-width  + @iframe-shadow-size * 2;
  height: @iframe-height + @iframe-shadow-size * 2;
  margin: auto;
  padding: 0;
  box-shadow: 0 @iframe-shadow-size @iframe-shadow-size 0 @tutor-neutral-dark inset;
  iframe {
    position: absolute;
    top:    @iframe-shadow-size;
    left:   @iframe-shadow-size;
    width:  @iframe-width;
    height: @iframe-height;
  }
}

.tutor-completed-message() {
  text-align: center;
  min-height: 300px;
  .flex-display();
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  h1 {
    #fonts > .sans(4.5rem);
    font-weight: 700;
  }
  h3 {
    #fonts > .sans(4rem);
    font-weight: 700;
  }
}

.tutor-nav-tabs() {
  background: none;
  li {
    text-align: center;
    background: @tutor-neutral-lighter;

    .transition(background 0.2s);

    a {
      font-weight: 400;
      color: @tutor-neutral !important;
    }

    &:hover {
      background: @tutor-neutral-lightest;
    }

    &.active {
      background: @tutor-white;
      a {
        font-weight: 900;
        color: @tutor-neutral-darker !important;
      }
    }
  }
}

.tutor-exercise-question-uid() {
  color: @exercise-question-uid-color;
  #fonts > .sans(1.2rem, 1.2rem);
}

.tutor-task-step-question-uid() {
  position: absolute;
  right: @tutor-card-body-padding-horizontal;
  bottom: 10px;
  .tutor-exercise-question-uid();
}

.tutor-icon-active(@scale: 1.4; @shadow: 0.12) {
  .scale(@scale);
  .box-shadow(0 1px 6px rgba(0, 0, 0, @shadow));
  border-radius: 50%;
}

.tutor-late-icon() {
  &::after {
    .fa-icon();
    content: @fa-var-clock-o;
    color: @tutor-warning;
  }
}

.tutor-physics-cover-background() {
  color: #7BB049;
  // TODO can we switch this out with @tutor-tertiary
  background-color: #243064;
  .tutor-background-image("courses/physics-title-background.svg");
}

.tutor-biology-cover-background() {
  color: #5E5F61;
  // TODO can we switch this out with @tutor-secondary
  background-color: #7BB04A;
  .tutor-background-image("courses/biology-title-background.svg");
}

.tutor-popover() {
  font-size: 0.8em;
  max-width: 500px;

  .popover-title {
    color: @tutor-primary;
  }

  .has-html {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 1rem;
      }
    }
  }

  &.left .arrow:after{
    border-left-color: @popover-title-bg;
  }

  &.right .arrow:after{
    border-right-color: @popover-title-bg;
  }

  &.top .arrow:after{
    border-top-color: @popover-title-bg;
  }

  &.bottom .arrow:after{
    border-bottom-color: @popover-title-bg;
  }
}


.tutor-subtle-load(will-load; @loading-text: 'Loading...'; @trans-time: 0.25s; @bg-fade: 90%; @bg-base: @tutor-white;) {
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: @loading-text;
    background: fade(@bg-base, @bg-fade);
    top: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 10em;
    opacity: 0;
    display: none;

    .transition(opacity @trans-time ease-in-out);
  }
}

.tutor-subtle-load(loading) {
  &::after {
    opacity: 1;
    display: block;
  }
}

.tutor-fade-in (@fade-time) {
  animation: fadein @fade-time;
  @keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
  }
}

.tutor-figure(){
  figure {
    display: table;
    text-align: left;
    padding: 0;
    float: left;
    img {
      max-width: 100%;
      border: 1px solid @border-color;
      margin: 10px 0 0 0;
      padding: 0;
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
      color: @caption-font-color;
      padding: 10px 0;
      font-weight: 300;
      font-style: italic;
      line-height: 150%;
    }
  }
}

.tutor-tables() {
  table {
    width: 100%;
    margin-bottom: 32px;
    #fonts > .sans(1.75rem, 3.6rem);
    padding: 20px 0;
    line-height: 2.5rem;
    thead {
      th {
        padding: 8px 10px;
        border-bottom: solid 2px @tutor-neutral-light;
      }
      tr:first-of-type:not(:last-child) th {
        padding-left: 0;
      }
    }
    tr:nth-child(odd) {
       background: @tutor-neutral-lightest;
     }
    tr:nth-child(even) {
       background: @tutor-white;
     }
    td {
      padding: 8px 10px;
    }
    tbody {
      border-top: solid 4px @tutor-neutral-light;
    }
    caption,
    thead tr:first-of-type:not(:last-child) th{
      background: @tutor-white;
     #fonts > .sans(2rem, 3rem);
     font-weight: 900;
     color: @tutor-neutral-darker;
    }
  }
}

.tutor-tables(@table-header, @table-bottom-color) {
  table {
    thead {
      th {
        background: @table-header;
      }
    }
    tbody {
      border-bottom: solid 4px @table-bottom-color;
    }
  }
}

.printer-safe(@display: inherit; @position: inherit; @top: inherit; @margin-top: inherit;) {
  @media print {
    display: @display;
    position: @position;
    top: @top;
    margin-top: @margin-top;
    transition: none;
  }
}

.tutor-external-link-indicator() {
  &::after {
    .fa-icon();
    display: inline;
    font-size: 80%;
    content: " @{fa-var-external-link}";
  }
}


// If you want to use these please uncomment.
//
// .tutor-shadow(3) {
//   box-shadow:
//     0 12px 15px 0 rgba(0, 0, 0, 0.24),
//     0 17px 50px 0 rgba(0, 0, 0, 0.19);
// }
//
// .tutor-shadow(4) {
//   box-shadow:
//     0 16px 28px 0 rgba(0, 0, 0, 0.22),
//     0 25px 55px 0 rgba(0, 0, 0, 0.21);
// }
//
// .tutor-shadow(5) {
//   box-shadow:
//     0 27px 24px 0 rgba(0, 0, 0, 0.2),
//     0 40px 77px 0 rgba(0, 0, 0, 0.22);
// }
