.-replay.-replay-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;

  &:not(:hover) > :not(.-replay-count) { display: none; }

  > .-replay-count {
    &::before { content: '[['; }
    &::after  { content: ']]'; }
  }
}
