@import './variables/colors';
@import './variables/paths';

// TODO: Decide where best to organize this once more have accumulated
@tutor-card-body-padding-vertical: 20px;
@tutor-card-body-padding-horizontal: 140px;

@tutor-teacher-plan-stats-border-style: 1px dotted @tutor-neutral-light;
