&-two-step-help {
  &.card-body { // overide normal card-body styles
    color: white;
    background-color: @green !important;
    padding: 60px 140px;
  }
  .heading {
    background-image: url("../../../images/openstax-white-books.png");
    background-size: auto 50px;
    background-repeat: no-repeat;
    line-height: 50px;
    text-indent: 100px;
    font-size: 18px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3rem;
  }
  .body {
    font-size: 18px;
    line-height: 24px;
  }
  button:not(.btn-link):not(.btn-flat):not(.btn-fab).btn-default {
    background-color: white;
    color: @green !important;
  }
}
