.builder-footer-controls {

  @include card-footer();

  .spacer { flex: 1; }

  .btn {
    font-weight: 600;
    border-radius: 3px;

    &.preview-btn {
      border-radius: 4px;
      font-weight: normal;
    }

    &.btn-default.cancel {
      color: $openstax-neutral;
    }
    &:hover {
      @include tutor-shadow(pop);
    }
  }

  > .tour-anchor,
  > .btn {
    & + .tour-anchor,
    & + .btn {
      margin-left: 0.5rem;
    }
  }

  .footer-instructions {
    i.fa {
      margin-right: 0;
    }
  }

  .tour-anchor { display: inline-block; }
  .save {

    &:hover,
    &:focus {
      background: $openstax-neutral;
    }
  }

}

#plan-footer-popover {
  strong {
    margin-right: 0.25em;
  }
}
