.builder-footer-controls {

  .btn {
    font-weight: 600;
    border-radius: 3px;

    &.btn-default.cancel {
      color: @openstax-neutral;
    }
    &:hover {
      .tutor-shadow(3);
    }
  }

  .save {
    background: @openstax-neutral;
    color: @openstax-white;

    &:hover,
    &:focus {
      background: @openstax-neutral;
    }
  }

}
