$circle-btn-size: 25px;

@mixin homework-circle-btn($size, $default-border-color: $default-border) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 1px solid $tutor-neutral-lighter;
  border-color: $default-border-color !important;
  padding: 0;
  margin: 0;

  &:hover {
    border-color: $default-border !important;
  }

  i.fa { margin-right: 0; }
}

#homework-due-date {
  .rw-select {
    margin: -10px -10px 0 0;
  }
}

.homework-builder-view {

  button.btn-default.circle:not(.btn-link):not(.btn-flat):not(.btn-fab).btn-default {
    @include homework-circle-btn($circle-btn-size);
    margin: 0;
    padding: 0;
  }

  button.btn-default.hover-circle:not(.btn-link):not(.btn-flat):not(.btn-fab).btn-default {
    @include homework-circle-btn($circle-btn-size, transparent);
    background: transparent;
    margin: 0;
    padding: 0;

    // Right now the up chevron doesn't really look vertically centered in its circle even though
    //   it lines up with the down chevron.  To fix this, we could put a margin-top of 4px on the
    //   right (up) button and a margin-top of -2px on its icon child element, but this makes the
    //   circles offset from each other vertically when hovering over a button.  I'm going to
    //   leave it the way it is for now because that's probably a worse problem than the icon not
    //   being centered vertically in the button.
  }

  .circle-btn-placeholder {
    display: inline-block;
    width: $circle-btn-size;
    height: $circle-btn-size;
  }

  .pinned-header {
    @include tutor-shadow(1);
  }

  &.pinned-on {
    .pinned-header {
      background: $tutor-white;
      @include tutor-shadow(1);

      .panel {
        @include box-shadow(none);
      }
    }
    .exercise-summary {
      margin-top: 0;
      margin-bottom: 0;
    }

  }

}

.hw-loading-spinner {
  position: fixed;
  width: 20%;
  top: 35%;
  display: block;
  left: 40%;
  background: $tutor-white;
  padding: 25px 0;
  @include tutor-shadow(1);
  border: 1px solid $tutor-neutral-lighter;
  font-size: 3rem;
  z-index: 1000;
  text-align: center;

  i.fa {
    margin-right: 10px;
  }
}

.feedback-tip.popover.bottom {
  margin-top: 7rem;
}

@import './homework/exercises';
@import './homework/exercise-summary';
