// the popover needs its dimensions set so that it stays in
// the correct position when items are re-rendered inside it
.mini-task-editor-popover {
  width: 450px;
  height: 250px;
  max-width: 450px;
}

.task-plan-mini-editor {
  margin-top: 20px;
  .controls {
    margin-top: 1rem;
  }
}
