.task-plan-mini-editor {
  .loading {
    position: absolute;
    display: inline;
    border: 1px solid @tutor-neutral-lighter;
    .tutor-plan-set(display);
    label {
      margin: 0;
      padding: 0 5px;
    }
  }
}
