.student-dashboard {
  @small-height-breakpoint: 600px;
  .container {
    .tutor-booksplash-adjust-top-padding();
  }

  .right-actions-box {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    @media screen and ( max-height: @small-height-breakpoint ){ margin-top: 0px; }
    button {
      width: 100%;
      // override bootstrap styling
      &.btn-primary { padding: 12px 0 !important; }
    }
  }

  .nav-tabs {
    background: none;
    li {
      #fonts .sans(2.4rem, 2.4rem);
      width: 210px;
      text-align: center;
      background: @tutor-neutral-lighter;
      a {
        font-weight: 900;
        color: @tutor-neutral-dark !important;
      }
      &.active {
        background: @tutor-neutral-lightest;
        a {
          font-weight: 900;
          color: @tutor-neutral-darker !important;
        }
      }
    }
  }

}
