.student-dashboard {
  @small-height-breakpoint: 600px;
  .container {
    .tutor-booksplash-adjust-top-margin();
  }

  .right-actions-box {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 53px 0;
    @media screen and ( max-height: @small-height-breakpoint ){ margin-top: 0px; }
    button {
      width: 100%;
      // override bootstrap styling
      &.btn-primary { padding: 12px 0 !important; }
    }
  }

  .nav-tabs {
    .tutor-nav-tabs();

    li {
      #fonts .sans(2.4rem, 2.4rem);
      width: 210px;
    }
  }

}
