.student-dashboard {
  .dont-forget {
    .panel-body { text-align: center; }
    // .heading {
    //   #fonts .sans(1.8rem, 1.8rem);
    //   font-weight: 900;
    //   color: @tutor-neutral-darker;
    //   margin: 10px 0 5px 0;
    // }
    .title {
      #fonts .sans(1.2rem, 1.2rem);
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0 0 5px 0;
    }
    .summary {
      #fonts .sans(1.4rem, 1.4rem);
      font-weight: 900;
      color: #79B142;
    }
  }
  
}
