.student-dashboard {
  .task {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: thin dotted @tutor-neutral-bright;
    &.workable {
      cursor: pointer;

      &:hover {
        background-color: @tutor-neutral-lighter;

      }
      
    }
    
    transition: all 0.1s ease-in;
  }
  
}
