.task {
  background: @tutor-white;
  border-top: thin dotted @tutor-neutral-light;
  // if the screen is wide enought, set a hight and use line-height to vertically center content.
  // This breaks when the responsive small view kicks in and it becomes multi-line
  @media screen and ( min-width: @screen-sm-min ){ 
    height: @panel-row-height;

    .icon-column {
      height: @panel-row-height;
      padding: 0;
    }
    .icon {
      background-position: center;
      height: @panel-row-height;
      min-width: @panel-row-height;
      width: 100%;
    }
    .title {
      padding-left: 0;
    }
    .title, .feedback, .due-at {
      line-height: @panel-row-height;
      white-space: nowrap;
    }
  }

  // A task that is workable can be clicked
  &.workable {
    cursor: pointer;
    &:hover {
      background-color: @tutor-neutral-lighter;
      // on hover grow the icon from 4rem (40pxish) to 56
      .icon { background-size: 56px 56px; }
    }
  }
  transition: all 0.1s ease-in;

}

