@mixin tutor-figure() {

  figure,
  .os-figure {
      display: flex;
      flex-direction: column;
  }

  .os-figure {
    &:not(.splash):not(.full-width) {
      width: 50%;
      margin-bottom: 20px;

      padding: 1rem;
      float: left;

      &.standalone {
        float: none;
        margin: auto;
        width: 60%;
        &.tutor-ui-horizontal-img.medium-img-width {
          width: 80%;
        }
      }

      & + .os-figure + .os-figure {
        clear: both;
      }
      & + .os-figure + .os-figure + .os-figure{
        clear: none;
      }

      & + :not(.os-figure) {
        clear: left;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .os-caption-container {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      color: $caption-font-color;
      .os-title-label,
      .os-number {
        font-style: italic;
        font-weight: 800;
      }
      .os-title-label + .os-number {
        margin-left: 0.5rem;
      }
      .os-divider {
        flex: 1;
        min-width: 1rem;
      }
  }

  figcaption {
    width: 100%;
    min-width: 100%;
    order: 99; // high enough to always be last

    caption-side: bottom;
    color: $caption-font-color;
    padding: 10px 0;
    font-weight: 300;
    font-style: italic;
    line-height: 150%;

    border-bottom: 1px solid;
    border-color: $border-color;
    &::before {
      counter-increment: figure;
      content: "Figure " counter(figure);
      font-weight: 800;
      display: block;
    }
  }


}
