@mixin tutor-figure-title() {
  .os-title-label,
  .os-number {
    font-weight: 800;
  }
}

@mixin tutor-figure() {

  figure,
  .os-figure {
      display: flex;
      flex-direction: column;
  }

  .os-figure {
    &:not(.splash):not(.full-width) {
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
      &.tutor-ui-horizontal-img.medium-img-width {
        width: 80%;
      }
      &.scaled-down,
      &.scaled-down-60,
      {
        width: 60%;
      }
      &.scaled-down-30 {
        width: 30%;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .os-caption-container {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      color: $caption-font-color;

      padding: 10px 0;
      font-weight: 300;
      line-height: 150%;
      border-bottom: 1px solid $border-color;

      @include tutor-figure-title();

      .os-title-label + .os-number {
        margin-left: 0.5rem;
      }
      .os-divider {
        flex: 1;
        min-width: 100%;
      }
  }

  figcaption {
    width: 100%;
    min-width: 100%;
    order: 99; // high enough to always be last

    caption-side: bottom;
    color: $caption-font-color;
    padding: 10px 0;
    font-weight: 300;
    font-style: italic;
    line-height: 150%;

    border-bottom: 1px solid;
    border-color: $border-color;

    @include tutor-figure-title();

  }


}
