@mixin performance-forecast-panel($spacing: 20px) {
  padding-top: $spacing;
  padding-bottom: $spacing;
  background: $tutor-white;
  margin-bottom: $spacing;
  border: 1px solid $tutor-neutral-light;
  @include make-row();
}

@mixin performance-forecast-section() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tutor-sans-font(1.4rem, 1.4rem);

  // if the .progress is a direct desendant then it's not inside a button
  > .progress {
    margin: 0.5rem 0;
  }

  .heading {
    display: flex;
    .number {
      margin-right: 0.5rem;
    }
    .title {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .progress-bar-button {
    margin-top: 0px;
    width: 100%;
  }
  .amount-worked {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    .count {
      color: $tutor-neutral;
      letter-spacing: 0.05rem;
      &.chapter {
        margin-top: 10px;
      }
    }
  }

  .progress {
    height: 0.8rem;
    margin: 8px;
    @include performance-forecast-colors();
  }
}

@mixin performance-forecast-key() {
  display: flex;
  //min-width: 280px;
  /* https://coryrylan.com/blog/css-gap-space-with-flexbox */
  --gap-top: 5px;
  --gap-bottom: 12px;
  margin: calc(-1 * var(--gap-top)) 0 0 calc(-1 * var(--gap-bottom));
  width: calc(100% + var(--gap));
  margin-top: 1rem;
  .item {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin: var(--gap-top) 0 0 var(--gap-bottom);
    @include performance-forecast-colors();
    .progress-bar {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
    .title {
      @include tutor-sans-font(1.2rem, 1.2rem);
      font-weight: 300;
      font-style: italic;
    }
  }
}


@mixin performance-forecast-colors() {
  &.high .progress-bar {
    background: $tutor-secondary;
  }
  &.medium .progress-bar {
    background: $tutor-quaternary;
  }
  &.low .progress-bar {
    background: $tutor-primary;
  }
}
