.performance-forecast {


  .guide-heading {
    @include performance-forecast-panel();

    // set padding to match chapter sections.  Their padding derives from being in bootstrap columns
    padding: $grid-gutter-width/2;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      width: 100%;
      justify-content: space-between;
    }

    .guide-group-title {
      flex: 1;
      font-size: 3rem;
      display: inline-block;
      min-width: 45%;

      &.teacher-student-page-heading {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;
      }

    }
    .info {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      p {
        font-size: 14px;
        line-height: 20px;
      }
      @media screen and (max-width: $mobile-collapse-breakpoint) {
        .info-text {
          display: none;
        }
      }
    }
  }

  .ox-icon:before {
    color: $tutor-neutral-dark;
  }

  .guide-group-key {
    &.teacher .guide-key { margin-top: 15px; }
    width: 100%;

    .guide-key {
      // overriding the justify-content in `performance-forecast-key`
      @include performance-forecast-key();
    }

  }
}
