.performance-forecast {

  padding: 4rem;

  @media screen and (max-width: $tablet-collapse-breakpoint) {
    padding: 2rem;
    .row {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: $mobile-collapse-breakpoint) {
    .weaker-header {
      display: none;
    }
  }

  .row h3 {
    font-weight: 600;
    font-size: 24px;
  }

  .chapter-panel {
    // use flex display unless the columns should collapse
    // this allows the height of the colums to match so the
    // border will extend the complete height
    display: flex;

    .chapter,
    .section {
      @extend %grid-column;
      margin-bottom: 10px;
      @include make-col(3);
      @media screen and (max-width: $mobile-collapse-breakpoint) {
        @include make-col(6);
        max-width: 100%;
        flex: inherit;
      }
      @media (min-width: $mobile-collapse-breakpoint) and (max-width: $tablet-collapse-breakpoint) {
        @include make-col(4)
      }
    }

    .chapter {
      min-height: 7rem;
      border-right: 1px solid $tutor-neutral-light;
      @media screen and (max-width: $mobile-collapse-breakpoint) {
        border-right: 0px;
        border-bottom: 1px solid $tutor-neutral-light;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
      }
    }

    .section {
      min-height: 5.5rem;
    }

  }

}
