.concept-coach-view {
  background: @openstax-white;
  width: 75%;
  min-width: 800px;
  min-height: 100%;
  margin: 100px auto;
  padding: 30px 80px;

  .task-breadcrumbs-step {
    &:hover,
    &.active {
      box-shadow: none;      
    }
  }

  .concept-coach-login {
    cursor: pointer;
    background: url('../../../images/coach.gif');
    width: 500px;
    height: 282px;
    margin: auto;
  }
}