.concept-coach-view {
  margin: 80px auto;
  width: 75%;

  .concept-coach-task-body {
    background: @openstax-white;
    padding: 30px 100px;
  }

  // TODO move out to common
  .task-step {
    .task-step-group {
      font-size: 1.6rem;
      color: @openstax-neutral;
      padding-top: 2rem;
      padding-bottom: 0;
      .opacity(0.5);
    }
    .task-step-group-label {
      display: inline-block;
      margin-left: 4px;
    }
  }

  .question-feedback {
    z-index: 1;
  }
}