@import './base';
@import './modal';

.concept-coach {
  .navbar-brand {
    text-transform: uppercase;
  }
  .navbar-default {
    background: @openstax-white;
  }
  .navbar-right {
    .close {
      float: none;
    }
  }
}

