.confirm-join {

  .controls {
    width: 400px;
    margin: auto;
    .or, .skip {
      display: block;
      display: block;
      text-align: center;
    }
    .or {
      font-size: 14px;
      margin: 20px auto;
    }
    .skip {
      text-decoration: initial;
      border-bottom: 0;
      font-size: 16px;
      color: @link-color;;
    }
  }

  .help-text {
    color: @openstax-neutral;
    font-size: 11px;
    width: 300px;
    margin: 30px auto 0 auto;
    text-align: center;
  }

  .title {
    color: black;
    font-size: 24px;
    .course, .teacher {
      display: block;
    }
  }

}
