@import '~openstax-react-components/resources/styles/mixins/flexbox';

.enroll-or-login {
  min-height: 500px;
  .flex-display();
  .flex-direction(column);
  .align-items(center);

  .title {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .login-gateway {
    .flex-display();
    .align-items(center);
    .justify-content(center);
    font-size: 2.5rem;
    margin-bottom: 3rem;

    &.is-open {
      .message{ text-align: center; }
      a { display: inline-block; }
    }

    &.is-closed {
        cursor: pointer;
    }

    &.login {
      &.is-closed {
        margin: 50px 0;
        width: 200px;
        height: 80px;
      }
      &.is-open {
        width: 400px;
        height: 140px;
      }
    }

    &.sign-up {
      font-size: 2rem;
      margin-top: 1rem;
      display: inline;
      &.is-closed {
        color: @link-color;

        &:hover,
        &:focus {
          color: @openstax-info;
        }
      }
      &.is-open {
        display: block;
      }
    }
  }

  .enroll {
    text-align: center;
  }

  h2 {
    font-size: 2.6rem;
  }
  h3 { font-size: 2rem; }


  .enroll-instructors-interest {
    margin-top: 50px;
  }

  .enroll-instructors-interest-learn-more {
    font-weight: 600;
    text-align: center;
    display: block;
  }
}

.concept-coach-view {
  .enroll-or-login {
    .enroll-instructors-interest-learn-more {
      color: @link-color;
      text-decoration: none;
      border-bottom: none;
    }
  }
}
