.enroll-or-login {

  display: flex;

  > div {
    flex: 1;
    padding: 0 10px;
  }

  h3 { font-size: 2.4rem; }

  .login {
    p {
      font-size: 1.8rem;
      text-align: center;
    }

  }

  .new-registration {
    hr { display: none; }
    border-left: 1px solid @openstax-neutral-light;
    .code-wrapper {
      margin-left: 10%;
      width: 80%;
    }

  }

}
