.cc-dashboard-help {
  .fine-print {
    font-style: italic;
    font-size: 1.4rem;
  }

  .title {
    background-color: $tutor-quaternary;
    height: $cc-dashboard-banner-height;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    line-height: $cc-dashboard-banner-height;
    font-size: 3.5rem;
    padding-left: 50px;
  }

  .body {
    padding-top: $cc-dashboard-banner-height + $jumbotron-padding;
    width: $tutor-task-width;
    margin: 0 auto;
  }
  .help {
    float: left;
    width: 50%;
    b { margin-right: 0.5rem; }
  }
  .graphic {
    float: right;
    width: 50%;
    .svg-container {
      width: 100%;
      height: 100%;
    }
  }
  svg.desktop {
    margin-left: 20px;
    .banner       { fill: $openstax-book-default-bg; }
    .banner-light { fill: lighten($openstax-book-default-bg, 10%); }
    .course-name {
      @include tutor-book-cover-font();
      font-size: 15px;
      fill: $openstax-book-default-fg;
    }

    @each $book in map-keys($openstax-books) {
      $fg: openstax-book-color($book, primary);
      $bg: openstax-book-color($book, secondary);
      background: $bg;
      &.#{book} {
        .banner       { fill: $bg; }
        .banner-light { fill: lighten($bg, 10%); }
        .course-name  { fill: $fg; }
      }
    }
  }

  &.empty-period {
    margin: 20px;
    display: flex; // display side by side
  }

}
