.cc-dashboard {
  .column-legend {
    span {
      color: $tutor-neutral;
      @include tutor-sans-font(1.2rem, 1.2rem);
      font-weight: 400;
      font-style: italic;
      &.title {
        white-space: nowrap;
      }
      .tutor-icon {
        font-size: 1.4rem;
        color: $tutor-neutral-darker;
      }
    }

    .tutor-icon {
      margin-left: 0.5rem;
    }
    // hack so long text will barely fit
    div:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  a.detailed-scores{
    margin: 0 0 0.2rem 0;
    float: right;
  }
  .hide-section-legend {
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;
  }
  .chapter {

    &.empty {
      border-bottom: 1px solid $tutor-neutral-light;
      .name {
        padding-bottom: 0px;
      }
      .msg {
        text-align: center;
        @include tutor-sans-font(1.4rem, 1.4rem);
        font-weight: 300;
        font-style: italic;
        line-height: 3rem;
      }
    }

    .name {
      font-size: 2rem;
      padding: 1.5rem 0;
    }

    // both chapter and section labels
    .chapter-section {
      width: 3.5rem;
      display: inline-block;
      color: $tutor-black;
    }

    .section {
      border-bottom: 1px solid $tutor-neutral-light;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &:nth-child(even) {
        background-color: $tutor-neutral-lightest;
      }

      .reading-progress-bar {
        transition: width 0s;
        margin-bottom: 0;
        font-size: 0.9rem;

        &::after {
          content: attr(type);
          position: absolute;
          bottom: $progress-on-hover-label-height * -1;
          left: 50%;
          width: 100px;
          margin-left: -50px;
          text-align: center;
          color: $tutor-neutral;
          opacity: 0;
          transition: opacity 1s;
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &:not(.no-progress) {
          min-width: 0px;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }

      .reading-progress-group.none-completed {
        font-size: 0.9rem;
        background: $gray-lighter;
        color: $tutor-neutral-darker;
        width: 100%;
      }

      .progress-bar.small-percentage {
        position: relative;

        &.progress-bar-info {
          color: $progress-bar-info-bg;
        }

        > span {
          left: 100%;
          margin-left: 8px;
        }
      }

      .empty-spaced-practice {
        text-align: center;
      }
    }
  }

  .course-title-banner + div {
    margin-top: 0;
  }

}

@import "./help";
