// Mostly for the toolbar, but also used to style the quill math popup
.x-user-select(@var) {
     -moz-user-select: @var;
  -webkit-user-select: @var;
}

.x-btn-dialog() {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: #4caf50;
  &:hover {
    color: #66bb6a;
  }

}
