@import './flexbox';
@import './icon';


.openstax-tables() {
  table {
    width: 100%;
    margin-bottom: 32px;

    padding: 20px 0;
    line-height: 2.5rem;
    thead {
      th {
        padding: 8px 10px;
        border-bottom: solid 2px @openstax-neutral-light;
      }
      tr:first-of-type:not(:last-child) th {
        padding-left: 0;
      }
    }
    tr:nth-child(odd) {
       background: @openstax-neutral-lightest;
     }
    tr:nth-child(even) {
       background: @openstax-white;
     }
    td {
      padding: 8px 10px;
    }
    tbody {
      border-top: solid 4px @openstax-neutral-light;
    }
    caption,
    thead tr:first-of-type:not(:last-child) th{
      background: @openstax-white;

     font-weight: 900;
     color: @openstax-neutral-darker;
    }
  }
}

.openstax-tables(@table-header, @table-bottom-color) {
  table {
    thead {
      th {
        background: @table-header;
      }
    }
    tbody {
      border-bottom: solid 4px @table-bottom-color;
    }
  }
}

.fixed-bar() {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.sans(@size: 1.5rem, @line-height: 3rem) {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: @size;
  line-height: @line-height;
}

.make-shy() {
  .transform-origin(0 0);
  .translate(0, -@openstax-navbar-height);
}

.make-shy-animate() {
  .transition(transform 0.2s ease-out);
}

.exercise-typography() {
  font-size: 1.8rem;
  line-height: 1.68em;
}

.openstax-disable-text-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

// limit an element's height to max-height and display a gradient at the bottom
.height-limited-panel(@max-height: 150px){
  position: relative;
  max-height: @max-height;
  overflow: hidden;
  &:after {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: @max-height - 150px;
    background: linear-gradient(to top, white, white 10%, transparent);
  }
}
