.tutor-plan-set(@type, @selector-string: ''){
  @selector: ~'@{selector-string}';

  &[data-assignment-type=reading]@{selector} {
    .tutor-plan(@type, 'reading');
  }

  &[data-assignment-type=homework]@{selector} {
    .tutor-plan(@type, 'homework');
  }

  &[data-assignment-type=external]@{selector} {
    .tutor-plan(@type, 'external');
  }

  &[data-assignment-type=event]@{selector} {
    .tutor-plan(@type, 'event');
  }

  &[data-assignment-type=extras]@{selector} {
    .tutor-plan(@type, 'extras');
  }
}

.tutor-plan(cell, @plan-type) {
  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-cell(@plan-color);
}

.tutor-plan(cell-active, @plan-type) {
  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-cell-active(@plan-color);
}

.tutor-plan(heading, @plan-type, @plan-border-size: 'small') {
  @plan-border-name: "plan-border-@{plan-border-size}";
  @plan-border-normal: 12px;
  @plan-border-small: 5px;
  @plan-border: @@plan-border-name;

  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-heading(@plan-color, @plan-border);
}

.tutor-plan(header, @plan-type, @plan-border-size: 'normal') {
  @plan-border-name: "plan-border-@{plan-border-size}";
  @plan-border-normal: 12px;
  @plan-border-small: 5px;
  @plan-border: @@plan-border-name;

  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-header(@plan-color, @plan-border);
}

.tutor-plan(modal, @plan-type) {
  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-modal(@plan-color);
}

.tutor-plan(add, @plan-type) {
  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-add(@plan-color);
}

.tutor-plan(display, @plan-type) {
  @plan-color-name: "@{plan-type}-color";
  @plan-color: @@plan-color-name;
  .tutor-plan-display(@plan-color);
}

.tutor-plan-cell(@plan-color) {
  color: @tutor-neutral-darker;
  background-color: fade(@plan-color, 2.5%);
  .transition(background-color 0.1s ease-in);
}

.tutor-plan-cell-active(@plan-color) {
  text-decoration: none;
  background-color: fade(@plan-color, 25%);
}

.tutor-plan-heading(@plan-color, @plan-border-width: 5px) {
  color: @tutor-neutral-darker;
  background-color: fade(@plan-color, 20%);
  border-top-color: @plan-color;
  border-top-width: @plan-border-width;
  border-top-style: solid;
}

.tutor-plan-header(@plan-color, @plan-border-width: 12px) {
  color: @tutor-neutral-darker;
  background-color: fade(@plan-color, 20%);
  border-left-color: @plan-color;
  border-left-width: @plan-border-width;
  border-left-style: solid;

  button.close {
    .opacity(0.5);
    color: @close-color;
    text-shadow: @close-text-shadow;

    &:hover,
    &:focus {
      .opacity(0.75);
    }
  }
}

.tutor-plan-modal(@plan-color) {
  .modal-content {
    .modal-header {
      .tutor-plan-header(@plan-color);
    }
  }
}

.tutor-plan-add(@plan-color) {
  color: @tutor-neutral-darker;
  border-left: 5px solid transparent;
  background-color: transparent;
  .transition(~"background-color .1s ease-in, border-color .1s ease-in");

  &:hover,
  &.active,
  &.open {
    border-color: @plan-color;
    background-color: fade(@plan-color, 20%);
  }
}

.tutor-plan-display(@plan-color) {
  color: @tutor-neutral-darker;
  border-left: 3px solid @plan-color;

  a {
    color: @tutor-neutral-darker;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  label{
    background: fade(@plan-color, 20%);
  }

  &:hover,
  &.active,
  &.open {
    text-decoration: none;
    label{
      background: fade(@plan-color, 50%);
    }
  }
}
