.tutor-modal() {

  .modal-content {
    .modal-header {
      padding-top: 0;
      padding-bottom: 0;

      h4 {
        font-weight: 900;
        line-height: 6rem;
      }

    }
    .close {
      .opacity(0.5);
      margin: 0;
      line-height: 6rem;

      &:hover,
      &:focus {
        .opacity(0.75);
      }
    }
    .modal-body {
      padding: @modal-padding;

      > :first-child { margin-top: 0; }

      .reading-stats {
        section {
          > div {
            max-width: @progress-bar-width;
          }
        }
      }
    }

    .modal-footer {
      padding: 0 @modal-padding @modal-padding @modal-padding;
      text-align: left;
    }

    .modal-footer-menu {
      border-top: @tutor-teacher-plan-stats-border-style;  
      padding-top: @modal-padding;    
    }

    .btn:not(.btn-link):not(.btn-flat) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  
}
