@mixin editing-panes() {
  display: flex;

  .openstax-exercise-preview,
  .editing-controls {
    flex: 1;
    height: 100%;
    justify-content: flex-start;
  }
  .openstax-exercise-preview {
    max-width: 800px;
  }

  .editing-controls {
    margin-right: 1rem;
    position: relative;
    min-width: 700px;
    .add-mpq {
      float: right;
    }

  }

  .exercise-preview > .openstax-exercise-preview {
    height: inherit;
  }

}
