&-exercise-badges {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4rem;
  margin: 1rem 0;
  color: $openstax-book-gray;
  .icon {
    height: 20px;
    margin-right: 0.6rem;
  }
  span {
    display: flex;
    align-items: center;
    & + span { margin-left: 8px; }
  }
  svg {
    margin-right: 0;
  }
}
