.export-button {
  position: absolute;
  right: 0;
  top: 0;

  .export-button-buttons {
    text-align: right;
  }
  .btn {
    margin-top: 0;
    margin-bottom: 0;

    &@{btn-preselector}:disabled {
      margin: 0;
    }
  }
  .export-button-time {
    .clearfix();
    margin-right: 10px;
  }
  #downloadExport {
    display: none;
  }
}

.tutor-downloader {
  width: 0;
  height: 0;
  float: right;
}
