.scores-report {
  // negates bottom padding on body to eliminate scrollbar
  margin-bottom: -50px;

  .blank {
    background: white;
    height: 100%;
    padding: 0;
  }

  .nav-tabs {
    .tutor-nav-tabs();

    li.active {
      border: 1px solid @nav-tabs-border-color;
      border-bottom: none;
    }
  }
  &.panel {
    max-width: 100%;
  }
  .course-scores-title {
    font-size: 3rem;
    padding-bottom: 20px;
    display: inline-block;
  }
  .course-scores-container {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  // removes the display as table, table-row & table-cell
  // from the wrappers so the "width:100%" rule is effective on .header-cell
  .public_fixedDataTable_header {
    .public_fixedDataTableCell_wrap1,
    .public_fixedDataTableCell_wrap2,
    .public_fixedDataTableCell_wrap3 {
      display: block;
      width: 100%;
      height: inherit;
    }
  }

  .fixedDataTableLayout_main {
    border: none;
  }

  .header-cell {
    .no-select();
    cursor: pointer;
    background: @tutor-white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    &.is-ascending,
    &.is-descending {
      padding-right: 20px;
      &:after {
        position: absolute;
        right: 8px;
        top: 15px;
        .fa-icon();
      }
    }
    &.is-ascending::after  { content: @fa-var-sort-asc;  }
    &.is-descending::after { content: @fa-var-sort-desc; }

    &[data-assignment-type] {
      height: 100%;
    }

    .tutor-plan-set(heading);
    &.concept-coach {
      height: 100%;
    }
  }

  .scores-cell,
  .assignment-header-cell,
  .student-name {
    width: 100%;
    height: 100%;
    display: block;
  }

  .scores-cell,
  .assignment-header-cell {
    .tutor-plan-set(cell);
  }

  a.scores-cell:hover {
    .tutor-plan-set(cell-active);
  }

  i.late {
    .tutor-late-icon();
    padding-left:8px;
  }
  .public_fixedDataTable_header,
  .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background: @tutor-white;
  }
  .assignment-header-cell {
    padding: 0;

    > div {
      display: block;
      width: 100%;
      height: 50%;
      padding: 8px;
    }

    > div:nth-child(even) {
      background-color: @tutor-neutral-lighter;
    }

    &[data-assignment-type] {
      font-weight: 400;
    }

    .review-plan {
      &@{btn-preselector}.btn {
        margin: 3px 0;
        float: right;
        padding: 0 10px;
      }
    }

    .summary {
      font-weight: 600;
    }

    span.review-plan {
      color: @tutor-neutral;
    }
  }

}
