.scores-report.cc {
  @table-row-height: 46px;

  .header-cell {
    .no-select();
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    &.is-ascending,
    &.is-descending {
      &:after {
        position: absolute;
        right: 8px;
        top: 15px;
        .fa-icon();
      }
    }
    &.is-ascending::after  { content: @fa-var-sort-asc;  }
    &.is-descending::after { content: @fa-var-sort-desc; }

    &[data-assignment-type] {
      height: 100%;
    }

    .tutor-plan-set(heading);
    &.title {
      padding: 8px;
      cursor: default;
    }
    &.sortable:hover {
      background: @tutor-neutral-lightest;
      .transition(background 0.2s);
    }
  }

  .scores-cell,
  .assignment-header-cell,
  .student-name {
    width: 100%;
    height: 100%;
    display: block;
  }

  .scores-cell,
  .assignment-header-cell {
    .tutor-plan-set(cell);
  }

  a.scores-cell:hover {
    .tutor-plan-set(cell-active);
  }

  i.late {
    .tutor-late-icon();
    padding-left:8px;
  }
  .public_fixedDataTable_header,
  .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background: @tutor-white;
  }
  .assignment-header-cell {
    padding: 0;

    > div {
      display: block;
      width: 100%;
      height: @table-row-height;
      padding: 8px;
    }

    > div:nth-child(even) {
      background-color: @tutor-neutral-lighter;
    }

    &[data-assignment-type] {
      font-weight: 400;
    }
    .average-label {

    }
    .average {
      font-weight: 600;
      .align-center();
    }
    .label-cell {
      padding: 0px;
      font-weight: 600;
    }
    .student-header {
      padding: 0px;
      .student-id, .student-name {
        text-align: left;
        padding-left: 8px;
      }
    }
  }

  .align-center() {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  // concept coach cells that are split
  .cc-cell,
  .name-cell {
    & > * {
      line-height: @table-row-height;
      display: inline-block;
      width: 50%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
      &:first-child {
        border-right: 1px solid @nav-tabs-border-color;
      }
    }

  }
  .cc-cell {
    .worked {
      height: @table-row-height;
      svg {
        padding-top: 6px;
        overflow: visible;
      }
    }
  }
  .name-cell {
    .name, .student-id {
      text-align: left;
      padding-left: 8px;
    }
  }

  .name-cell .student-id {
    font-size: 1.15rem;
  }

  .pie-progress {
    .slice {
      fill: lighten(@tutor-neutral,30%);
      stroke: lighten(@tutor-neutral,30%);
    }
  }

  .filter-row {
    width: 100%;
    height: 70px;
    display: block;
    div {
      float: left;
    }
    div + div {
      margin-left: 10px;
    }
    .filter-group {
      box-shadow: none;
      button {
        border-radius: 0px;
        &.btn-primary {
          border: @tutor-tertiary-light;
          background: @tutor-tertiary-light;
          height: 32px;
        }
      }
    }
    .filter-item {
      &:first-child {
        width: 250px;
      }
      float: left;
      display: flex;
      align-items: center;
      .filter-label {
        font-size: 1.4rem;
      }
      .filter-button {

      }
    }
  }

}
