.scores-report.cc {
  @table-row-height: 46px;
  @pie-color: lighten(@tutor-neutral,10%);
  @pie-bg-color: lighten(@tutor-neutral,40%);
  @pie-color-hover: #0DC0DC;
  @finished-icon-size: 24px;

  .nav.nav-tabs {
    clear: both;
  }

  .header-cell {
    .no-select();
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    &.is-ascending,
    &.is-descending {
      &:after {
        position: absolute;
        right: 8px;
        top: 15px;
        .fa-icon();
      }
    }
    &.is-ascending::after  { content: @fa-var-sort-asc;  }
    &.is-descending::after { content: @fa-var-sort-desc; }

    &[data-assignment-type] {
      height: 100%;
    }

    
    &.title {
      .tutor-plan-set(heading);
      padding: 8px;
      cursor: default;
      text-align: center;
    }
    &.sortable:hover {
      background: @tutor-neutral-lightest;
      .transition(background 0.2s);
    }
  }

  .overall-border-style() {
    border-style: solid;
    border-color: @tutor-tertiary-light;
  }

  .overall-border-top() {
    border-width: 2px 3px 0px 2px;
    .overall-border-style();
  }

  .overall-border-middle() {
    border-width: 0px 3px 0px 2px;
    .overall-border-style();
  }

  .overall-border-bottom() {
    border-width: 0px 3px 2px 2px;
    .overall-border-style();
  }

  .overall-header-cell {
    text-align: center;
    background: @tutor-info-bg;
    height: 100%;
    .overall-border-top();
  }

  .overall-average-cell {
    .overall-border-middle();
    padding: 0;
    .average {
      height: @table-row-height;
      span {
        .align-center();
        padding: 8px;
      }
      &.empty {
        background: @tutor-neutral-lighter; 
      }
    }
  }

  .overall-cell {
    .align-center();
    .overall-border-middle();
    &.bottom {
      .overall-border-bottom();
      height: @table-row-height - 1;
      padding-top: 7px;
    }  
  }

  .scores-cell,
  .assignment-header-cell,
  .student-name {
    width: 100%;
    height: 100%;
    display: block;
  }

  .scores-cell,
  .assignment-header-cell {
    .tutor-plan-set(cell);
  }

  a.scores-cell:hover {
    .tutor-plan-set(cell-active);
  }

  i.late {
    .tutor-late-icon();
    padding-left:8px;
  }
  .public_fixedDataTable_header,
  .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background: @tutor-white;
  }
  .assignment-header-cell {
    padding: 0;

    > div {
      display: block;
      width: 100%;
      height: @table-row-height;
      padding: 8px;
    }

    > div:nth-child(even) {
      background-color: @tutor-neutral-lighter;
    }

    &[data-assignment-type] {
      font-weight: 400;
    }
    .average-label {
      .help {
        font-style: italic;
        font-size: 1.2rem;
        color: @tutor-neutral;
      }
    }


    .average-cell {
      padding: 0;
      > span {
        line-height: @table-row-height;
        display: inline-block;
        width: 50%;
        text-align: center;
      }
    .average {
      font-weight: 600;
      border-right: 1px solid @nav-tabs-border-color;
      &.wide {
        width: 100%;
      }
    }
    .review-link {

    }

    }
    .label-cell {
      padding: 0px;
      font-weight: 600;
    }
    .student-header {
      .header-cell {
        width: 100%;
      }
      padding: 0px;
      .student-name {
        text-align: left;
        padding-left: 8px;
      }
    }
  }

  .align-center() {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  // concept coach cells that are split
  .cc-cell {
    & > * {
      line-height: @table-row-height;
      display: inline-block;
      width: 50%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
      &:first-child {
        border-right: 1px solid @nav-tabs-border-color;
      }
    }

  }
  .cc-cell {
    .not-started {
      color: @tutor-tertiary-light;  
    }
    .worked {
      height: @table-row-height;
      svg {
        padding-top: 6px;
        overflow: visible;
      }
      .finished {
        width: @finished-icon-size;
        height: @finished-icon-size;
        fill: @tutor-secondary;
      }
      &:hover .finished {
        fill: @pie-color-hover;
      }
      .pie-progress {
        .slice {
          fill: @pie-color;
          mask: url(#dividers);
        }
        &:hover .slice {
          fill: @pie-color-hover;
        }
        .dividers rect {
          fill: @tutor-white;
        }
        .backdrop {
          fill: @pie-bg-color;
          mask: url(#dividers);
        }
      }
      .trigger-wrap {
        padding: 10px;
      }
    }
  }
  .name-cell {
    .name {
      text-align: left;
      padding-left: 8px;
    }
  }



  .filter-row {
    width: 100%;
    height: 70px;
    display: block;
    div {
      float: left;
    }
    div + div {
      margin-left: 10px;
    }
    .filter-group {
      box-shadow: none;
      button {
        border-radius: 0px;
        &.btn-primary {
          border: @tutor-tertiary-light;
          background: @tutor-tertiary-light;
          height: 32px;
        }
      }
    }
    .filter-item {
      &:first-child {
        width: 250px;
      }
      float: left;
      display: flex;
      align-items: center;
      .filter-label {
        font-size: 1.4rem;
      }
    }
  }

}

.cc-scores-tooltip-completed-info {
  @completed-popover-row-height: 30px;
  height: @completed-popover-row-height * 3;
  .popover-content {
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
  .info {
    display:table;
    .row {
      display: table-row;
      &:nth-child(1) {
        background: darken(@tutor-info-bg, 5%);
      }
      &:nth-child(2) {
        color: @tutor-neutral;
      }
      &:nth-child(3) {
        background: @tutor-neutral-lighter;
        color: @tutor-black;
      }
      div {
        font-weight: bold;
        width: 150px;
        height: @completed-popover-row-height;
        vertical-align: middle;
        display: table-cell;
        padding-left: 20px;
      }
    }
  }

}
