// This file is part of the book-content mixin and should not be included directly
.grasp-check {
  margin: 68px 0 32px 0;
  padding: 20px 0;
  clear: both;
  display: inline-block;
  border-top: solid 8px @tutor-secondary;
  &:before {
    position: absolute;
    content: attr(data-label);
    #fonts > .sans(@tutor-book-ui-top-height - 18px, @tutor-book-ui-top-height);
    font-weight: 900;
    padding: 0 40px;
    height: @tutor-book-ui-top-height;
    display: inline-block;
    margin: -68px 0 0 0px;
  }
}
