@tutor-book-hs-physics-primary:  rgb(244, 118, 65); // orange
@tutor-book-hs-physics-secondary:   rgb(35, 48, 102); // dark blue
@tutor-book-hs-physics-tertiary:   rgb(119, 175, 65); // green
@tutor-book-hs-physics-quaternary: rgb(244, 208, 25); // yellow
@tutor-book-hs-physics-highlight: rgb(255, 255, 187); // pale yellow


