@tutor-book-hs-physics-primary:  @tutor-tertiary; // blue
@tutor-book-hs-physics-secondary:   @tutor-secondary; // green
@tutor-book-hs-physics-tertiary:   rgb(119, 175, 65); // green
@tutor-book-hs-physics-quaternary: rgb(244, 208, 25); // yellow
@tutor-book-hs-physics-highlight: rgb(255, 255, 187); // pale yellow


