$orange: rgb(244, 118, 65);
$green: rgb(119, 175, 66);
$dark-blue: rgb(35, 48, 102);
$dull-blue: rgb(2, 126, 181);
$dark-dull-blue: rgb(0, 100, 160);
$yellow: rgb(244, 208, 25);

$pale-yellow: rgb(255, 255, 187);
$light-green: rgb(139, 199, 83);
$light-blue: rgb(52, 189, 216);
$teal: rgb(13, 192, 222);
$tangerine: rgb(255, 189, 62);

$red: rgb(202, 32, 38);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$openstax-blue: rgb(0, 125, 164);          // #007DA4
$openstax-neutral-light-blue: rgb(13, 192, 220);  // #0DC0DC
$openstax-gold: rgb(254, 189, 62);        // #FDBD3E
$openstax-gray: rgb(94, 96, 98);          // #5E6062

$openstax-primary: $orange;
$openstax-secondary: $green;
$openstax-tertiary: $dark-blue;
$openstax-quaternary: $yellow;
$openstax-highlight: $pale-yellow;

$openstax-secondary-neutral-light: $light-green;
$openstax-tertiary-neutral-light: $light-blue;

$openstax-success: $openstax-secondary;
$openstax-info: $openstax-tertiary-neutral-light;
$openstax-info-bg: tint($openstax-info, 80%); // even lighter blue
$openstax-warning: $openstax-quaternary;
$openstax-danger: $red; // red

$reading-color: $tangerine;
$homework-color: $openstax-tertiary-neutral-light;
$external-color: $openstax-tertiary;
$event-color: $openstax-secondary;
$extras-color: $openstax-primary;

$openstax-white: $white;
$openstax-neutral-lightest: rgb(249, 249, 249); // nearly white
$openstax-neutral-bright: rgb(245, 245, 245); // bright gray
$openstax-neutral-lighter: rgb(241, 241, 241); // light gray
$openstax-neutral-light: rgb(229, 229, 229); // light gray
$openstax-neutral-medium: rgb(160, 160, 160); // light gray
$openstax-neutral: rgb(129, 129, 129); // gray
$openstax-neutral-dark: rgb(95, 97, 99); // dark gray
$openstax-neutral-darker: rgb(66, 66, 66); // very dark gray
$openstax-black: $black;

$openstax-correct-color: $openstax-success;
$openstax-correct-background: lighten(saturate($openstax-success, 60%), 38%);
$openstax-incorrect-color: $openstax-danger;
$openstax-incorrect-background: lighten($openstax-danger, 55%);

$page-background: $openstax-neutral-lighter;
$footer-background: $openstax-neutral-bright;
$border-color: $openstax-neutral-light;

$form-error-color: #E35C3B;

$link-color: darken($openstax-info, 5%);
$exercise-question-uid-color: lighten($openstax-neutral,20%);

// NOTE: Make borders and input background colors one of the above grays with a high opacity so it works on
//       multiple backgrounds.
