.dashboard-header-links {
  .link {
    color: @tutor-tertiary-light;
    text-transform: capitalize;
    margin-left: 10px;
    &.btn {
      padding: 0;
    }
  }
}
.dashboard-table-header {
  font-size: 1.2rem;

  > div {
    text-align: left;
  }
  span.progress-legend {
    font-size: 1rem;
  }
}

.chapter {
  .name {
    font-size: 2rem;
    padding: 1.5rem 0;
  }
  // both chapter and section labels
  .chapter-section {
    width: 3.5rem;
    display: inline-block;
    color: @tutor-black;
  }

  .section {
    border-bottom: 1px solid @table-bg-accent;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .reading-progress-bar {
      .transition(width 0s);
      margin-bottom: 0;
      font-size: 0.9rem;

      &::after {
        content: attr(type);
        position: absolute;
        bottom: -@progress-on-hover-label-height;
        left: 50%;
        width: 100px;
        margin-left: -50px;
        text-align: center;
        color: @tutor-neutral;
        .opacity(0);
        .transition(opacity 1s);
      }

      &:hover {
        &::after {
          .opacity(1);
        }
      }
      &:not(.no-progress) {
        min-width: 20px;
      }
    }

    .reading-progress-group.none-completed {
      font-size: 0.9rem;
      background: @gray-lighter;
      color: @tutor-neutral-darker;
      width: 100%;
    }
  }
}
