.cc-dashboard {
  @banner-height: 120px;
  .column-legend {
    span {
      color: @tutor-neutral;
      #fonts .sans(1.2rem, 1.2rem);
      font-weight: 300;
      font-style: italic;
    }

    .tutor-icon {
      margin-left: 0.5rem;
    }
    // hack so long text will barely fit
    div:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  a.detailed-scores{
    float: right;
    margin: -10px 0 0 0;
  }
  .hide-section-legend {
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;
  }
  .chapter {

    &.empty {
      border-bottom: 1px solid @tutor-neutral-light;
      .name {
        padding-bottom: 0px;
      }
      .msg {
        text-align: center;
        #fonts .sans(1.4rem, 1.4rem);
        font-weight: 300;
        font-style: italic;
        line-height: 3rem;
      }
    }

    .name {
      font-size: 2rem;
      padding: 1.5rem 0;
    }

    // both chapter and section labels
    .chapter-section {
      width: 3.5rem;
      display: inline-block;
      color: @tutor-black;
    }

    .section {
      border-bottom: 1px solid @tutor-neutral-light;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &:nth-child(even) {
        background-color: @tutor-neutral-lightest;
      }

      .reading-progress-bar {
        .transition(width 0s);
        margin-bottom: 0;
        font-size: 0.9rem;

        &::after {
          content: attr(type);
          position: absolute;
          bottom: -@progress-on-hover-label-height;
          left: 50%;
          width: 100px;
          margin-left: -50px;
          text-align: center;
          color: @tutor-neutral;
          .opacity(0);
          .transition(opacity 1s);
        }

        &:hover {
          &::after {
            .opacity(1);
          }
        }
        &:not(.no-progress) {
          min-width: 20px;
        }
      }

      .reading-progress-group.none-completed {
        font-size: 0.9rem;
        background: @gray-lighter;
        color: @tutor-neutral-darker;
        width: 100%;
      }
    }
  }
  .nav-tabs {
    .tutor-nav-tabs();
  }
  .tutor-booksplash-background {
    height: @banner-height;
    &:before {
      height: @banner-height;
      font-size: 88px;
      text-align: left;
      padding-left: 50px;
      padding-right: 50px;
      line-height: @banner-height;
    }
  }

  .blank-course {
    .title {
      background-color: @tutor-quaternary;
      height: @banner-height;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      line-height: @banner-height;
      font-size: 3.5rem;
      padding-left: 50px;
    }
    .body {
      padding-top: @banner-height + @jumbotron-padding;
      width: @tutor-task-width;
      margin: 0 auto;
    }
    .side-by-side {
      display: flex;
    }
    .help {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // override flat styles
      :not(.btn-link):not(.btn-flat):not(.btn-fab).btn{
        align-self: center;
        color: @tutor-white !important;
        background-color: @tutor-primary !important;
      }
    }
    svg.desktop {
      margin-left: 20px;
      .banner       { fill: @openstax-book-default-bg; }
      .banner-light { fill: lighten(@openstax-book-default-bg, 10%); }
      .course-name {
        #fonts > .book-cover();
        font-size: 15px;
        fill: @openstax-book-default-fg;
      }

      .apply-svg-image-styling(@code; @fg; @bgvar) {
        @bg: @@bgvar; // lighten doesn't like double @@
        &.@{code}{
          .banner       { fill: @bg; }
          .banner-light { fill: lighten(@bg, 10%); }
          .course-name  { fill: @@fg; }
        }
      }
      .for(@openstax-book-appearance-codes); .-each(@code) {
        .apply-svg-image-styling(@code, "openstax-book-@{code}-fg", "openstax-book-@{code}-bg");
      }

    }
  }


}
