.reference-book {
  .exercise[data-type=exercise] {
    margin-bottom: 40px;
    .question {
      padding: 0;
    }
		.solution {
			display: none;
		}
  }

  .reference-book-missing-exercise {
    opacity: 0.75;
  }
}
