.reference-book {

  $navbar-spacing: 15px;
  .navbar {
    height: $tutor-navbar-height; // set in global/navbar.scss
    // override responsive collapse when screen is small,
    // we handle hiding items via media rules instead
    .navbar-nav,
    .navbar-nav > li {
      margin: 0;
      float: left;
      &.navbar-right { float: right; }
    }
    .ui-brand-logo { margin: $navbar-spacing 0 0 $navbar-spacing; }
    .container-fluid {
      padding: 0;
    }
    ul.nav > li > a {
      margin: 0 $navbar-spacing 0 0;
      padding: 0;
      line-height: $tutor-navbar-height;
    }
    .menu-toggle {
      padding-left: $navbar-spacing;
      height: $tutor-navbar-height;
      cursor: pointer;
      svg { margin-top: $navbar-spacing; }
    }

    .section-title {
      font-size: 1.8rem;
      margin: 0 0 0 2rem;
      padding-top: 14px;
      display: flex;
      max-width: calc("100% - 550px");
      .chapter-section {
        margin-right: 0.5rem;
        text-align: center;
      }
      .title {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .teacher-edition {
    .no-content { color: $tutor-neutral-light; }
  }
  // hide non-important items when the screen gets narrow
  @media screen and ( max-width: $reference-book-page-width ){
    .full-width-only { display: none; }
  }

  &.menu-open {
    .menu-toggle {
      border-right: 1px solid $tutor-neutral-light;
      background: $tutor-neutral-lightest;
    }
  }

}
