.reference-book {

  .page-navigation {
    .page-navigation-arrows(@reference-book-page-width);

    @media screen and ( max-width: @book-content-collapse-breakpoint ){
      width: (100% - @reference-book-collapse-width) / 2;
    }
  }

  &.menu-open {
    @media screen and (min-width: (@reference-book-page-width + @reference-book-menu-width + 50px) ) {
      .page-navigation {
        width: calc(~"50% - " (@reference-book-page-width+@reference-book-menu-width) / 2 );
        &.prev { margin-left: @reference-book-menu-width; }
      }
    }
  }
}
