@import '../new-course/styles';
@import '../../../resources/styles/components/choices-listing';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/list-group';
@import '../../../resources/styles/components/ox-fancy-loader';

.new-course-wizard {
  background-color: white;
  &::before {
    top: 0;
  }
  .panel-heading {
    line-height: 1.5em;
    font-weight: 800;
  }

  .new-course-wizard.offering .panel-heading {
    align-items: flex-start;
    text-align: left;
  }
}
