.ap-connection{
  background: @tutor-neutral-lightest;
  margin: 40px 0 32px 0;
  clear: both;
  border-top: solid 8px @tutor-neutral-lighter;
  border-bottom: solid 8px @tutor-neutral-lighter;
  padding: 20px 40px;
  p {
    #fonts > .sans(1.8rem, 1.75em);
    color: @tutor-neutral-dark;
    }
  &:before {
    display: none;
    position: absolute;
    //content: attr(data-type);
    #fonts > .sans(@reading-ui-banner-height - 18px, @reading-ui-banner-height);
    font-weight: 900;
    color: @tutor-primary;
    background: @tutor-secondary;
    padding: 0 40px;
    height: @reading-ui-banner-height;
    display: inline-block;
    margin: -68px 0 0 -40px;
  }
  [data-type="title"] {
    #fonts > .sans(3rem, 4.6rem);
    font-weight: 900;
    border: 0;
    margin-top: 0;
    padding-top: 0;
  }
}
// .ap-connection {
//   border:  solid 1px  @tutor-neutral-dark;
//   padding: 0 20px;
//    margin: 20px;
//   margin-bottom: 20px;
//   >[data-type=title]{
//     .book-content-subtitle();
//     background: @tutor-neutral-dark;
//     color: @tutor-white;
//     padding: 10px 20px;
//     margin: 0 -20px 20px -20px;
//   }
//   // [data-type=title] {
//   //   .book-content-subtitle();
//   //   margin: 0;
//   //   text-transform: none;
//   // }
// }