  @tutor-primary:  rgb(95, 97, 99); // dark gray
  @tutor-secondary:   rgb(119, 175, 65); // green
  @tutor-tertiary: rgb(35, 48, 102); // dark blue
  @tutor-quaternary: rgb(244, 208, 25); // yellow
  @tutor-highlight: rgb(255, 255, 187); // pale yellow
  @reading-ui-banner-height: 40px;

//rgb(244, 118, 65); // orange


@tutor-white: white;
@tutor-neutral-lightest: rgb(249, 249, 249); // nearly white
@tutor-neutral-bright: rgb(245, 245, 245); // bright gray
@tutor-neutral-lighter: rgb(241, 241, 241); // light gray
@tutor-neutral-light: rgb(229, 229, 229); // light gray
@tutor-neutral: rgb(129, 129, 129); // gray
@tutor-neutral-dark: rgb(95, 97, 99); // dark gray
@tutor-neutral-darker: rgb(66, 66, 66); // very dark gray
@tutor-black: black;


w