@calendar-header-padding: 2rem;
.list-task-plans {
  .controls-wrapper {
    background-color: white;
    padding-bottom: 0;
  }
  .controls-wrapper > .calendar-header {
    .flex-display();
    .flex-direction(row);
    .flex-flow(row wrap);

    // expand "no sections" message so it completely fills course
    .no-periods-message { min-width: 100%; }

    .btn-default {
      background-color: @tutor-neutral-lightest;
    }

    .btn-default {
      background-color: @tutor-neutral-lightest;
    }

    .sidebar-toggle {
      text-align: center;
      padding: 9px;
      width: @calendar-sidebar-width;
      background-color: @tutor-primary;
      color: white;
      .tutor-icon { margin-right: 2rem; }
      &.open { background-color: @tutor-neutral-lite; }
    }
    .calendar-header-actions-buttons {
      .flex-display();
      .flex(auto);
      .justify-content(flex-end);
      > * { margin-left: 0.5rem; }
    }

    @media (max-width: 1050px) {
      .flex-direction(column-reverse);
      .sidebar-toggle {
      }
      .calendar-header-actions-buttons {
        margin-bottom: 20px;
      }
    }

    .no-periods-text {
      display: block;
    }
  }

  .calendar-header {
    &-actions {
      border-bottom: 1px solid @tutor-neutral-light;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &-navigation {
      text-align: center;
      font-size: 3rem;
      padding: @calendar-header-padding 0;
      display: flex;
      justify-content: center;
    }

    &-label {
      font-weight: stronger;

    }

    &-control {
      .no-select();
      color: @tutor-neutral-darker;
      padding: 0 @calendar-header-padding;
      display: inline-block;

      &.previous {
        float: left;
      }

      &.next {
        float: right;
      }

      &:hover {
        color: @tutor-neutral;
        text-decoration: none;
      }
      &:active, &:visited {
        text-decoration: none;
      }
    }
  }
}
