// TODO make this a mixin for flexible calendaringggg

@calendar-cell-width: calc(100%/7);
@calendar-cell-height: 10rem;

.bootstrap-column-padding-override() {
  // Overriding bootstrap's tricks for nice column floating.
  // To help with calendar plans width rendering.  May be useful elsewhere.  Be careful when using --
  // removes padding of columns.
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.calendar-cell(@cell-width) {
  display: inline-block;
  width: @cell-width;
  height: inherit;
  padding: 5px;
  .no-select();
}


.calendar-container{
  .bootstrap-column-padding-override();
  padding-bottom: @tutor-card-body-padding-vertical;

  .calendar-body {
    background-color: @openstax-white;
    .tutor-shadow(3);
  }

  .month-wrapper {
    .tutor-subtle-load(will-load; 'Loading ' attr(data-duration-name) '...');
  }


  &.calendar-loading {
    .month-wrapper {
      .tutor-subtle-load(loading);
    }

    .plan {
      opacity: 0.1;
    }
  }
  .month-wrapper {
    position: relative;
    margin: 0 10px 10px 10px;

    &.is-dragging {
      .rc-Day--upcoming,
      .rc-Day--current {
        &.hovered {
          border: 1px solid @openstax-tertiary-light;
        }
      }
      .rc-Day--past {
        &.hovered {
           background: fade(@openstax-danger, 10%);
        }
      }
    }
  }
  .rc {
    &-Calendar {
      width: 100%;
      &-header {
        width: 100%;
        text-align: center;
        font-weight: bolder;
      }
    }
    &-Month {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &-weekdays {
        width: 100%;
        background-color: @openstax-white;
        &-weekday {
          .calendar-cell(@calendar-cell-width);
          text-align: center;
          height: 2rem;
          font-weight: bolder;
        }
      }
      &--current {
        .rc-Month-header {
          color: @openstax-primary;
        }
      }

      &::after {
        opacity: 0;
      }
    }
    &-Week {
      width: 100%;

      // Note: property below subject to change based on data
      // See CALENDAR_DAY_DYNAMIC_HEIGHT in CourseMonth component
      height: @calendar-cell-height;

      &-number {
        color: @gray-light;
        .calendar-cell(@calendar-cell-width);
      }
      &-days {
        width: 100%;
        height: 100%;
        border-left: 1px solid @openstax-neutral-light;
        display: inline-block;
      }
      &:last-child {
        .rc-Week-days {
          border-bottom: 1px solid @openstax-neutral-light;
        }
      }
    }
    &-Day {
      .calendar-cell(@calendar-cell-width);
      border-top: 1px solid @openstax-neutral-light;
      border-right: 1px solid @openstax-neutral-light;
      position: relative;
      cursor: default;
      line-height: 1.5rem;
      text-align: right;

      &--upcoming {
        cursor: pointer;

        &:hover, &.active {
          background-color: fade(@openstax-tertiary-light, 10%);
          &::after{
            content: '+';
            font-size: 2rem;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            color: @openstax-tertiary-light;
          }
        }
      }

      &--past {
        color: @openstax-neutral;
        background-color: @openstax-neutral-lightest;
      }

      &--outside {
        color: @openstax-neutral-light;
      }

      &--current {
        color: @openstax-primary;
        font-weight: bold;
      }
    }
  }
}
