.add-assignment-sidebar {
  border-right: 1px solid @tutor-neutral-light;
  position: absolute;
  width: @calendar-sidebar-width;
  height: 100%;
  background-color: @tutor-neutral-lightest;
  padding: 0;
  display: flex;
  flex-direction: column;

  .sidebar-section {
    padding: 1rem;
  }

  .section-label {
    margin-left: 10px;
    font-size: 1.3rem;
    color: @tutor-tertiary;
    font-weight: 600;
  }
  .draggable() {
    &.is-dragging {
      > * { visibility: hidden; }
      background-color: @tutor-neutral-light;
      box-shadow: inset 0 0 10px @tutor-neutral-lite;
    }
    &:not(.is-dragging) {
      &:hover {
        .tutor-shadow(3);
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      .no-select();
      .draggable();
      padding-left: 10px;
      border-left: 4px solid transparent;

      &:hover {
        .tutor-plan-set(sidebar);
      }

      a {
        padding: 3px 12px;
        color: @tutor-neutral-darker;
        &:hover, &:focus { text-decoration: none; }
      }
    }
  }

  .task-plan,
  .new-task {
    border-radius: @border-radius-base;
  }

  .past-assignments {
    background: rgba(0, 0, 0, 0.02);
    border-top: 1px solid @tutor-neutral-light;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .task-plan{
      .tutor-plan-set(sidebar);
      .draggable();
      cursor: move;
      display: flex;
      align-items: center;
      padding-left: 10px;
      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 12px;
        &:hover {
          direction:rtl;
          text-align:left;
        }
      }

    }
  }

}
