.add-assignment-sidebar {
  border-right: 1px solid @tutor-neutral-light;
  position: absolute;
  width: @calendar-sidebar-width;
  height: 100%;
  background-color: @tutor-neutral-lightest;
  padding: 0;
  display: flex;
  flex-direction: column;

  .sidebar-section {
    padding: 1.5rem 1.5rem 1rem 1rem;
  }

  .section-label {
    margin-left: 10px;
    font-size: 1.3rem;
    color: @tutor-tertiary;
    font-weight: 800;
    text-transform: uppercase;
  }
  .draggable() {
    cursor: move;

    a {
      cursor: move;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }

    &.is-dragging,
    &.is-editing {
      .element-is-dragging();
    }
    &:not(.is-dragging):not(.is-editing) {
      &:hover {
        .tutor-shadow(draggable);
      }
    }
    &.is-editing {
      cursor: not-allowed;
    }
  }

  #drag-intro {
    // Manually position for now.
    left: 100% !important;
    top: -32px !important;
    position: absolute;
    text-align: left;
    width: 180px;
    border-radius: 0;
    .tutor-shadow(3);

    p {
      margin-bottom: 1rem;
    }

    .popover-content {
      padding: 1.5rem;
    }

    .btn {
      float: right;
      color: @openstax-info;
      background: @state-info-bg;
      border: none;
      font-weight: 800;
      margin-bottom: 1.5rem;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    &.is-intro {
      li:first-child {
        .tutor-plan-sidebar(@reading-color);
        border-color: @reading-color;
        .tutor-shadow(draggable);
      }
    }

    li {
      .no-select();
      .draggable();
      padding-left: 10px;
      border-left: 4px solid transparent;
      line-height: 3.6rem;
      position: relative;

      &:hover {
        .tutor-plan-set(sidebar);
      }

      a {
        padding: 3px 12px;
        color: @tutor-neutral-darker;
        &:hover, &:focus { text-decoration: none; }
      }
    }
  }

  .task-plan,
  .new-task {
    border-radius: @border-radius-base;
  }

  .past-assignments {
    background: rgba(0, 0, 0, 0.03);
    border-top: 1px solid @tutor-neutral-light;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .task-plan {
      .tutor-plan-set(sidebar);
      .draggable();
      display: flex;
      align-items: center;
      padding-left: 10px;
      line-height: 3.6rem;
      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 12px;
        &:hover {
          direction:rtl;
          text-align:left;
        }
      }

    }
  }

}
